<template>
        <form class="mb-5" @submit.prevent="submitForm" ref="form" id="webinarform">
                  <!-- <div class="form-group">
                        <label for="email">Type*</label>
                        <select name="type" id="" v-model="type" class="form-control">
                                <option value="webinar">Webinar Registration</option>
                                <option value="demo">Request for Demo</option>
                        </select>
                </div> -->
                <div class="row">
                        <div class="form-group col-md-6">
                                <label for="fname">First Name*</label>
                                <input type="text" class="form-control" required name="first_name" id="fname">
                        </div>
                        <div class="form-group col-md-6">
                                <label for="lname">Last Name*</label>
                                <input type="text" class="form-control" required name="last_name" id="lname">
                        </div>
                </div>
      

                <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" class="form-control" required name="email" id="email">
                </div>

                <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" name="company" id="company">
                </div>

                <div v-if="type == 'webinar'">
                        <!-- <label for="">Here are the dates for the webinars:</label>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" value="Wednesday 13th May @ 10-11am" name="schedule" id="Wednesday 13th May @ 10-11am">
                                <label class="form-check-label" for="Wednesday 13th May @ 10-11am">
                                Wednesday 13th May @ 10-11am
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" value="Thursday 21st May @ 3-4pm" name="schedule" id="Thursday 21st May @ 3-4pm">
                                <label class="form-check-label" for="Thursday 21st May @ 3-4pm">
                                Thursday 21st May @ 3-4pm
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" value="Monday 25th May 12-1pm" name="schedule" id="Monday 25th May @ 12-1pm">
                                <label class="form-check-label" for="Monday 25th May 12-1pm">
                                Monday 25th May @ 12-1pm
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" value="Friday 29th May 11-12pm" name="schedule" id="Friday 29th May @ 11-12pm">
                                <label class="form-check-label" for="Friday 29th May 11-12pm">
                                Friday 29th May @ 11-12pm
                                </label>
                        </div> -->

                        <label for="" class="d-block mt-4">How did you know about the webinar?</label>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" value="Social Media" name="webinar_option" id="social">
                                <label class="form-check-label" for="social">
                                Social Media
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio"  value="Word of Mouth" name="webinar_option" id="word">
                                <label class="form-check-label" for="word">
                                Word of mouth
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio"  value="Advertisement" name="webinar_option" id="advertisement">
                                <label class="form-check-label" for="advertisement">
                                Advertisement
                                </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio"  value="Other" name="webinar_option" id="other">
                                <label class="form-check-label" for="other">
                                Other
                                </label>
                        </div>
                </div>
                <div class="text-center mt-5 mb-5">
                        <button  v-show="!showSuccess" type="submit" class="btn btn-lg btn-dark text-white" >
                                <i class="fa fa-spin fa-spinner" v-show="sending"></i>
                                {{ buttonText }}
                        </button>
                        <div v-show="showSuccess">
                                <h4 class="text-orange">Your request has been sent. </h4>
                                Thank you and we will be in touch soon.
                        </div>
                </div>
        </form>
</template>

<script>
export default {
        data(){
                return {
                        sending: false,
                        buttonText: 'Register Today',
                        showSuccess : false,
                        type: 'webinar'
                }
        },
        methods:{
                submitForm(){
                        this.buttonText = 'Sending..'
                        this.sending = true
                        axios.post('/register-webinar', $('#webinarform').serialize())
                                .then( response => {
                                        this.showSuccess = true
                                        this.buttonText = 'Register Today'   
                                        this.sending = false
                                        $('#webinarform').trigger('reset')
                                        setInterval(()=>{
                                             this.showSuccess = false
                                        },5000)
                                })
                                .catch(error => {
                                        this.sending = false
                                        console.log(errror)
                                })
                }
        }
}
</script>

<style>

</style>