<template>
  <div>
    <form class="register-form" @submit.prevent="submitForm" v-if="!success" method="post">
        <div class="form-group">
            <input type="text" required class="form-control"  v-model="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" required  class="form-control" v-model="bisname" placeholder="Business Name">
        </div>
        <div class="form-group">
            <select v-model="bistype" id="inputState" class="form-control">
                <option selected value="">Choose Business Type</option>
                <option value="Ballons Hire" >Balloons Hire</option>
                <option value="Creative Director">Creative Director</option>
                <option value="Décor Hire">Décor Hire</option>
                <option value="Florist">Florist</option>
                <option value="Planner">Planner</option>
                <option value="Prop Hire">Prop Hire</option>
                <option value="Signage and Print">Signage and Print</option>
                <option value="Stationary Supplier">Stationary Supplier</option>
                <option value="Stylist">Stylist</option>
                <option value="Venue">Venue</option>
            </select>
          </div>
        <div class="form-group">
            <input type="email" required class="form-control" v-model="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="text" required class="form-control"  v-model="contact" placeholder="Contact Number">
        </div>
        <button type="submit" class="btn-signup2" v-if="!sending">Submit</button>
        <button type="button" disabled class="btn-signup2" v-if="sending"><i class="fa fa-spin fa-spinner"></i> Submitting..</button>
    </form>
    <div class="success-div text-center" v-if="success">
        <br>
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <h4>Message Sent!</h4>
        <div>We will be in touch soon.</div>
        <br>
    </div>
  </div>
</template>

<script>
export default {
    props:['url'],
    data(){
        return {
            name: '',
            bistype: '',
            bisname: '',
            email: '',
            contact: '',

            sending: false,
            success: false
        }
    },
    methods:{
        submitForm(){
            this.sending = true
            axios.post(this.url,{
                name: this.name,
                bistype: this.bistype,
                bisname: this.bisname,
                email: this.email,
                contact: this.contact,
            })
            .then(response => {

                this.name = ''
                this.bistype = ''
                this.bisname = ''
                this.email = ''
                this.contact = ''
                this.success = true
                this.sending = false

                setTimeout(() => {
                        this.success = false
                    }, 10000)
            })
            .catch( error => {
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .success-checkmark {
        width: 80px;
        height: 115px;
        margin:0 auto;

        .check-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid #e0b775;

            &::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }

            &::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }

            &::before, &::after {
                content: '';
                height: 100px;
                position: absolute;
                background: #FFFFFF;
                transform: rotate(-45deg);
            }

            .icon-line {
                height: 5px;
                background-color: #e2a543;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;

                &.line-tip {
                    top: 46px;
                    left: 14px;
                    width: 25px;
                    transform: rotate(45deg);
                    animation: icon-line-tip 0.75s;
                }

                &.line-long {
                    top: 38px;
                    right: 8px;
                    width: 47px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.75s;
                }
            }

            .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid #c49346;
            }

            .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: #FFFFFF;
            }
        }
    }

    @keyframes rotate-circle {
        0% {
            transform: rotate(-45deg);
        }
        5% {
            transform: rotate(-45deg);
        }
        12% {
            transform: rotate(-405deg);
        }
        100% {
            transform: rotate(-405deg);
        }
    }

    @keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }

    @keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }

</style>
