<template>
    <div>
        <span :style="style" class="shadow-light">&nbsp;</span>
    </div>
</template>

<script>
export default {
    props:['color'],
    computed: {
      style () {
        return 'background-color: ' + this.color.rgb;
      }
    },
}
</script>

<style scoped lang="scss">
    div{
        display: inline-block;

        span{
            margin-right:5px;
            // border-radius: 2em;
            height: 1.2em;
            width: 1.2em;
            display:block; 
            // border: 1px solid #ccc;
            margin-bottom: 0px;
        }
    }
</style>