<template>
    <div>
        <select :name="name" multiple="multiple" class="form-control">
            <slot></slot>
        </select>
    </div>
</template>

<script>
export default {
    name: "select2",
    props: ['options', 'value', 'name', 'placeholder'],
    data(){
        return {
            selectedItem:''
        }
    },
    mounted: function () {
        var vm = this
        $(this.$el)
            .select2({ data: this.options })
            .val(this.value)
            .trigger('change')
            .on('change', function() {
                var selectedItem = $(this).find(':selected').attr('value')
                vm.selectedItem = selectedItem
                vm.$emit('input', selectedItem)

                $(this.$el).trigger('change')
            })
    },
    watch: {
        selectedItem(){
            console.log(this.selectedItem)
        },
        value: function (value) {
            // update value
            $(this.$el)
                .val(value)
                .trigger('change')
        },
        options: function (options) {
            // update options
            $(this.$el).empty().select2({ data: options })
        }
    },
    destroyed: function () {
        $(this.$el).off().select2('destroy')
    }
}
</script>

<style>

</style>
