<template>
  <span>
      <i class="fa fa-star" :class="{ 'fa-star-o text-muted' : rating < 1  }"></i>
      <i class="fa fa-star" :class="{ 'fa-star-o text-muted' : rating < 2  }"></i>
      <i class="fa fa-star" :class="{ 'fa-star-o text-muted' : rating < 3  }"></i>
      <i class="fa fa-star" :class="{ 'fa-star-o text-muted' : rating < 4  }"></i>
      <i class="fa fa-star" :class="{ 'fa-star-o text-muted' : rating < 5  }"></i>
  </span>
</template>

<script>
export default {
    props:['rating']
}
</script>

<style lang="scss" scoped>
  .fa-star{
    color:#f39c12;

    .text-muted{
      color:#6e6453 !important;
    }

  }
</style>
