<template>
    <div class="box-header with-border user-item" :class="{ active: isActive }" @click="setMessages" >
        <div class="user-block">
            <img class="img-circle" :src="updatedConversation.avatar" alt="Avatar">
            <span class="username"><a href="#">{{ updatedConversation.recipient_name }}</a></span>
            <span class="description">{{ updatedConversation.message.substring(0, 30, '...') }}</span>
        </div>
    </div>
</template>
<script>
import { firebaseDb } from "../../../../firebase"
export default {
    props:['conversation', 'userid', 'currentchannel'],
    data(){
        return{
            updatedConversation: this.conversation
        }
    },
    computed:{
        isActive(){
            if(this.currentchannel.channel_id == this.conversation.channel_id){
                return true
            }

            return false
        }
    },
    created(){
        firebaseDb.ref('channels/' + this.userid + "/" + this.conversation.channel_id).on('value', snapshot => {
                this.updatedConversation = snapshot.val()
            })
    },
    methods:{
        setMessages(){
            this.$emit('setMessages', this.conversation)
        }
    }
}
</script>

<style lang="scss" scoped>
    .user-item{
        cursor: pointer;
        border-radius: 5px;

        .username a{
            color:rgb(39, 39, 39);
        }

        &:hover{
            background-color:rgb(245, 245, 245);
        }

        &.active{
            background-color:rgb(235, 235, 235);
        }
    }
</style>