<template>
    <div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:60%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:80%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:40%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:40%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:40%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:40%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:60%"></div>
                </div>
            </div>
        </div>
        <div class="box-header with-border user-item">
            <div class="user-block flex">
                <div class="placeholder-box-animation" style="display:inline-block; width:45px; height:45px; border-radius:50%"></div>
                <div class="flex1" >
                    <div class="placeholder-box-animation mt-2 mb-2 ml-1 " style="height:20px !important;"></div>
                    <div class="placeholder-box-animation mt-1 ml-1 " style="height:15px !important; display:inline-block; width:80%"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    .user-item{
        cursor: pointer;
        border-radius: 5px;

        .username a{
            color:rgb(39, 39, 39);
        }
    }

    .placeholder-box-animation {
                -webkit-animation-duration: 1s;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: placeholderSkeleton;
                -webkit-animation-timing-function: linear;
                background: #f6f7f8;
                background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
                background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
                background-repeat: no-repeat;
        }

        @-webkit-keyframes placeholderSkeleton {
                0% {
                        background-position: -468px 0;
                }
                100% {
                        background-position: 468px 0;
                }
        }

        @-webkit-keyframes skeletonAnimate {
                from {
                        background-position: top left;
                }
                to {
                        background-position: top right;
                }
        }
</style>