<template>
  <div class="main">
        <div class="social-media-options">
                <a href="#" @click.prevent="shareFb" class="btn btn-block btn-sm">
                        <i class="fa fa-facebook"></i>
                </a>
                <a href="#" @click.prevent="shareTwitter" class="btn btn-block btn-sm btn-outline">
                        <i class="fa fa-twitter"></i>
                </a>
                <a href="#" @click.prevent="shareInstagram" class="btn btn-block btn-sm btn-outline">
                        <i class="fa fa-instagram"></i>
                </a>
        </div>
        <button class='btn btn-sm btn-icon' type="button">
                <i class="fa fa-share"></i>
        </button>
  </div>
</template>

<script>
export default {
        props:['link'],
        methods:{
                shareFb(){
                     window.open(`http://www.facebook.com/sharer.php?u=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");    
                },
                shareTwitter(){
                     window.open(`https://twitter.com/share?url=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");    
                },
                shareInstagram(){
                     window.open(`http://www.facebook.com/sharer.php?u=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");    
                },
        }
}
</script>

<style lang="scss" scoped >
        .main{
                display:inline-block;
                position: relative;

                &:hover{
                        .social-media-options{
                                max-height: 110px;
                                background-color:#fff;
                                a{
                                         display: block;
                                }
                        }
                }

                .social-media-options{
                        position: absolute;
                        padding:1px;
                        max-height: 0px;
                        transition: max-height 0.4s;
                        right: 0;
                        bottom: 0;
                        
                        a{
                                border-radius: none;
                                display: none;
                                transition: display 3s;
                                
                                &:hover{
                                        color:#f39c12;
                                }
                        }
                }
        }
</style>