<template>
    <transition>
         <div class="outgoing_msg"  v-if="message.senderId == userid">
            <div class="sent_msg">
                <p>{{ message.message }}</p>
                <span class="time_date"><timeago :datetime="message.timestamp" :auto-update="60"></timeago></span> 
            </div>
        </div>
        <div class="incoming_msg" v-if="message.senderId != userid">
            <div class="incoming_msg_img"> <img :src="message.avatar" :alt="message.sender"> </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                <p>{{ message.message }}</p>
                <span class="time_date ml-2"><timeago :datetime="message.timestamp" :auto-update="60"></timeago></span></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props:['message','userid'],
    created(){
        console.log("hehe")
    }
}
</script>

<style lang='scss' scoped>
     .incoming_msg_img {
        display: inline-block;
        img{
            width: 30px;
            height:30px;
        }
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }
    .received_withd_msg p {
        background: #f5f5f5 none repeat scroll 0 0;
        border-radius: 10px 10px 10px 0px;
        font-size: 16px;
        color: #000;
        margin: 0;
        padding: 5px 10px 5px 12px;
        // width: 100%;
    }
    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
    }

    .received_withd_msg { 
        max-width: 64%;
        display: inline-block;
    }
    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #f39c12 none repeat scroll 0 0;
        border-radius: 10px 10px 0px 10px;
        font-size: 16px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
        // width:100%;
    }

    .outgoing_msg{ 
        overflow:hidden; 
        // margin:26px 0 26px;
    }

    // .incoming_msg{
    //     .incoming_msg_img{
    //         display:none;
    //     }
    // }

    // .incoming_msg:last-of-type{
    //     .incoming_msg_img{
    //         display:inline-block
    //     }
    // }
    
    .sent_msg {
        float: right;
        max-width: 65%;
        display: inline-block;
    }

</style>