<template>
    <div class="col-4 mb-3">
        <div class="card" style="height: 100%;">
            <label :for="`id-${product.thumbnail.id}`">
                <div class="card-img-top bg-secondary" :style="`background-image: url(${product.thumbnail.path}); padding-top:75%; background-size:cover; background-position:center`"></div>
            </label>
            <div class="card-body p-2 text-left">
                <div class="mb-2">
                    {{ product.name }}
                    <div class="text-muted"><i>{{ product.product_type }}</i></div>
                </div>
                <div class="">
                    <div><small><i>By:</i></small> <a href="#" class="text-orange">{{ product.company }}</a></div>
                </div>
                <input :id="`id-${product.thumbnail.id}`" type="checkbox" @change="updateChecked(product.thumbnail)"  :value="product.thumbnail.selected" v-model="product.thumbnail.selected">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['product','project'],
    methods:{
         updateChecked(image){
            if(image.selected){
                axios.post('/user/eventboard/update-images', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 1
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }else{
                axios.post('/user/eventboard/update-images', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 0
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }
        }
    }
}
</script>
<style scoped lang="scss">
    .card{
        .card-img-top{
            cursor:pointer;
        }
        .card-body{
            font-size:0.8em;
            position:relative;

            input[type='checkbox'] {
                -webkit-appearance:none;
                transition: background .3s ease-in-out;
                cursor:pointer;
                width:25px;
                height:25px;
                background:white;
                border-radius:15px;
                display:inline-block;
                position: absolute;
                z-index: 9999;
                border:1px solid #f1efec;
                right: 5px;
                bottom: 5px;
            }

            input[type='checkbox']:checked {
                background: #f39c12;
            }
        }
    }

</style>
