<template>
    <div>
        <div class="text-center p-5" v-if="noData">
            <img src="/images/placeholders/no-data.png" alt="">    
            <h3 class="text-muted">
                No Product Found
            </h3>
        </div>
        <div class="row">
            <Item :product="product" :project="project" v-for="product in list" :key="product.id" />          
        </div>
    </div>
</template>

<script>
import Item from "./Item.vue"
export default {
    props: ['url', 'project'],
    components:{
        Item
    },
    data(){
        return {
            list:[],
            noData: false,
            loadingContent: false,
            links: {}
        }
    },
    created(){
        this.getProducts();
    },

    mounted() {
        this.scroll()
    },


    methods:{
        loadMore(){
            this.getProducts(this.links.next);
        },

        scroll(){
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 900 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },
        
        getProducts(link = null){
                this.noData = false
                this.loadingContent = true
                axios.get(link ? link : this.url)
                    .then(response => {
                        if(link){
                            if(response.data.data.length < 1){
                                this.noData = true;
                            }else{
                                response.data.data.map( e => {
                                    this.list.push(e)
                                })
                            }
                        }else{
                            this.list = response.data.data
                            if(response.data.data.length < 1){
                                this.noData = true;
                            }
                        }

                        this.links = response.data.links 
                        this.loadingContent = false
                    })
                    .catch( error => {
                        console.log(error)
                    })

            }
        },
        
    }
</script>