<template>
    <div class="product-selection">
        <div class="thumbnail-image" :style="`background-image: url(${product.thumbnail.path}); padding-top:30%;`"></div>
        <div class="details pt-5 pb-5 pl-5">
            <input type="checkbox" @change="updateChecked(product.thumbnail)"  :value="product.thumbnail.selected" v-model="product.thumbnail.selected">
            <h4>{{ product.name }}</h4>
            <p class="text-muted">{{ product.product_type }}</p>
            <span class="color-span" style="margin-right:2px;" v-for="color in product.colors" :style="`background-color:${ color.rgb }`"></span>
            <div class="float-right">
                <small>Decor By</small>
                <div><a href="#" class="text-orange">{{ product.company }}</a></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['product','project'],
    methods:{
         updateChecked(image){
            if(image.selected){
                axios.post('/dashboard/event-board/project/update-image', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 1
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }else{
                axios.post('/dashboard/event-board/project/update-image', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 0
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }
        }
    }
}
</script>