<template>
        <form @submit.prevent="send" method="POST">
                
        <div class="form-group" style="text-align: left;">
                <input type="text" placeholder=" Name*" required v-model="name" id="lname" class="form-control">
        </div>
        <div class="form-group" style="text-align: left;">
                <input type="email" placeholder=" Email*" required v-model="email" id="fname" class="form-control">
        </div> 
        <div class="form-group" style="text-align: left;">
                <input type="text" placeholder=" Company" required v-model="company" id="lname" class="form-control">
        </div>


        <button type="submit" class="pull-right" style="background: #373737;
                border: 1px solid #373737; color: #fff;padding: 4px 13px;"><i class="fa fa-spin fa-spinner" style="display: none;"></i>
                <span v-show="sending">
                        <i class="fa fa-spin fa-spinner"></i> Sending Request
                </span> 
                <span v-show="!sending">
                        Book Now
                </span>
        </button> 
        <span class="text-success ml-3" v-show="showSuccess">
                <i class="fa fa-check text-success"></i> Request Sent!
        </span>
        </form>
</template>

<script>
export default {
        props:['type'],
        data(){
                return {
                        name: '',
                        email: '',
                        company: '',

                        sending: false,
                        showSuccess: false
                }
        },
        methods:{
                send(){
                        this.sending = true
                        axios.post('/request-demo', {
                                name: this.name,
                                email: this.email,
                                company: this.company,
                                type: this.type
                        })
                                .then(response => {
                                        
                                        this.name = ''
                                        this.email = ''
                                        this.company = ''
                                        this.showSuccess = !this.showSuccess
                                        this.sending = false
                                        setTimeout(()=>{
                                                this.showSuccess = !this.showSuccess
                                        }, 5000)
                                })
                                .catch( error => {
                                        this.sending = false
                                })
                }
        }
}
</script>

<style>

</style>