<template>
    <div class="event-board-preview">
        <div class="menu-nav">
            <a href="#"  @click="isInspiration = !isInspiration" :class="{active: isInspiration}" >Inspiration</a>
            <a href="#"  @click="isInspiration = !isInspiration" :class="{active: !isInspiration}" >Decor</a>
        </div>
         <masonry 
            :cols="3"
            :gutter="10" >
            <div class="inspiration-masonry-item"  v-show="isInspiration"   v-for="inspiration_image in project.inspiration_images" :key="inspiration_image.id">
                <img  :src="inspiration_image.image" alt="">
            </div>
        </masonry>
         <masonry
            :cols="3"
            :gutter="10" >
            <div class="inspiration-masonry-item"  v-show="!isInspiration"   v-for="product in project.product_images" :key="product.id">
                <img  :src="product.image" alt="">
            </div>
        </masonry>
    </div>
</template>

<script>
export default {
    props:['url', 'nocolor'],
    data(){
        return {
            project: {},
            isInspiration: true
        }
    },
    created(){
        this.getProject();
    },
    methods:{
        getProject(){
            axios.get(this.url)
                .then(response => {
                    this.project = response.data.data
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }
}
</script>
<style lang="scss" scoped>
    .event-board-preview{

        position: relative;
        
        h1{
            color:rgb(37, 37, 37);
        }

        .colors{
            position:absolute;
        }


        .menu-nav{
            padding:40px 0px 30px 10px;
            font-size:24px;
            a{
                color:rgb(70, 69, 69);
                width: 150px;
                display:inline-block;
                text-align: center;

                &:first-of-type{
                    margin-right: 20px;
                }

                &.active{
                    border-bottom:2px solid rgb(70, 69, 69);   
                }
            }

        }
    }


    .inspiration-masonry-item{
        position: relative;
        width:100%;
        overflow: hidden;
        margin: 0px 0px 10px 0px;
        break-inside: avoid;

        img {
            width: 100%;
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            transition:  background-color .3s;
            top: 0;
            left: 0;
        }

        &:hover{  
            .title{
                display:block;
            }

            .other-info{
                display: flex;
            }

            .shadow{
                background-color:#0a0a0a8a;
            }
        }

        

        .title{
            z-index: 9999;
            font-size: 16px;
            color:#fff;
            position: absolute;
            top:10px;
            left:10px;
            display:none;
            transition:  display 1.5s ease 2s;
        }

        .other-info{
            z-index: 9999;
            position: absolute;
            bottom:10px;
            left:0;
            padding:10px;
            width:100%;
            font-size:12px;
            color:white;
            display:none;

            img{
                border-radius: 32px;
                margin-right:5px;
            }
        }
    }
</style>