<template>
    <div class="main-component-div">
        <button class="btn btn-default btn-block circle-round-btn" @click="modalShow = !modalShow"><i class="fa fa-list"></i> Quote</button>

         <div class="modal fade in show" v-if="modalShow" id="quotationModal" tabindex="-1" role="dialog" aria-labelledby="quotationModal">
          <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <form  method="POST" id="quotation-form" @submit.prevent="submit">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><b> Request Quotation for {{ modeldetails.model_name }}</b></h4>
                  </div>
                  <div class="modal-body">
                        <div class="row"  v-if="currentStep == 'product'">
                            <div class="col-sm-8">
                                <div id="product-list">
                                    <div>
                                        <div class="row mb-4">
                                            <div class="col-sm-6 pt-2">
                                                <span clas="mr-3" style="display:inline-block; margin-right:15px;">
                                                    Selected Products: {{  selectedProducts }}
                                                </span>
                                                <span clas="mr-3" style="display:inline-block; margin-right:15px;">
                                                    Total Products: {{  productList.length }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-scroller scroller">
                                        <Product @updatedcheck="updateChecked" v-for="product in productList" :product="product" :key="product.id" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="form-request-quote">
                                    <div class="product-scroller scroller">
                                        <input type="hidden" name="model_id" v-model="id">
                                        <p>
                                            <label for="">Event Name</label>
                                            <input type="text" required name="event_name" v-model="modeldetails.model_name" class="form-control">
                                        </p>
                                        <p>
                                            <label for="">Event Type</label>
                                            <select name="event_type" id="" class="form-control">
                                                <option value="1">1</option>
                                            </select>
                                        </p>
                                        <p>
                                            <label for="">Event Location</label>
                                            <input type="text" class="form-control" required name="location">
                                        </p>
                                        <p>
                                            <label for="">Event Date</label>
                                            <input type="date" class="form-control" required>
                                        </p>
                                        <p>
                                            <label for="">What time will the event start?</label>
                                            <input type="time" name="time_start" class="form-control" required>
                                        </p>
                                        <p>
                                            <label for="">What time will the event end?</label>
                                            <input type="time" name="time_end" class="form-control" required>
                                        </p>
                                        <p>
                                            <label for="">Estimated Number of Guest</label>
                                            <input type="number" v-model="modeldetails.number_of_guest" name="number_of_guests" class="form-control" required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mt-3 mb-3" v-if="currentStep == 'success'">
                                <h1 class="text-center text-orange">
                                    <i class="fa fa-check text-success"></i> <br>
                                    Request Sent</h1>
                                <p>
                                    Please give me message or text to put here after the request is succesfull.
                                </p>
                                <p class="text-danger">
                                    Note: I did not put notification yet but its already ready because it will really send to the actual supplier.
                                </p>
                        </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" @click="modalShow = !modalShow" data-dismiss="modal">Close</button>
                    <!-- <button type="button" v-if="submiting" id="generating-btn" class="btn btn-primary disabled" style="display: none;">
                        <i class="fa fa-spin fa-spinner"></i> Generating..
                    </button>
                    <button @click="currentStep = 'form'" type="button" v-show="currentStep == 'product'" class="btn btn-primary btn-lg">
                        Proceed <i class="fa fa-arrow-right"></i>
                    </button>
                    <button  @click="currentStep = 'product'" v-show="currentStep == 'form'" type="button" class="btn btn-default btn-lg">
                        Back to Product List
                    </button> -->
                    <button type="submit" class="btn btn-primary btn-lg">
                        Submit Quotation
                    </button>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</template>
<script>
    import Product from "./Product";
    export default {
        components: {Product},
        props:['id', 'name', 'savingurl'],
        data(){
            return {
                modalShow: false,
                submiting: false,
                productList: [],
                currentStep: 'product',
                selectedProducts: 0,
                modeldetails: {},

            }
        },
        watch:{
            modalShow(){
                if(this.modalShow == true){
                    this.getProductList();
                }
            },
        },
        methods:{
            submit(){
                var formData = $('#quotation-form').serialize()
                this.submiting = true
                axios.post(this.savingurl, formData)
                    .then( response => {
                        this.currentStep = 'success',
                        this.submiting = false
                    })
                    .catch( error => {
                        this.submiting = false
                        console.log(error)
                    })
            },
            getProductList(){
                axios.post('/dashboard/3d/template/product-list/' + this.id)
                    .then( response => {
                        this.modeldetails = response.data.model
                        console.log(this.modeldetails)
                        this.productList = response.data.products
                        this.selectedProducts = response.data.products.length
                    })
                    .catch( error => {
                        console.log(error)
                    })
            },
            updateChecked(check){
                if(check){
                    this.selectedProducts++
                }else{
                    this.selectedProducts--
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    .modal-lg{
        width:80% !important;
    }
    .main-component-div{


        .product-scroller{
            overflow: auto;
            height: 350px;
            padding-right: 5px;
        }
    }

    .line{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        width: 100%;
        left: 15px;
        position: relative;
    }
    .stepText1{
        text-align: left;
        left: -15px;
    }
    .stepText2{ text-align: center; }
    .stepText3{
        text-align: right;
        right: -15px;
    }
    .step{
        width: 20px;
        height: 20px;
        border: 1px solid black;
        background: white;
        border-radius: 100px;
        margin-top: 30px;
        transition: 0.4s;
    }
    .step1{
        margin-top: -10px;
        float: left;
    }
    .step2{
        margin: 0 auto;
        margin-top: -10px;
    }
    .step3{
        float: right;
        margin-top: -10px;
    }
    .active{
        background: black;
    }


</style>
