<template>
    <div style="display:inline-block; margin-top:15px;">
        Quantity
        <div class="input-group text-center" >
            <span class="input-group-btn border-0">
                <button class="btn btn-default btn-sm border-0" @click="minusNumber" type="button"><i class="fa fa-minus"></i></button>
            </span>
            <input name="quantity[]" step="1" min="1" type="number" v-model="currentNumber" class="form-control input-sm" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm"  @click="addNumber"  type="button"><i class="fa fa-plus"></i></button>
            </span>
        </div><!-- /input-group -->
    </div>
</template>
<script>
export default {
    props:['quantity'],
    data(){
        return {
            currentNumber: this.quantity == 0 ? 1 : this.quantity
        }
    },
    methods:{
        minusNumber(){
            if(this.currentNumber != 1){
                this.currentNumber--;
            }
        },
        addNumber(){
            this.currentNumber++;
        },

    }
}
</script>
<style scoped lang="scss">
    .input-group{
        border-radius: none !important;

        span{
            border-radius: none !important;
        }
    }
    .input-sm{
        width:65px;
        -moz-appearance: textfield !important;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }
    }
</style>