<template>
    <div class="product-item">
        <div><input type="checkbox" :value="product.id" name="products[]" v-model="checked"></div>
        <div>
            <div class="img-thumbnail" @click="checked = !checked" :style="`background-image: url(${product.thumbnail})`"></div>
        </div>
        <div class="p-2" style="flex:1">
            <b>
                {{ product.name  }}
            </b>
            <div>
                {{ product.categories }}
            </div>
            By: <a :href="product.company.url" class="text-orange" target="_blank">{{ product.company.name }}</a>
        </div>
        <div class="text-center">
            <NumberInput :quantity="product.quantity" />        
        </div>
    </div>
</template>

<script>
import NumberInput from "./NumberInput"
export default {
    props:['product'],
    components:{
        NumberInput
    },
    data(){
        return {
            checked: true,
            qty: this.product.quantity,
            editMode: false
        }
    },
    watch:{
        checked(){
            this.$emit('updatedcheck', this.checked)
        }
    },
    methods:{
        
    }
}
</script>

<style scoped lang="scss">
    .product-item{
        display: flex;
        padding-bottom:5px;
        border-bottom: 1px solid #f3f3f3;
        margin-bottom: 10px;

        &:last-of-type{
             border-bottom: none;
        }

        .img-thumbnail{
            cursor: pointer;
            margin: 0px 5px 0px 5px;
            width: 75px;
            height: 75px;
            display:inline-block;
            background-size:cover;
            background-position: center;
        }
    }
</style>
