<template>
    <div class='row'>
        <div class="col-sm-6">
            <label for="">Category *</label>
            <select name="product_type" v-model="type" required class="form-control">
                <option :value="listype.id" v-for="listype in types"  :key="listype.id">{{ listype.name }}</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label for="">Sub Category *</label>
            <select name="style" v-model="style" :required="styles.length > 0" class="form-control">
                <option :value="style.id" v-for="style in styles" :key="style.id">{{ style.name }}</option>
            </select>
        </div>
    </div>
</template>

<script>
export default {
    props:['cateroriesRoute', 'defaulttype', 'defaultstyle'],
    data(){
        return {
            types:[],
            selectedType:[],
            styles: [],
            type: this.defaulttype ? this.defaulttype : '',
            style: this.defaultstyle ? this.defaultstyle : ''
        }
    },
    created(){
        this.getProductType()
    },
    watch:{
        type(){
            this.styles = []
            this.selectedType = _.find(this.types, ['id', parseInt(this.type)]);
            if(this.selectedType.styles){
                this.styles = this.selectedType.styles
            }
            console.log(this.styles.length)
        }
    },
    methods:{
        getProductType(){
              axios.get(this.cateroriesRoute)
                .then( response => {
                    this.types = response.data

                    if(this.defaultstyle){
                        this.selectedType = _.find(this.types, ['id', parseInt(this.type)]);
                        if(this.selectedType.styles){
                            this.styles = this.selectedType.styles
                            this.style = this.defaultstyle
                        }
                    }
                })
        }
    }
}
</script>

<style>

</style>
