// Fonts
/****************/
@import "~font-awesome/scss/font-awesome";
@import "~hover.css/scss/hover";
@import "~lightbox2/src/css/lightbox.css";
@import "_variables";

$orange:#f39c12;
$lightOrange: #fff1db;
/*  Fonts   */
/***************/
@font-face {
    font-family: "Glacial Indifference Regular";
    src: url('../fonts/GlacialIndifference-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url('../fonts/GlacialIndifference-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url('../fonts/GlacialIndifference-Italic.otf');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "Georgia Italic";
    src: url('../fonts/Georgia-Italic.eot');
    src: url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Georgia-Italic.woff2') format('woff2'),
        url('../fonts/Georgia-Italic.woff') format('woff'),
        url('../fonts/Georgia-Italic.ttf') format('truetype'),
        url('../fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url('../fonts/ProximaNova-Thin.eot');
    src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNova-Thin.woff') format('woff'),
        url('../fonts/ProximaNova-Thin.ttf') format('truetype'),
        url('../fonts/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrandonText Bold";
    src: url('../fonts/BrandonText-Bold.eot');
    src: url('../fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonText-Bold.woff2') format('woff2'),
        url('../fonts/BrandonText-Bold.woff') format('woff'),
        url('../fonts/BrandonText-Bold.ttf') format('truetype'),
        url('../fonts/BrandonText-Bold.svg#BrandonText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BrandonText Regular";
    src: url('../fonts/BrandonText-Regular.eot');
    src: url('../fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonText-Regular.woff2') format('woff2'),
        url('../fonts/BrandonText-Regular.woff') format('woff'),
        url('../fonts/BrandonText-Regular.ttf') format('truetype'),
        url('../fonts/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Thin Regular";
    src: url('../fonts/Gotham-Thin-Regular.eot');
    src: url('../fonts/Gotham-Thin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin-Regular.woff2') format('woff2'),
        url('../fonts/Gotham-Thin-Regular.woff') format('woff'),
        url('../fonts/Gotham-Thin-Regular.ttf') format('truetype'),
        url('../fonts/Gotham-Thin-Regular.svg#Gotham-Thin-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Light Regular";
    src: url('../fonts/Gotham-Light-Regular.eot');
    src: url('../fonts/Gotham-Light-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light-Regular.woff2') format('woff2'),
        url('../fonts/Gotham-Light-Regular.woff') format('woff'),
        url('../fonts/Gotham-Light-Regular.ttf') format('truetype'),
        url('../fonts/Gotham-Light-Regular.svg#Gotham-Light-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Light";
    src: url('../fonts/Gotham-Light-Regular.eot');
    src: url('../fonts/Gotham-Light-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light-Regular.woff2') format('woff2'),
        url('../fonts/Gotham-Light-Regular.woff') format('woff'),
        url('../fonts/Gotham-Light-Regular.ttf') format('truetype'),
        url('../fonts/Gotham-Light-Regular.svg#Gotham-Light-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Light Italic";
    src: url('../fonts/Gotham-Light-Italic.eot');
    src: url('../fonts/Gotham-Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light-Italic.woff2') format('woff2'),
        url('../fonts/Gotham-Light-Italic.woff') format('woff'),
        url('../fonts/Gotham-Light-Italic.ttf') format('truetype'),
        url('../fonts/Gotham-Light-Italic.svg#Gotham-Light-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Gotham Medium Regular";
    src: url('../fonts/Gotham-Medium-Regular.eot');
    src: url('../fonts/Gotham-Medium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium-Regular.woff2') format('woff2'),
        url('../fonts/Gotham-Medium-Regular.woff') format('woff'),
        url('../fonts/Gotham-Medium-Regular.ttf') format('truetype'),
        url('../fonts/Gotham-Medium-Regular.svg#Gotham-Medium-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Medium";
    src: url('../fonts/Gotham-Medium-Regular.eot');
    src: url('../fonts/Gotham-Medium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium-Regular.woff2') format('woff2'),
        url('../fonts/Gotham-Medium-Regular.woff') format('woff'),
        url('../fonts/Gotham-Medium-Regular.ttf') format('truetype'),
        url('../fonts/Gotham-Medium-Regular.svg#Gotham-Medium-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BodoniMT Regular";
    src: url('../fonts/BodoniMT-Regular.eot');
    src: url('../fonts/BodoniMT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BodoniMT-Regular.woff2') format('woff2'),
        url('../fonts/BodoniMT-Regular.woff') format('woff'),
        url('../fonts/BodoniMT-Regular.ttf') format('truetype'),
        url('../fonts/BodoniMT-Regular.svg#BodoniMT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BeautifulBloom Regular";
    src: url('../fonts/BeautifulBloom-Regular.eot');
    src: url('../fonts/BeautifulBloom-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BeautifulBloom-Regular.woff2') format('woff2'),
        url('../fonts/BeautifulBloom-Regular.woff') format('woff'),
        url('../fonts/BeautifulBloom-Regular.ttf') format('truetype'),
        url('../fonts/BeautifulBloom-Regular.svg#BeautifulBloom-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Didot Bold Italic";
    src: url('../fonts/Didot-Bold-Italic.eot');
    src: url('../fonts/Didot-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Didot-Bold-Italic.woff2') format('woff2'),
        url('../fonts/Didot-Bold-Italic.woff') format('woff'),
        url('../fonts/Didot-Bold-Italic.ttf') format('truetype'),
        url('../fonts/Didot-Bold-Italic.svg#Didot-Bold-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* { box-sizing: border-box; }

a, button{
    &:focus, &:active{
        outline: none;
    }
}




.checkbox-chips{
    display:inline-block;

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label {
        transition: all 100ms ease;
        font-size: 14px;
        cursor: pointer;
        border-radius: 50px;
        background-color: #fff;
        border:solid 1px #7d7d7d;
        padding: 0.2rem .5rem;
        display: inline-block;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    input[type="checkbox"]:checked + label {
        transition: all 300ms ease;
        background-color: $orange;
        color: white;
        border-color:$lightOrange;
    }

}


.homepage{
    .home-new-banner {
        background: rgb(218,213,200);
        background: linear-gradient(360deg, rgba(218,213,200,1) 0%, rgba(248,243,230,1) 100%);
        font-family: 'Montserrat', sans-serif;
        padding-top: 40px;
        padding-bottom: 50px;

        h5 {
            font-weight: 100;
            padding-top: 10px;
        }
    }


    .home-banner-details {
        padding-left: 33%;
        padding-right: 33%;
    }

    .new-title {
        font-family: 'Glacial Indifference';
        text-align: center;
    }


    .new-events {
        padding-top: 60px;
    }

    .new-events-box {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .inspiration-categories {
        padding-top: 40px;
    }

    .new-events-box img {
        width: 75px;
        padding-bottom: 10px;
    }

    .new-events-box .image-border {
        border-bottom: 1px solid #f0f0f0;
    }

    .new-events-box h5 {
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
        padding-top: 18px;
    }

    .posted-by-box {
        position: absolute;
        bottom: 13px;
        font-size: 14px;
        background: rgba(0,0,0,.2);
        padding-left: 20px;
        left: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .posted-number {
        position: absolute;
        right: 20px;
        bottom: 14px;

    }

    .venue-outdoor {
        padding-top: 80px;
        font-family: 'Glacial Indifference';
    }

    .venue-outdoor-box {
        position: relative;
    }

    .venue-outdoor-image {
        position: absolute;
        top: 17px;
        left: 10px;
    }

    .venue-outdoor-details {
        position: absolute;
        top: 21px;
        color: #fff;
        left: 91px;
        width: 300px;
        font-size: 14px;
    }

    .venue-outdoor-count {
        background: rgba(255,255,255,.5);
        margin-left: 0;
        margin-right: 0;
        position: relative;
        bottom: 30px;
        font-size:16px !important;
        color: #373737;
        padding-top: 3px;
        padding-bottom: 3px;
    }


    .supplier-slider {
        padding-top: 20px;
        padding-bottom: 30px;
        font-family: 'Glacial Indifference';
    }

    .supplier-slider-pin {
        color: rgb(255, 255, 255);
        bottom: 5px;
        position: absolute;
        padding-left: 10px;
        font-size: 13px;
        z-index: 100;
        font-weight: 100;
    }


    .decor-slider {

        padding-bottom: 40px;
        font-family: 'Glacial Indifference';
    }

    .supplier-slider .slick-prev.slick-arrow {
        left: 490px;
        top: 321px;
        z-index: 100;
    }

    .supplier-slider .slick-next.slick-arrow {
        right: 490px;
        top: 321px;
        z-index: 100;
    }

    .supplier-slider-image {
        position: absolute;
        top: 5px;
        z-index: 101;
    }

    .supplier-slider-image img,
    .decor-slider-image img {
        width: 50px;
    }

    .supplier-slider .slick-prev:before, .slick-next:before,
    .decor-slider .slick-prev:before, .slick-next:before {
        color: #000 !important;
    }


    .decor-slider .slick-prev.slick-arrow {
        left: 490px;
        top: 386px;
        z-index: 100;
    }

    .decor-slider .slick-next.slick-arrow {
        right: 490px;
        top: 386px;
        z-index: 100;
    }

    .decor-slider-details {
        padding-top: 12px;
    }

    .supplier-slider-details {
        color: #fff;
        position: absolute;
        z-index: 101;
        left: 38px;
        top: 10px;
    }

    .decor-slider-details h6,
    .supplier-slider-details h6 {
        padding: 0;
        margin: 0;
    }

    .decor-slider-details p,
    .supplier-slider-details p {
       font-size: 13px;
    }

    .decor-slider-details img {
        width: 50px;
        float: right;
    }

    .request-form input {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
    }

    .supplier-slider-image2 {
        position: relative;
    }

    .supplier-slider-image2:after {
        background: rgba(0, 0, 0, .3);
        content: '';
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }


    /* the slides */
    .slick-slide {
        margin: 0 18px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -18px;
    }

    .slick-track {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .supplier-slider h5,
    .decor-slider h5 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .supplier-slider h5:after,
    .decor-slider h5:after {
        content: '';
        border-top: 1px solid #c6c6c6;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    .supplier-slider h5:after,
    .decor-slider h5:after {
        margin: 0 0 0 20px;
    }

    .special-events-box {
        position: relative;
        padding-top: 20px;
    }

    .wedding-box {
        position: relative;
    }

    .btn-3d{
        background: #373737;
        color: #fff;
        border: 1px solid #373737;
        border-radius: 18px;
        padding: 5px 25px !important;
        font-weight: 100 !important;
        margin-top: 30px !important;

        &:focus, &:active{
            outline: none;
        }
    }

    .phone-box {
        padding-top: 40px;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
    }

    .hover-box-image{
        overflow: hidden;

        img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
        }

        &:hover img {
        	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
        }
    }

    .inspiration-categories-link{
        overflow: hidden;

        a {
            color: #373737;

            &:hover {
                color: #fff;
            }
        }

        img {
            transform: scale(1);
            transition: .4s ease-in-out;
        }

        &:hover img {
        	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
        }
    }


    @media  only screen
              and (min-device-width: 375px)
              and (max-device-width: 667px)
              and (-webkit-min-device-pixel-ratio: 2)
              and (orientation: portrait) {
                .home-banner-details {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                .new-events-box img {
                    padding-top: 20px;
                    padding-bottom: 27px !important;
                }

                .new-events-box {
                    text-align: center;
                }

                .posted-by-box {
                    width: 50%;
                }

                .venue-outdoor-count {
                    padding-top: 5px !important;
                }

                .venue-outdoor-number {
                    position: absolute;
                }

                .decor-slider-details img {
                    margin-top: -60px;
                }

                .inspiration-categories-space {
                    margin-top: 20px;
                }
            }
}

body{
    background-color:#f7f7f7;
    font-family: 'Nunito', sans-serif;
    min-width: 100%;
    position: relative;
    padding-right: 0 !important;
}

[data-toggle="collapse"] .fa:before {
  content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f139";
}


.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.modal-open {
    padding-right: 0px !important;
}

.with-credits-overlay{
    position: relative;
    cursor: pointer;

    &:hover .credit-overlay{
        display: block;
    }
}

.credit-overlay{
    display:none;
    transition: all 3s;
    background:#3833336b;
    width: auto;
    font-size:14px;
    padding: 12px 32px 12px 30px;
    color: #fffcfc;
    font-family: "Proxima Nova Light";
    line-height: 1.5;
    position: absolute;
    bottom:15px;
    left:0px;
    z-index: 2;

    i{
        color:#fffcfc;
    }
}

.slider-credits-overlay{
        background:rgba(255,255,255,0.8);
        position: absolute;
        bottom: 40px;
        left: 20px;
        width: auto;
        font-size:13px;
        padding: 12px 32px;
        border-radius: 4px;
        color: #525252;
        font-family: "Proxima Nova Light";
        line-height: 1.5;
        z-index: 99999;

        h1{
            font-family: "Didot Bold Italic";
            font-size: 1rem !important;
            font-weight: bold;
            color:#525252;
        }
}

a{
    color:$orange;

    &:hover{
        text-decoration: none;
        color:#794e08;
    }
}

.header-search{
    font-family: "Georgia Italic";
    text-align: left;
    font-size: 13px;

    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #ababab;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:placeholder{
        color:#ababab;
    }
}

.btn:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.color-div{
    display: inline-block;

    span{
        // margin-right:0px;
        border-radius: 2em;
        height: 1em;
        width: 1em;
        display:block;
    }
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.inspiration-header{
    position: relative;
    height: 370px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    z-index:-1;


    .header-box-inspiration{
        // background: #ffffff8a;
        background:rgba(255,255,255,0.8);
        // padding:10px;
        // position: absolute;
        // bottom:20px;
        // left: 20px;
        // display: inline-block;
        // border-radius: 10px;

        position: absolute;
        bottom: 40px;
        left: 20px;
        width: auto;
        font-size:13px;
        padding: 12px 32px;
        border-radius: 4px;
        color: #525252;
        font-family: "Proxima Nova Light";
        line-height: 1.5;

        h1{
            font-family: "Didot Bold Italic";
            font-size: 1rem !important;
            font-weight: bold;
            color:#525252;
        }
    }

    .bottom-pattern{
        position: absolute;
        bottom:-1px;
        width: 100%;
        left: 0;
        right: 0;
        align-content: center;
    }
}

.decor-supplier-title{
    font-family: "Didot Bold Italic";
}

.fixed-padding {
  padding-right: 0px !important;
}

.inspiration-grid{
    width: 100%;
    columns: 3;
    column-gap:10px;

    .inspiration-item{
        position: relative;
        width:100%;
        overflow: hidden;
        margin: 0px 0px 10px 0px;
        break-inside: avoid;

        img {
            width: 100%;
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            transition:  background-color .3s;
            top: 0;
            left: 0;
        }

        &:hover{
            .title{
                display:block;
            }

            // .other-info{
            //     display: flex;
            // }

            .shadow{
                background-color:#0a0a0a8a;
            }
        }



        .title{
            z-index: 9999;
            font-size: 16px;
            color:#fff;
            position: absolute;
            top:10px;
            left:10px;
            display:none;
            transition:  display 1.5s ease 2s;
        }

        .other-info{
            z-index: 9999;
            position: absolute;
            bottom:10px;
            left:0;
            padding:10px;
            width:100%;
            font-size:12px;
            color:white;
            display:none;

            img{
                border-radius: 32px;
                margin-right:5px;
            }
        }
    }
}


    .inspiration-masonry-item{
        position: relative;
        width:100%;
        overflow: hidden;
        margin: 0px 0px 10px 0px;
        break-inside: avoid;

        img {
            width: 100%;
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            transition:  background-color .3s;
            top: 0;
            left: 0;
        }

        &:hover{
            .title{
                display:block;
            }

            .other-info{
                display: flex;
            }

            .shadow{
                background-color:#0a0a0a8a;
            }
        }



        .title{
            z-index: 9999;
            font-size: 16px;
            color:#fff;
            position: absolute;
            top:10px;
            left:10px;
            display:none;
            transition:  display 1.5s ease 2s;
        }

        .other-info{
            z-index: 9999;
            position: absolute;
            bottom:0;
            left:0;
            padding:10px;
            width:100%;
            font-size:12px;
            color:white;
            display:none;

            img{
                border-radius: 32px;
                margin-right:5px;
            }
        }
    }



.inspiration-grid-index{

    // columns: 3;
    // column-gap:10px;

    .inspiration-item{
        position: relative;
        width:33.3%;
        overflow: hidden;
        break-inside: avoid;

        img {
            width: 100%;
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            transition:  background-color .3s;
            top: 0;
            left: 0;
        }

        &:hover{
            .title{
                display:block;
            }

            .other-info{
                display: flex;
            }

            .shadow{
                background-color:#0a0a0a8a;
            }
        }



        .title{
            z-index: 9999;
            font-size: 16px;
            color:#fff;
            position: absolute;
            top:10px;
            left:10px;
            display:none;
            transition:  display 1.5s ease 2s;
        }

        .other-info{
            z-index: 9999;
            position: absolute;
            bottom:10px;
            left:0;
            padding:10px;
            width:100%;
            font-size:12px;
            color:white;
            display:none;

            img{
                border-radius: 32px;
                margin-right:5px;
            }
        }
    }
}


.line-tab{

   .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $orange;
        background-color: transparent;
        border-color: transparent transparent $orange;
        border-bottom: 4px solid !important;
        // font-size: px;
        // font-weight: bold;
    }
   .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #333333;
        // font-size: 20px;
    }
}

.form-control:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border: 1px solid $orange;
}

.carousel{
    .carousel-item{
        height: 800px;
        background-size:cover;
        background-position: center;

        /*
        ##Device = Desktops
        ##Screen = 1281px to higher resolution desktops
        */
        @media (min-width: 1561px){
            height: 800px;
        }

        @media (min-width: 1461px) and (max-width: 1560px) {

            height: 600px;

        }
        @media (min-width: 1281px) and (max-width: 1460px) {

            height: 500px;

        }

        /*
            ##Device = Laptops, Desktops
            ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {

            height: 450px;

        }

        /*
            ##Device = Tablets, Ipads (portrait)
            ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {

            height: 400px;

        }

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

            height: 380px;

          }

          /*
            ##Device = Low Resolution Tablets, Mobiles (Landscape)
            ##Screen = B/w 481px to 767px
          */

          @media (min-width: 481px) and (max-width: 767px) {

            height: 300px;

          }

          /*
            ##Device = Most of the Smartphones Mobiles (Portrait)
            ##Screen = B/w 320px to 479px
          */

          @media (min-width: 320px) and (max-width: 480px) {

            height: 250px;

          }
    }
}

#carouselExampleIndicators{
    position: relative;

    .bottom-pattern{
        position: absolute;
        bottom:-10px;
        width: 100%;
        left: 0;
        right: 0;
        align-content: center;
    }
}

.page-header-img{
    position: relative;
    // min-height: 400px;
    background-size: cover;

    .bg-image{
        width: 100%;
    }

    h1{
        position: absolute;
        bottom:30px;
        transform: translateY(-50%);
        font-size:92px;
        left:40px;
        right:0;
        font-family:"Glacial Indifference Regular";
        color:#fff;
        font-weight: normal;
    }

    .bottom-pattern{
        position: absolute;
        bottom:-1px;
        width: 100%;
        left: 0;
        right: 0;
        align-content: center;
    }
}

.bg-orange{
    background-color: $orange;
}
.bg-lightorange{
    background-color: $lightOrange;
}

.bg-fb{
    background-color:#3d5a96;
}

.stars{
    .fa-star{
        color:$orange;
    }

    .fa-star-o{
        color:inherit;
    }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:$orange;
}

.header-links{
    padding-top: 13px;
    padding-left:10px;

    a{
        color:#565656;
        font-weight: bold;
        font-size:12px;

        &:hover{
          text-decoration: none;
        }
    }
}

.text-orange{
    color:$orange;
}

 .top-menu{
    background-color:#f7f1f1;

    .nav-item{
        margin:0px;
        padding:0px 20px 0px 20px;
        position:relative;
        z-index:999;

        &:hover{
            background-color:$orange;

            .mega-menu{
                display: block;
            }

            .nav-link{
                color:#fff;
            }
        }

        &.active{
             background-color:$orange;

            .nav-link{
                color:#fff;
            }
        }

        a{
            display:block;
            color:#6e6e6e;
            font-size:14px;
        }

        .mega-menu{
            display:none;
            background-color:#fff;
            position: absolute;
            z-index:999;
            top:37px;
            left:0;
            border-top:2px solid $orange;

            .sections{
                display:flex;

                 .section{
                    flex:1;
                    // border-right:1px solid #ccc;
                    width:230px;
                    padding:20px;

                    h4{
                        color:$orange;
                        font-size:16px;
                    }

                    a{
                        display:block;

                        &:hover{
                            text-decoration: none;
                            color:$orange;
                        }
                    }
                }
            }


        }
    }
}

//content

.venue-box{
    position:relative;
    padding-bottom:40px;
    transition: border 0.3s;
    border:1px solid #f7f7f7;

    &:hover{
        border: 1px solid  $orange;

        .image-buttons{
            display:block;
        }
    }

    .image-box{
        position: relative;
    }

    .images-number{
        position: absolute;
        bottom:0;
        left:5px;
        font-size:10px;
        color:#fff;
    }

    .image-buttons{
        position: absolute;
        bottom:5px;
        right:5px;
        font-size:10px;
        color:#fff;
        display: none;
    }

    .card-body{
        min-height: 110px;
    }

    small{
        font-size:11px;
        white-space: nowrap;
        overflow: hidden;
        width:100%;
        text-overflow: ellipsis;
        display:block;
    }

    h4.title{
        font-size:20px;
        padding: 5px 0px 5px 0px;

        a{
            color:$orange;

            &:hover{
                text-decoration: none;
            }

        }
        // white-space: nowrap;
        // overflow: hidden;
        // width:100%;
        // text-overflow: ellipsis;
    }

    .other-info{
        font-size:11px;
        position: absolute;
        bottom:5px;
        left:0;
        padding:0px 5px 0px 5px;
        width:100%;

        .supplier-logo{
            width:42px;
            height:42px;
            border-radius: 42px;
        }
    }
}

.qoute-media {
    background-color:#f9f9f9;
    border-radius: 5px;
    padding:10px;

    img{
        width:84px;
        height: 84px;
        border-radius: 5px;
    }

    .media-body{
        position: relative;

        input{
            border:none;
            background: transparent;
            width:50px;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }

        .buttons{
            position: absolute;
            right:5px;
            padding-top:25px;

            a{
                vertical-align: middle;
                border-radius: 50%;
                background-color:#fff;
                padding: 12px 15px 10px 17px;

                &:hover{
                    background-color: #f39c12;
                    color:#fff;
                }
            }
        }
    }
}

.quote-table{
    table{
        width:100%;

        thead{
            background-color:$orange;
            color:#fff;

            th{
                font-weight: normal;
                padding:5px;
                font-size:14px;
            }
        }

        tbody{
            tr{
                td{
                    padding:10px;
                }
            }
        }
    }
}

.product-box{
    position:relative;
    padding-bottom:20px;
    transition: border 0.3s;
    border:1px solid #f7f7f7;
    cursor: pointer;

   &:hover{
        border: 1px solid  $orange;

        .image-buttons{
            display:block;
        }
    }

    .image-box{
        position: relative;
    }

    .images-number{
        position: absolute;
        bottom:0;
        left:5px;
        font-size:10px;
        color:#fff;
    }


    .image-buttons{
        position: absolute;
        bottom:5px;
        right:5px;
        font-size:10px;
        color:#fff;
        display: none;
    }

    .card-body{
        min-height: 100px;
    }

    small{
        font-size:11px;
        white-space: nowrap;
        overflow: hidden;
        width:100%;
        text-overflow: ellipsis;
        display:block;
    }

    .title{
        font-size:1rem;
        padding: 5px 0px 5px 0px;
        color:$orange;

        // white-space: nowrap;
        // overflow: hidden;
        // width:100%;
        // text-overflow: ellipsis;
    }

    .other-info{
        font-size:11px;
        position: absolute;
        bottom:5px;
        left:0;
        padding:0px 5px 0px 5px;
        width:100%;
    }
}

.featurite{
    padding:30px;
    border:1px solid $lightOrange;
    margin:10px 0px 10px 0px;
    border-radius: 10px;
    background-color:#fff;
    font-size:16px;

    .title{
        color: #343433;
        /* font-family: "Didot Bold Italic"; */
        font-family: "BrandonText Regular";
        text-align: center;
        font-size: 31px;
    }
}

#get-advice{
    h2{
        font-family: "BeautifulBloom Regular";
        font-size:82px;
    }

    h5{
        margin-top:-10px !important;
        font-family: "Proxima Nova Regular";
        font-size:24px;
    }

    p{
        font-family: "Proxima Nova Light";
        line-height: 1.3;
        padding:50px;
    }

    .text-div{
        position: relative;
    }

    .text-content{
         position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }


    .card{
        padding:5px;
        border-radius: 0px;
        max-width: 180px;
        display:inline-block;
        margin:10px;
        position: relative;

        .tape{
            position: absolute;
            z-index:99;
            top:-25px;
            left:30px;
        }
    }
}

.subscribe-box{
    background-color: #fff;
    padding:20px 0px 20px 0px;

    input{
        text-align: center;
    }

    .btn{
        background-color: #000;
        color:white;
    }
}


// Footer Design
footer{
    background-color: #fff;


    .site-map{
        border-top: 1px solid #f1f1f1;
        padding:60px 0px 20px 0px;

        .sections{
            display: flex;

            .section{
                flex: 1;
                width:20%;

                h5{
                    font-size:16px;
                }

                a{
                    display:block;
                    color:#444444;
                    font-size:14px;
                }
            }
        }


    }

    .bottom{
        padding: 20px 0px 20px 0px;
        font-size:20px;
        border-top: 1px solid #f1f1f1;

        .links{
            a{
                color:#616161;
                font-size:16px;
                margin-left:15px;

                &:hover{
                    text-decoration: none;
                    color:$orange;
                }
            }
        }
    }
}


//body contents

.filter-box{
    // box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1);
    // background-color:#fff;
    padding:10px;

    label{
        margin:0px;
    }

    h5{
        font-size:13px;
    }

    ul{
        padding:5px 0px 0px 0px;
        margin:0px;

        li{
            list-style-type: none;
            padding:0px;
            font-size: 14px;
        }
    }
}

.borderless td, .borderless th {
    border: none;
}

.profile-links{
    a{
        font-size:16px;
        color: #333333 !important;
        font-family: "Proxima Nova Bold";
        margin:0px 15px 0px 15px;
    }
}

#login-tab{
    width: 100%;

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: transparent;
        border-color: transparent transparent $orange;
        border-bottom: 4px solid !important;
        font-weight: bold;
        color: $orange;
    }
    .nav-tabs{
         .nav-item{
             width: 50%;
             text-align: center;
         }
         .nav-link{
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
         }
    }

}

#loginModal{
    input.form-control{
        &:focus{
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none !important;
            border: 1px solid #ccc;
        }
    }
}

.register-type-box{
    // background-color: #1313134f;
    color:#736767;
}

.register-type-icon-link{
    color: #736767;

    &:hover{
        text-decoration: none;
        color:$orange;

        .icon{
            background-color: $orange;
            color:white;
        }

        i.fa{
            display:block;
            font-size:3.1em;
        }

        label{
            font-weight: bold;
            text-decoration: none;
        }
    }

    .icon{
        border: 7px solid #f5f5f5;
        display: inline-block;
        transition: background-color .5s;
        padding:40px;
        border-radius: 100px;
        color:#736767;
    }

    label{
        display:block;
        cursor: pointer;
        transition: font-weight .2s;
    }

    i.fa{
        display:block;
        font-size:3em;
        transition: font-size .1s;
    }
}

.supplier-register-box{
    small.d-block{
        font-size:12px;
    }

    .card{
        font-size:12px;
        border: 1px solid $orange;

        .card-header{
            background-color: $orange;
            color:#fff;
            border-radius: 0px;
            border-bottom: 5px solid $lightOrange;
        }

        .row{
            img{
                position: relative;
                left: -5px;
                width: 50px;
                margin: 5px 5px 0px 0px;
            }
        }
    }
}

.section-title{
    padding: 10px 0px 10px 15px;
    border-left:8px solid $orange;
}

.venue-title{
    font-family: "BodoniMT Regular";
    font-size:56px;
}

.company-name-inspiration-show:hover{
    text-decoration: none;
    color: #d28307;
}

.inspiration-gallery{
    a{
        position: relative;
        box-shadow: inset 10px 10px 10px rgba(0,0,0,0.6);
        z-index: 999;
        &:hover{

            .title{
                display:block;
            }

            .other-info{
                display: flex;
            }

            .shadow{
                // display: block;
                background-color:#0a0a0a33;
                // box-shadow: inset 1px 1px 20px 17px #1b1a1a47;
            }
        }
    }

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        // box-shadow: none;
        // box-shadow: inset 0px 4px 2px -2px #1b1a1a47;
        transition:  background-color .3s;
        top: 0;
        left: 0;
    }

    .title{
        z-index: 9999;
        font-size: 16px;
        color:#fff;
        position: absolute;
        top:10px;
        left:10px;
        display:none;
        transition:  display 1.5s ease 2s;
    }

    .other-info{
        z-index: 9999;
        position: absolute;
        bottom:10px;
        left:0;
        padding:10px;
        width:100%;
        font-size:12px;
        color:white;
        display:none;

        img{
            border-radius: 32px;
            margin-right:5px;
        }
    }
}

#supplier-page{
    margin-top:-100px;

    .company-name{
        font-family: "Gotham Light";
        // text-transform: uppercase;
        font-size:2em;
    }

    .social-media{
        a{
            margin:0px 3px 0px 3px;
            font-size:16px;
            color:#ccc;

            &:hover{
                color:$orange;
            }
        }
    }

    .logo{
        width: 200px;
        height:200px;
        border-radius: 200px;
    }
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.right{
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
        padding:10px;
    }
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 0px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.decor-modal{

    .company-box{

        background-color:#fff;
        padding:10px 5px 10px 5px;
        width: 100%;

        .name{
            line-height: 1;
            margin-top:10px;
            font-size:16px;
        }

        img{
            width:50px;
            height: 50px;
            margin:5px;
        }
    }

    .tagged-decors{
        margin:0px 10px 20px 10px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        .body{
            padding:10px;
            line-height: 1;
        }
    }



}


  .shadow-light {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .line-height-1{
    line-height: 1.2;
    display: block;
  }


  .inspiration-suppliers{
      line-height: 0;
      padding:10px 5px 15px 5px;
      margin-bottom:20px;
      border-left:2px solid #e6c692;
      position: relative;

      &:hover{
        border-left:2px solid $orange;

          a, button{

              text-decoration: none;
              color:#141212 !important;

              h4{
                  color:$orange;
                }
            }
    }

      a, button{
        color:#796a6a !important;
        background-color: transparent !important;
        border: none;
        outline: none;
        box-shadow: none;

          h4{
              font-size:16px;
              color:#333;
              padding-right: 60px;
          }


      }

      .buttons{
          color:#ccc;
          position: absolute;
          right: 0px;
          display: inline-block;
          margin-top:-5px;

          a:hover, button:hover{
            color:$orange;
          }
      }
  }

  .site-side-link{

      .nav{
        .nav-item{
            a{
                color:rgb(59, 59, 59);

                &.active{
                    color: #2459c4;
                }
            }

            &:hover{
                background-color:#efefef;
                border-radius: 10px;
            }

        }
      }
  }


  .site-notification-page{
      .btn-group{

          button{
              font-size:12px;
          }
      }



      .media{
        padding:15px 0px 15px 0px;

        img{
            width:48px;
             height: 48px;
          }

        &:hover{
            .media-body .item-buttons{
                display: block;
            }
        }

        .media-body{
            border-bottom:1px solid rgb(236, 236, 236);
            padding-bottom:5px;
            position: relative;

            .item-buttons{
                display:none;
                position: absolute;
                right:10px;
                top:10px;

                a{
                    color:#ccc;

                    &:hover{
                        color:rgb(211, 76, 76);
                    }
                }
            }
          }
      }
  }

  .site-profile-page{
    .box{
        padding:20px;
        background-color: #fff;
        border:1px solid #ccc;
        border-radius: 10px;
        text-align: center;

        title{
            margin-bottom: 0px;
        }

        a{
            color:$orange;
            font-size:12px;
        }
    }

    .border-box{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding:30px 0px 30px 0px;
        margin:30px 0px 30px 0px;
    }

    .media{
        padding:15px 0px 15px 0px;

        img{
            width:48px;
                height: 48px;
            }

        .media-body{
            border-bottom:1px solid rgb(236, 236, 236);
            padding-bottom:5px;
            position: relative;

            }
        }
  }

    .delete-modal{
      .icon{
          font-size:52px;
          color:rgb(246, 36, 36);
          text-align: center;
          margin-top:5px;
      }

      .modal-body{
          font-size:20px;

      }
  }


.event-board{
    *{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .circle-side-btn{
        border-radius: 75px !important;
    }

    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
        position: relative;
        margin-bottom: 50px;
        text-align: center;
    }

    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 75%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 15px;
        z-index: 1;
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

    span.round-tab {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 16px;
        color: #0e214b;
        font-weight: 500;
        border: 1px solid #ddd;
    }
    span.round-tab i{
        color:#555555;
    }
    .wizard li.active span.round-tab {
            background: #f39c12;
        color: #fff;
        border-color: #f39c12;
    }
    .wizard li.active span.round-tab i{
        color: #5bc0de;
    }
    .wizard .nav-tabs > li.active > a i{
        color: #f39c12;
    }

    .wizard .nav-tabs > li {
        width: 25%;
    }

    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: red;
        transition: 0.1s ease-in-out;
    }

    .wizard .nav-tabs > li a {
        width: 30px;
        height: 30px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
        background-color: transparent;
        position: relative;
        top: 0;
    }
    .wizard .nav-tabs > li a i{
        position: absolute;
        top: -15px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        left: 50%;
        transform: translate(-25%, -50%);
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

    .wizard .tab-pane {
        position: relative;
        padding-top: 20px;
    }


    .wizard h3 {
        margin-top: 0;
    }
}


.event-board{

    .inspiration-gallery-selector{

        padding:10px;
        background-color: rgb(245, 245, 245);
        margin-bottom: 10px;

        .selectAll{
            label{
                position: relative;
                top:-10px;
                margin-left: 5px;
            }

            input{
                cursor: pointer;
            }

            input[type='checkbox'] {
                -webkit-appearance:none;
                width:30px;
                height:30px;
                background:white;
                border-radius:15px;
                border:none;
                left:15px;
                z-index: 9999;
            }
            input[type='checkbox']:focus {
                -webkit-appearance:none;
                width:30px;
                height:30px;
                background:white;
                border-radius:15px;
                border:none;
                outline: none;
                left:15px;
                z-index: 9999;
            }


            input[type='checkbox']:checked {
                background: rgb(247, 165, 43);
            }

        }

        .owl-carousel{
            &:hover{
                .owl-nav{
                    .owl-prev, .owl-next {
                        opacity:1;
                    }
                }

            }

            .owl-nav {
                position: absolute;
                top: -10px;
                left: 0;
                right: 0;
                
    
                .owl-prev, .owl-next {
                    position: absolute;
                    color: inherit;
                    background: none;
                    padding-top:10px;
                    height:105px;
                    transition: opacity 5sec linear;
                    border: none;
                    border-radius: 0px;
                    opacity:0;
                    z-index: 100;
                    background-color:rgba(58, 58, 58, 0.664);

                    i {
                        font-size: 3rem;
                        color: #fff;
                    }
                }
    
                .owl-prev {
                    left: -10px;
                }
    
                .owl-next {
                    right: -5px;
                }
            }

            .item{
                background-size:cover;
                background-position:center;
                width:100%;
                padding-top:75%;
                margin-bottom:0px;
                position: relative;
                margin:5px;

                input{
                    cursor: pointer;
                }

                input[type='checkbox'] {
                    -webkit-appearance:none;
                    width:30px;
                    height:30px;
                    background:white;
                    border-radius:15px;
                    border:none;
                    position: absolute;
                    bottom: 10px;
                    left:15px;
                    z-index: 9999;
                }
                input[type='checkbox']:focus {
                    -webkit-appearance:none;
                    width:30px;
                    height:30px;
                    background:white;
                    border-radius:15px;
                    border:none;
                    position: absolute;
                    outline: none;
                    bottom: 10px;
                    left:15px;
                    z-index: 9999;
                }

                input[type='checkbox']:checked {
                    background: rgb(247, 165, 43);
                }
            }
        }
        // .d-flex{
        //     display: flex;

            .info{
                // width: 350px !important;
                // border:1px solid red;

                .title{
                    font-size:14px;
                    font-weight: bold;
                }

                .location{
                    font-size:12px;
                    color:rgb(126, 126, 126);
                    margin-bottom: 10px;
                }

                img{
                    width: 80px;
                    height: 80px;
                    margin-bottom:10px;
                }
            }
    }
}
