// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');


//Font Awesome
@import "~font-awesome/scss/font-awesome";
@import "~ionicons/dist/scss/ionicons";

// Bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~select2/src/scss/core";
@import "~icheck/skins/square/orange.css";

@import "./adminLTE.scss";
@import '~croppie/croppie.css';
@import "~lightbox2/src/css/lightbox.css";
// @import "~dropzone/dist/dropzone.css";

$orange:#f39c12;

.hover-box-image{
    overflow: hidden;

    img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
    }

    &:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.orange{
    color:$orange;
}

.flex{
    display:flex;

    .flex1{
        flex: 1;
    }
}

.circle-round-btn{
    border-radius: 15px;
}

.scroller{
    &::-webkit-scrollbar {width: 7px; height: 0;}
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.0);
        border-radius: 10px;
        box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
    }
    &:hover::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.45)}
    &::-webkit-scrollbar-thumb:hover {background: rgba(0,0,0,0.55)}
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: none !important;
  }

.label-placeholder{
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-position:center;
    background-repeat: no-repeat;
    background-color:#ccc;
    cursor: pointer;
}

.zoomout{
    zoom: 0.7;
}

.w-100{
    width:100%;
}

.nav-tabs > li > a{
    border-radius: 0px;
}

.header-title{
    border-bottom: 2px solid $orange;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: left;
}


.main-header{

    .logo{
        border-right: 1px solid #d2d6de;
        background-color:#f9fafc;
    }

    .logo-mini{
        color:$orange;
    }
}

.treeview-menu{
    li{
        a{
            padding: 5px 5px 5px 35px;
        }
    }
}

.color-span{
    width:20px;
    height: 20px;
    display:inline-block;
    border-radius: 50%;
    border:1px solid #00000014;
}

.venue-box{
    height: 150px;
    position: relative;

    &:hover{
        .buttons{
            opacity:1;
        }
    }

    .info-box-icon{
        height: 150px;
        width: 200px;
        background-size:cover;
        background-position: center;
    }

    .info-box-content{
        margin-left: 200px;

        small{
            font-size:11px;
        }
    }

    .info-box-title{
        font-size:24px;
        font-weight: bold;
        color:$orange;
        display: block;
    }

    .colors{
        position: absolute;
        right:5px;
        top: 5px;
     }

    .buttons{
        position: absolute;
        bottom:5px;
        left: 200px;
        opacity:0;
        transition: opacity .4s;

        a{
            color:#565656;

            &:hover{
                color:#000;
            }
        }
    }
}

.card-box{
    border: none;

    .box-body{
        min-height: 120px;
        position: relative;

        .colors{
            position:absolute;
            display: inline-block;
            top:5px;
            right:5px;

            span{
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 6px;
            }
        }

        h4 a{
            color: $orange !important;
            font-weight: bold;
        }

        .bottom-buttons{
            // position: absolute;
            bottom: 0;
            width: 100%;
            padding:10px 10px 10px 15px;
            left:0px;
            background-color:#fff;

            .dropdown-menu{
                height: 65px;
            }
        }
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $orange;
    border-color: #fff;
    padding: 1px 10px;
    border-radius: 0px;
    color: #fff;
}

#function-space-form{
    display:none;
}

.inspiration-header{
    position: relative;
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;

    .row{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
    }

    .title{
        position: absolute;
        bottom:0px;
        color:$orange;
    }

}



.inspiration-grid{
    width: 100%;
    columns: 5;
    column-gap:10px;


    /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {

        columns: 4;

    }

    /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {

        columns: 3;

    }

    /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        columns: 3;

    }

    .inspiration-item{
        width:100%;
        overflow: hidden;
        break-inside: avoid;
    }
}


.image-gallery{
    position: relative;

    &:hover{
        .trash-btn{
            visibility: visible;
            opacity: 1;
        }
    }
    .trash-btn{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: #ffffffc7;
        color:#dd4b39;
        font-size:14px;
        transition: background-color 0.2s, visibility 0s, opacity 0.2s linear;

        &:hover{
            background-color: #dd4b39;
            color:#fff;
        }

    }
}

.video-box{
    position: relative;

    &:hover{
        .trash-btn{
            visibility: visible;
            opacity: 1;
        }
    }

    .trash-btn{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #ffffffc7;
        color:#dd4b39;
        font-size:14px;
        transition: background-color 0.2s, visibility 0s, opacity 0.2s linear;
        z-index: 9999;

        &:hover{
            background-color: #dd4b39;
            color:#fff;
        }

    }

    &:hover{
        .trash-btn{
            display: block;
        }
    }

}

.quotes-list{
    border-bottom: 1px solid lightgray;
    cursor: pointer;

    a{
        color:#444;
        display:block;
    }

    &.active{
        background-color:lightgray;
    }

    &:hover{
        background-color: rgb(241, 240, 240);
    }


}

.quotes-list:last-child{
    border-bottom: none;
}

.overlay-loading{
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#54545473;
    z-index: 9999;
    display: none;
}

.overlay-loading h4{
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}


.chips{
    display:inline-block;
    margin:0px 5px 5px 0px;
    font-size:16px;

    .main{
        label{
            font-size:18px;
            font-weight: normal;
        }
    }

    input:checked + label {
        border:1px solid #f39c12;
        color:white;
        background-color:#f39c12;
    }

    label{
       border:1px solid #cfcfcf;
       border-radius: 30px;
       font-weight: normal;
       padding: 5px 12px 5px 12px;
       cursor: pointer;
    }

    input{
        display:none;
    }

}

// .stepwizard{

//     display: table;
//     width: 100%;
//     position: relative;

//     p {
//         margin-top: 10px;
//     }

//     .stepwizard-row {
//         display: table-row;

//         &:before {
//             top: 14px;
//             bottom: 0;
//             position: absolute;
//             content: " ";
//             width: 100%;
//             height: 1px;
//             background-color: #ccc;
//             // z-order: 0;
//         }
//     }



//     .stepwizard-step button[disabled] {
//         opacity: 1 !important;
//         filter: alpha(opacity=100) !important;
//     }

//     .stepwizard-step {
//         display: table-cell;
//         text-align: center;
//         position: relative;
//         z-index: 1;

//         &:first-of-type a::before{
//             top: 14px;
//             bottom: 0;
//             position: absolute;
//             content: " ";
//             width: 50%;
//             height: 1px;
//             background-color: #fff;
//             position: absolute;
//             z-index: -1;
//             left: 0;
//         }

//         &:last-of-type a::after{
//             top: 14px;
//             bottom: 0;
//             position: absolute;
//             content: " ";
//             width: 50%;
//             height: 2px;
//             background-color: #fff;
//             position: absolute;
//             z-index: -1;
//             right: 0;
//         }
//     }

//     .btn-circle {
//         width: 30px;
//         height: 30px;
//         text-align: center;
//         padding: 6px 0;
//         font-size: 12px;
//         line-height: 1.428571429;
//         border-radius: 15px;
//     }

// }


.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        // margin: 40px auto;
        margin-bottom: 0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    border: 0;
    // border-bottom-color: transparent;
    background-color: $orange;
}

span.round-tab {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: $orange;
    color:#fff;
    border: 2px solid $orange;
}

.wizard li.active span.round-tab i{
    color: $orange;
}

span.round-tab:hover {
    color: #fff;
    background-color:$orange;
    border: 2px solid $orange;
}


.wizard .nav-tabs{
    border-bottom: none;
}

.wizard .nav-tabs > li {
    width: 20%;
}


.wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.event-board-create{

    .inspiration-gallery-selector{

        padding:10px;
        background-color: rgb(245, 245, 245);
        margin-bottom: 10px;

        .selectAll{
            label{
                position: relative;
                top:-10px;
                margin-left: 5px;
            }

            input{
                cursor: pointer;
            }

            input[type='checkbox'] {
                -webkit-appearance:none;
                width:30px;
                height:30px;
                background:white;
                border-radius:15px;
                border:none;
                left:15px;
                z-index: 9999;
            }
            input[type='checkbox']:focus {
                -webkit-appearance:none;
                width:30px;
                height:30px;
                background:white;
                border-radius:15px;
                border:none;
                outline: none;
                left:15px;
                z-index: 9999;
            }


            input[type='checkbox']:checked {
                background: rgb(247, 165, 43);
            }

        }

        .owl-carousel{
            .item{
                background-size:cover;
                background-position:center;
                width:200px;
                padding-top:75%;
                margin-bottom:0px;
                position: relative;

                input{
                    cursor: pointer;
                }

                input[type='checkbox'] {
                    -webkit-appearance:none;
                    width:30px;
                    height:30px;
                    background:white;
                    border-radius:15px;
                    border:none;
                    position: absolute;
                    bottom: 10px;
                    left:15px;
                    z-index: 9999;
                }
                input[type='checkbox']:focus {
                    -webkit-appearance:none;
                    width:30px;
                    height:30px;
                    background:white;
                    border-radius:15px;
                    border:none;
                    position: absolute;
                    outline: none;
                    bottom: 10px;
                    left:15px;
                    z-index: 9999;
                }

                input[type='checkbox']:checked {
                    background: rgb(247, 165, 43);
                }
            }
        }
        // .d-flex{
        //     display: flex;

            .info{
                // width: 350px !important;
                // border:1px solid red;

                .title{
                    font-size:16px;
                    font-weight: bold;
                }

                .location{
                    font-size:12px;
                    color:rgb(126, 126, 126);
                    margin-bottom: 10px;
                }

                img{
                    width: 80px;
                    height: 80px;
                    margin-bottom:10px;
                }
            }

            .galleries{

            }
        // }



    }
}


.product-selection{
    background-color:rgba(243, 243, 243, 0.733);
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px 1px #ccc;
    display:flex;

    .thumbnail-image{
        width: 45%;
        background-size:cover;
        background-position:center;
    }

    .details{
        position: relative;
        padding:5px;
        width: 100%;


        input{
            cursor: pointer;
        }

        h1{
            font-size:18px;
            margin-bottom:3px;
        }

        input[type='checkbox'] {
            -webkit-appearance:none;
            width:25px;
            height:25px;
            background:white;
            border-radius:15px;
            border:none;
            box-shadow: 1px 1px 3px 2px #ccc;
            position: absolute;
            top:10px;
            right: 10px;
       }

        input[type='checkbox']:focus {
            -webkit-appearance:none;
            width:25px;
            height:25px;
            background:white;
            border-radius:15px;
            border:none;
            outline: none;
        }


        input[type='checkbox']:checked {
            background: rgb(247, 165, 43);
        }
    }
}



.supplier-box{
    margin-bottom:15px;

    .detail{
        position: relative;
        background-color:#f5f5f5;
        padding:10px;

        h4{
            font-weight: bold;
        }

        a{
            position: absolute;
            right:10px;
            top:10px;
            font-size:24px;
            color:#757575;
        }
    }

    .image{
        padding-top:75%;
        background-size:cover;
        background-position:center;
    }

    .location{
        padding:10px;
        background-color:#f5f5f5;
    }
}


.project-box{
    padding:10px 20px 10px 25px;
    background-color: #fff;

}


.project-box .row{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom:10px;
    padding-bottom: 30px;
}

.project-box .row  .thumbnail-image{
    width: 250px !important;
    padding-top: 12%;
    margin-right: 25px;
    background-size: cover;
    background-position: center;
}

.project-box .row .details{
    min-width: 500px;
    padding:0px 20px 0px 0px;
}

.project-box .row .details p{
    max-width: 300px;
}

.project-box .row .colors{
    /* width: 350px; */
    align-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.project-box .row  .color-cicle{
    // width:200px;
    border-radius: 100%;
    padding:15px 15px;
    margin-right:-8px;
    display:inline-block;
}

.project-box .row .misc{
    width:100%;
    flex:1;
    text-align: right;
    padding:10px;
    position: relative;
}
.project-box .row .image-counts{
    position: absolute;
    bottom:5px;
    right: 15px;
    color:orange;
}



.inspiration-grid{
    width: 100%;
    columns: 3;
    column-gap:10px;

    .inspiration-item{
        position: relative;
        width:100%;
        overflow: hidden;
        margin: 0px 0px 10px 0px;
        break-inside: avoid;

        img {
            width: 100%;
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            transition:  background-color .3s;
            top: 0;
            left: 0;
        }

        &:hover{
            .title{
                display:block;
            }

            .other-info{
                display: flex;
            }

            .shadow{
                background-color:#0a0a0a8a;
            }
        }



        .title{
            z-index: 9999;
            font-size: 16px;
            color:#fff;
            position: absolute;
            top:10px;
            left:10px;
            display:none;
            transition:  display 1.5s ease 2s;
        }

        .other-info{
            z-index: 9999;
            position: absolute;
            bottom:10px;
            left:0;
            padding:10px;
            width:100%;
            font-size:12px;
            color:white;
            display:none;

            img{
                border-radius: 32px;
                margin-right:5px;
            }
        }
    }
}

.subscription-plans-buttons{
    margin:10px;

    label{
        background-color: #fff;
        display: block;
        border: 2px solid #ccc;
        padding: 20px 10px 20px 10px;
        border-radius: 5px;
    }

    input[type="radio"]{
        display:none;
    }

    input[type="radio"]:checked+label{
       border: 2px solid $orange;
    }


}
