<template>
    <div class="row">
        <div class="col-sm-3 info">
            <img class="img rounded-circle" :src="inspiration.thumbnail" alt="">
            <div class="title">
                {{ inspiration.name }}
            </div>
            <div class="location">{{ inspiration.location }}</div>
            <div class="selectAll">
                <input type="checkbox"  class="checkAllCheckbox" v-model="checkAll"  :id="`selectAll-${ inspiration.id }`">
                <label :for="`selectAll-${ inspiration.id}`"> Select all</label>
            </div>
        </div>
        <div class="col-sm-9">
            <carousel :rewind="false" :margin="5" :nav="true" :navText="navText" :items="4" :dots="false" :lazyLoadEager="1">
                <label :for="`id-${image.id}`" class="item bg-secondary" v-for="image in inspiration.images" :style="`background-image: url(${image.path}); border-radius:10px;`" :key="image.id" >
                    <input :id="`id-${image.id}`" type="checkbox" class="galleryCheckbox" @change="updateChecked(image)"  :value="image.id" v-model="image.selected">
                </label>
            </carousel>
        </div>
    </div>
</template>
<script>
import carousel from 'vue-owl-carousel2'

export default {
    props: ['inspiration', 'project'],
    components: { carousel },
    watch:{
        checkAll(){
            if(this.checkAll){
               this.inspiration.images.forEach(element => {
                    if(!element.selected){
                        element.selected = this.checkAll
                        this.updateChecked(element)
                    }
                });
            }else{
                this.inspiration.images.forEach(element => {
                    if(element.selected){
                        element.selected = this.checkAll
                        this.updateChecked(element)
                    }
                });
            }
        },
    },
    computed:{
        // hasChecked(){
        //     this.inspiration.images.forEach(element => {
        //        return element.selected = 1 ? true : false
        //     });

        //     return false;
        // }
    },
    methods:{
        updateChecked(image){
            if(image.selected){
                axios.post('/user/eventboard/update-images', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 1
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }else{
                axios.post('/user/eventboard/update-images', {
                        project_id: this.project,
                        image_id: image.id,
                        attaching: 0
                    }).then( response => {
                        //
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }
        }
    },
    data(){
        return {
            selectedImages:[],
            checkAll: false,
            navText: [
                    '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                    '<i class="fa fa-angle-right" aria-hidden="true"></i>'
                ]
            // responsive : {
            // // breakpoint from 0 up
            //     0 : {
            //         tems: 2,
            //     },
            //     // breakpoint from 480 up
            //     480 : {
            //         tems: 3,
            //     },
            //     // breakpoint from 768 up
            //     768 : {
            //         tems: 4,
            //     },
            //     // breakpoint from 768 up
            //     1080 : {
            //         tems: 5,
            //     }
            // }
        }
    }
}
</script>

<style lang="scss" scoped>
    .item{
        cursor: pointer;
    }
</style>
