<template>
    <div class="row mb-5 pb-2">
        <div class="col-sm-3 info">
            <img class="img rounded-circle skeleton skeleton-text" alt="">
            <div class="title skeleton skeleton-text"></div>
            <div class="location skeleton skeleton-text"></div>
            <!-- <div class="selectAll">
                <input type="checkbox"  class="checkAllCheckbox">
                <label class="skeleton-text skeleton"> </label>
            </div> -->
        </div>
        <div class="col-sm-9">
            <carousel :rewind="false" :margin="5" :nav="false" :items="4" :dots="false" :lazyLoadEager="1">
                <label class="item skeleton" style="border-radius:10px;" ></label>
                <label class="item skeleton" style="border-radius:10px;" ></label>
                <label class="item skeleton" style="border-radius:10px;" ></label>
                <label class="item skeleton" style="border-radius:10px;" ></label>
            </carousel>
        </div>
    </div>
</template>
<script>
    import carousel from 'vue-owl-carousel2'
    
    export default {
        components: { carousel },
    }
</script>
<style lang="scss" scoped>
      
    .skeleton {
        opacity: .7;
        animation: skeleton-loading 1s linear infinite alternate;
    }

    .skeleton-text {
        width: 100%;
        height: .5rem;
        margin-bottom: .25rem;
        border-radius: .125rem;
    }

    .skeleton-text:last-child {
        margin-bottom: 0;
        width: 80%;
    }

    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }

        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }

</style>