<template>
  <span>
    <button v-bind:class="styleclass" @click.prevent="click">
        <i class="fa fa-heart " v-bind:class="{'text-danger': hearted}"></i>
        <slot></slot>
    </button>
  </span>
</template>

<script>
export default {
    props:['id', 'type', 'styleclass', 'default'],
    data(){
        return{
            hearted:false
        }
    },
    created(){
        if(this.default){
            this.hearted = true
        }
    },
    methods:{
        click(){
            this.hearted = !this.hearted
            // axios.post('https://designa.studio/' + this.type + '/hearted',{
            axios.post('/' + this.type + '/hearted',{
                id: this.id
            })
                .then( response => {
                    if(response.data.status == "401"){
                        $('#loginModal').modal('show')
                        this.hearted = false
                    }else{
                        // this.hearted = !this.hearted
                        this.$emit('hearted', response.data.hearted);
                    }
                })
                .catch( error => {
                    this.hearted = false
                    console.log(error)
                })

        }
    }
}
</script>

<style scoped lang="scss">
    button:active i{
         transform: scale(1.2);
    }
</style>