<template>
  <div class="main-search">
      <input  class="form-control mr-sm-2 input-md header-search" 
      @keyup="search" 
      @keydown.up.prevent="selectUp"
      @keydown.down.prevent="selectDown"
      v-model='searchInput' 
      @keydown.enter='hasSelected'
      
      type="search" placeholder="Search Inspirations, Venues or Products" aria-label="Search">
      <div class="search-result-box" v-show="showResults">
          <div class="loading p-5 text-center" v-show="loading"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="text-center p-5 text text-muted" v-show="results.length < 1">No Result for <b>{{ searchInput }}</b></div>
          <div  v-show="results.length > 0">
            <div class="sub-heading" v-show="inspirations.length">
                <div class="icon"><i class="fa fa-camera text-orange"></i></div>
                <div class="results">
                    <a :href="`/inspiration?q=${searchInput}`" v-if="!inspirations.length">{{ searchInput  }} <span class="text-muted">in inpirations</span></a>
                    <a :href="inspiration.url" v-for="inspiration in inspirations" :key="inspiration.id" :class="{ highlighted: selectedIndex == inspiration.index}">{{ inspiration.name }}</a>
                </div>
            </div>
            <div class="sub-heading" v-show="venues.length">
                <div class="icon"><i class="fa fa-map-marker text-orange"></i></div>
                <div class="results">
                    <a :href="`/venue?q=${searchInput}`" v-if="!venues.length">{{ searchInput  }} <span class="text-muted">in venues</span></a>
                    <a :href="venue.url" v-for="venue in venues" :key="venue.id" :class="{ highlighted: selectedIndex == venue.index}" >{{ venue.name }} </a>
                </div>
            </div>
            <div class="sub-heading" v-show="decors.length">
                <div class="icon"><i class="fa fa-truck text-orange"></i></div>
                <div class="results">
                    <a :href="`/decor?q=${searchInput}`" v-if="!decors.length">{{ searchInput  }} <span class="text-muted">in decors</span></a>
                    <a :href="decor.url" v-for="decor in decors" :key="decor.id" :class="{ highlighted: selectedIndex == decor.index}">{{ decor.name }} </a>
                </div>
            </div>
            <div class="sub-heading" v-show="suppliers.length">
                <div class="icon"><i class="fa fa-search text-orange"></i></div>
                <div class="results">
                    <a :href="`/supplier?q=${searchInput}`" v-if="!suppliers.length">{{ searchInput  }} <span class="text-muted">in suppliers</span></a>
                    <a :href="supplier.url" v-for="supplier in suppliers" :key="supplier.id" :class="{ highlighted: selectedIndex == supplier.index}">{{ supplier.name }} </a>
                </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            showResults: false,
            loading: false,

            searchInput: '',
            selectedIndex: 0,
            results:[]
        }
    },
    methods:{
        selectUp(){
            if(this.selectedIndex > 0){
                this.selectedIndex = this.selectedIndex - 1;
            }
        },
        selectDown(){
            if(this.selectedIndex < this.results.length - 1){
                this.selectedIndex = this.selectedIndex + 1;
            }
        },
        hasSelected(){
            // if(this.selectedIndex){
                var url =  _.find(this.results, 'index', this.selectedIndex).url
                window.open(url, '_self')
            // }
        },
        search: _.debounce( function() {
            // this.result = []
            // this.loading = true;
            if(this.searchInput.length > 0){

                axios.post('/search', {q: this.searchInput} )
                    .then( response => {
                        this.results = response.data.map( (e, index)  =>{
                            return {
                                index: index,
                                id: e.id,
                                name: e.name,
                                url: e.url,
                                type: e.type
                            }
                        })

                        this.loading = false
                    })
                    .catch( error => {
                        console.log(error)
                    })

                this.showResults = true
            }else{
                this.results = []
                this.showResults = false
                this.showResults = false
            }

        }, 500)
    },
    computed:{
        inspirations(){
            return this.results.filter(e => {
                return e.type == 'inspiration'
            })
        },
        venues(){
            return this.results.filter(e => {
                return e.type == 'venue'
            })
        },
        decors(){
            return this.results.filter(e => {
                return e.type == 'decor'
            })
        },
        suppliers(){
            return this.results.filter(e => {
                return e.type == 'supplier'
            })
        },
    }
}
</script>

<style lang="scss" scoped>
    .main-search{
        position: relative;
        
        
        .search-result-box{
            position: absolute;
            z-index: 9999;
            width: 100%;
            background-color:#fff;
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
            padding:0px;

            .sub-heading{
                padding:10px;
                border-bottom: 1px solid rgb(247, 247, 247);
                display: flex;

                .icon{
                    width:25px;
                    padding-top:5px;
                }
                .results{   
                    flex:1;

                    a{
                        display:block;
                        padding:3px 3px 3px 5px;
                        color:#464545;

                        &:hover{
                            background-color:rgb(238, 238, 238);
                        }

                        &.highlighted{
                             background-color:rgb(238, 238, 238);
                        }
                    }

                }
            }
        }
    }
</style>