<template>
  <div class="box bg-white p-3">
    <div class='p-5' v-show="reference_id">
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <h4 class="text-center mb-3">
        Your Quote <span class="text-orange">{{ reference_id }}</span> is being prepared
        </h4>
        <p>
        We are now contacting suppliers to get you some Pricing on your selected items.
        This generally takes around 3 days to complete and we will notify via your selected email once it is ready.
        </p>
        <p>
            All of your suppliers have undergone our stringent testing 
            to make sure that they can deliver and supplier the items for your special day
        </p>
        <p>
            if you have any questions or concerns please email us here with your Qoute ID Detailed about.
        </p>
        <div class="text-center">
            <a href="/user/qoute">Back to Quote list</a>        
        </div>
    </div>
    <div class="line-tab" v-if="!reference_id">
        <nav class="mb-3">
               
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" href="#" :class="{ active: informationTab }"  @click.prevent="updateTab('informationTab')"  role="tab" aria-controls="inspiration-tab" aria-selected="true">Information</a>
                <a class="nav-item nav-link" href="#" :class="{ active: savedDecorTab }"  @click.prevent="updateTab('savedDecorTab')" role="tab" aria-controls="save-decor-tab" aria-selected="true">Saved Décor</a>
                <a class="nav-item nav-link" href="#" :class="{ active: moreDecor }"  @click.prevent="updateTab('moreDecor')" role="tab" aria-controls="addition-decor" aria-selected="false">More Décor</a>
                <a class="nav-item nav-link" href="#" :class="{ active: reviewTab }"  @click.prevent="updateTab('reviewTab')" role="tab" aria-controls="finishing-up" aria-selected="false">Review your List</a>
            </div>
        </nav>
    </div>
    <div class="tab-content py-3 px-3 px-sm-0" v-if="!reference_id">
      
      <transition name="slide-fade">
        <div class="tab-pane fade" :class="{ active:informationTab, show: informationTab}" id="inspiration-tab" role="tabpanel" aria-labelledby="inspiration-tab">
              <!-- <div class="search-input" >
                        <input type="text" v-model="searchDecor" class="form-control" placeholder=" Search..">
                        <select v-model="searchtype">
                            <option value="name">Name</option>
                            <option value="Supplier">Supplier</option>\
                        </select>
                    </div> -->
            <h4 class="text-center mb-5 mt-2">
                Just a few question before <br> we get stated.
            </h4>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    
                    <form @submit.prevent="formSubmit()">
                        <p>
                            <label for="">Event Name</label>
                            <input type="text" required class="form-control" v-model="event_name">
                        </p>  
                        <p>
                            <label for="">Event Type</label>
                            <select name="event_type" v-model="eventType" required class="form-control">
                                <option :value="event_type.id" v-for="event_type in eventTypes" :key="event_type.id">{{ event_type.name }}</option>
                            </select>
                        </p>
                        <p>
                            <label for="">Event Location</label>
                            <geolocation-autocomplete @selected="setGeolocation" styleclass='form-control form-control-sm'></geolocation-autocomplete>
                        </p>
                        <p>
                            <label for="">Event Date</label>
                            <input type="date" class="form-control" required v-model="event_date">
                        </p>    
                        <p>
                            <label for="">What time will the event start?</label>
                            <input type="time" class="form-control"  v-model='time_start' required>
                        </p>
                        <p>
                            <label for="">What time will the event end?</label>
                            <input type="time" class="form-control"  v-model="time_end" required>
                        </p>
                        <p>
                            <label for="">Estimated Number of Guest</label>
                            <input type="number" class="form-control" v-model="number_of_guests" required>
                        </p>
                        <div class="text-right mt-4">
                            <button class="btn btn-warning btn-lg text-white"> Next <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </transition>
        
      <transition name="slide-fade">
        <div class="tab-pane fade"  :class="{ active:savedDecorTab, show: savedDecorTab}" id="save-decor-tab" role="tabpanel" aria-labelledby="save-decor-tab">
             <div class="text-center mt-5 mb-5" v-if="!location && !eventType">
                <small style="font-size:14px">
                Please fill up all the fields in the information tab. Thank you.
                </small>
            </div>
            <div v-if="location && eventType">
                <div class="mb-5 row">
                    <div class="col-sm-8 offset-sm-2">
                        <h4 class=" mt-2 text-center mb-3">
                            Saved Decor which is available at <br> your venue or location.
                        </h4>
                        <small>
                            Below is the list of decor which you have previously saved which can be supplied to <span class="text-orange">{{ location }} </span> for {{ selectedEventType ? selectedEventType.name : '' }}.
                        </small>
                        <br>
                        <small>
                            Would you like to obtain  a quote on any of these items?
                        </small>
                    </div>
                    
                </div>
                <h4 class="text-center text-muted" v-show="!savedDecors.length">
                    - No saved data in {{ location }} for {{ selectedEventType ? selectedEventType.name : '' }} -
                </h4>
            </div>

            <div class="media mb-2"  v-for="decor in savedDecors" :key="decor.id">
                <img class="mr-3 mb-0" :src="decor.thumbnail"  alt="Generic placeholder image">
                <div class="media-body">
                    <div class="buttons">
                        <a href=""  class="quoting-button-add" @click.prevent="addToSelected(decor)"><i class="fa fa-plus"></i></a>
                    </div>
                    <h5 class=" mt-0 mb-0 ">{{ decor.name }}</h5>
                    <small class="text-orange">
                        {{ decor.company }}
                    </small>
                     <div>
                        Quantity: <input type="number" v-model="decor.quantity"  >
                    </div>
                </div>
            </div>
            <div class="text-right mt-4"  v-if="location && eventType">
                <button @click.prevent="updateTab('moreDecor')" class="btn btn-warning btn-lg text-white"> Next <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>
      </transition>
    
      <transition name="slide-fade">
        <div class="tab-pane fade"  :class="{ active:moreDecor, show: moreDecor }" id="addition-decor" role="tabpanel" aria-labelledby="save-decor-tab">
            <div class="text-center mt-5 mb-5" v-if="!location && !eventType">
                <small style="font-size:14px">
                Please fill up all the fields in the information tab. Thank you.
                </small>
            </div>
            <div class="row mb-2" v-if="location">
                <div class="col-sm-4">
                    <div class="search-input" >
                        <input type="text" v-model="searchDecor" class="form-control" placeholder=" Search..">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown-list">
                        <label for="" class="form-control">Event Type <i class="fa fa-sort pull-right mt-1"></i></label>
                        <div class="option-box">
                            <div class="list-item">
                                <div class="custom-control custom-checkbox" v-for="eventType in eventTypes" :key="eventType.id">
                                    <input type="checkbox" :value="eventType.id" v-model="categories" class="custom-control-input" :id="'filter' + eventType.id">
                                    <label class="custom-control-label" :for="'filter' + eventType.id">{{ eventType.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown-list">
                        <label for="" class="form-control">Categories <i class="fa fa-sort pull-right mt-1"></i></label>
                        <div class="option-box">
                            <div class="list-item">
                                <div class="custom-control custom-checkbox" v-for="product_type in product_types" :key="product_type.id">
                                    <input type="checkbox" :value="product_type.id" v-model="categories" class="custom-control-input" :id="'filter' + product_type.id">
                                    <label class="custom-control-label" :for="'filter' + product_type.id">{{ product_type.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                     <button @click.prevent="updateTab('reviewTab')" class="btn btn-warning btn-block text-white"> Next <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
            
            <div class="p-3 text-center" v-show="loading"><i class="fa fa-spin fa-spinner"></i> loading products..</div>
            <div class="p-5 text-center text-muted" v-if="allDecors.length < 1 && !loading">No Product found</div>
            <div class="media mb-2"  v-for="decor in allDecors" :key="decor.id">
                <img class="mr-3 mb-0" :src="decor.thumbnail"  alt="Generic placeholder image">
                <div class="media-body">
                    <div class="buttons">
                        <a href="" class="quoting-button-add" @click.prevent="addToSelected(decor)"><i class="fa fa-plus"></i></a>
                    </div>
                    <h5 class=" mt-0 mb-0 ">{{ decor.name }}</h5>
                    <small class="text-orange">
                        {{ decor.company }}
                    </small>
                     <div>
                        Quantity: <input type="number" v-model="decor.quantity"  >
                    </div>
                </div>
            </div>
        </div>
      </transition>

      <transition name="slide-fade">
        <div class="tab-pane fade"  :class="{ active:reviewTab, show: reviewTab }" id="finishing-up" role="tabpanel" aria-labelledby="save-decor-tab">
            <div class="text-center mt-5 mb-5" v-if="!location && !eventType">
                <small style="font-size:14px">
                Please fill up all the fields in the information tab. Thank you.
                </small>
            </div>
            <div class="search-input mb-2"  v-if="location && eventType">
                <div class="text-center mt-5 mb-5" v-if="!location && !eventType">
                    <small style="font-size:14px">
                    Please fill up all the fields in the information tab. Thank you.
                    </small>
                </div>
                <div class="text-center mt-5 mb-5"  v-show="!selectedDecors & location && eventType">
                    <small style="font-size:14px">
                    No decor selected. Please select decor first. Thank you.
                    </small>
                </div>
                <div v-show='selectedDecors'>
                    <div class="mb-5 row">
                        <div class="col-sm-8 offset-sm-2">
                            <h4 class=" mt-2 text-center mb-3">
                                Here is the list of the items  <br> you have selected.
                            </h4>
                        </div>
                    </div>
                    <form @submit.prevent="submit()" id="form">
                        <input type="hidden" class="form-control form-control-sm" name="event_type" :value="selectedEventType ? selectedEventType.name : ''" required>

                        <input type="hidden" class="form-control form-control-sm" name="event_name" :value="event_name" required>
                        
                        <input type="hidden" class="form-control form-control-sm" name="location" :value="location" required>
                    
                        <input type="hidden" class="form-control form-control-sm" name="event_date" :value="event_date" required>
                    
                        <input type="hidden" class="form-control form-control-sm" name="time_start"  :value='time_start' required>
                    
                        <input type="hidden" class="form-control form-control-sm" name="time_end"  :value="time_end" required>
                
                        <input type="hidden" class="form-control form-control-sm" name="number_of_guests"  :value="number_of_guests" required>
                        
                        <transition-group name="slide-fade">
                            <div class="media mb-2"  v-for="selecteddecor in selectedDecors" :key="selecteddecor.id">
                                <input type="hidden" name="decors[]" :value="selecteddecor.id">
                                <input type="hidden" name="quantity[]" :value="selecteddecor.quantity">
                                <img class="mr-3 mb-0" :src="selecteddecor.thumbnail"  alt="Generic placeholder image">
                                <div class="media-body">
                                    <div class="buttons">
                                        <a  href="#" class="text-danger" @click.prevent="removeSelected(selecteddecor)"><i class="fa fa-remove"></i></a>
                                    </div>
                                    <h5 class=" mt-0 mb-0 ">{{ selecteddecor.name }}</h5>
                                    <small class="hidden-orange">
                                        {{ selecteddecor.company }}
                                    </small>
                                    <div>
                                        Quantity: {{ selecteddecor.quantity }}
                                    </div>
                                </div>
                            </div>
                        </transition-group>

                        <div class="text-center m-5">
                            <button class="btn btn-warning text-white btn-lg" type="submit" v-if="selectedDecors.length">Lets get Pricing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
    props:['route', 'storeroute'],
    data(){
        return {
            savedDecors:[],
            selectedDecors: [],
            allDecors: [],
            location: '',
            eventTypes:[],

            //for variables
            event_name: '',
            eventType:  '',
            event_date:'',
            time_start:'',
            time_end:'',
            number_of_guests:'',
            searchDecor: '',
            searchtype: 'name',
            reference_id: '',
            latitude: '',
            longitude : '',

            //showing tab
            goodtoproceed: false,
            informationTab: true,
            savedDecorTab:false,
            moreDecor: false,
            reviewTab:false,
            loading: false,

            //for filtering
            product_types:[],
            selectedEventTypes:[],
            categories: [],
        }
    },
    created(){
        this.getEventTypes();
        this.getProductTypeOptions();
    },
    computed:{
        selectedEventType(){
            return _.find(this.eventTypes, ['id', this.eventType]);
        }
    },
    watch:{
        latitude(){
            this.getSavedDecors()
            this.getRelatedDecors();
        },

        eventType(){
            this.getSavedDecors()
            this.getRelatedDecors();
            // this.categories.push(this.eventType)
        },

        searchDecor: _.debounce(function(){
            this.getSavedDecors();
            this.getRelatedDecors();
        }, 500),

        categories: _.debounce(function(){
            this.getSavedDecors();
            this.getRelatedDecors();
        }, 500),
    },
    methods:{
        formSubmit(){
            this.goodtoproceed = true;
            this.updateTab('savedDecorTab'); 
        },

        setGeolocation(geolocation){
            this.location = geolocation.formatted_address;
            this.latitude  = geolocation.latitude
            this.longitude  = geolocation.longitude
        },
        submit(){
            axios.post(this.storeroute, $('#form').serialize())
                .then(response => {
                    if(response.data.status == 200){
                        window.open('/user/qoute/' + response.data.reference_id, "_self")
                        // this.reference_id = response.data.reference_id
                    }
                })
                .then( error => {
                    console.log(error)
                })
        },
        addToSelected(decor){
           var exist =  _.find(this.selectedDecors, ['id', decor.id]);
           if(!exist){
               this.selectedDecors.push(decor)
           }
        },

        updateTab(item){
            switch (item){
                case "informationTab":
                    this.informationTab = true;
                    this.savedDecorTab =false;
                    this.moreDecor = false;
                    this.reviewTab =false;
                    break;
                case "savedDecorTab":
                    if(this.goodtoproceed){
                        this.informationTab = false;
                        this.savedDecorTab =true;
                        this.moreDecor = false;
                        this.reviewTab =false;
                   }
                    break;
                case "moreDecor":
                   if(this.goodtoproceed){
                        this.informationTab = false;
                        this.savedDecorTab =false;
                        this.moreDecor = true;
                        this.reviewTab =false;
                   }
                    break;
                case "reviewTab":
                   if(this.goodtoproceed){
                        this.informationTab = false;
                        this.savedDecorTab =false;
                        this.moreDecor = false;
                        this.reviewTab = true;
                   }
                    break;
            }
        },

        removeSelected(decor){
            this.selectedDecors.splice(this.selectedDecors.indexOf(decor), 1)
        },

        getRelatedDecors(){
            this.loading = true
            this.allDecors = []
            if(this.latitude && this.longitude && this.eventType){
                axios.post(this.route, {
                        latitude: this.latitude,
                        longitude: this.longitude,
                        categories: this.categories,
                        search: this.searchDecor
                    })
                    .then( response => {
                        this.allDecors = response.data
                        this.loading = false
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }
        },

        getSavedDecors(){
            if(this.latitude && this.longitude && this.eventType){
                // axios.get(this.route + '?latitude=' + this.latitude + '&longitude=' + this.longitude +'&cater=' + this.eventType)
                //     .then( response => {
                //         this.savedDecors = response.data
                //     })
                //     .catch( error => {
                //         console.log(error)
                //     })
                
                axios.post(this.route, {
                        latitude: this.latitude,
                        longitude: this.longitude,
                        categories: this.categories,
                        savedDecors: true
                    })
                    .then( response => {
                        this.savedDecors = response.data
                    })
                    .catch( error => {
                        console.log(error)
                    })

            }
        },

        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then(response => {
                    this.eventTypes = response.data.list
                    this.eventType = response.data.list[0]
                })
                .catch( error => {
                    console.log(error)
                })
        },
         // category Catering Option
        getProductTypeOptions(){
            axios.get('/api/category?type=product_type')
                .then( response => {
                    this.product_types = response.data.list
                    console.log(response.data.list)
                    // if(this.defaultCategory != ""){
                    //     this.categories = [this.defaultCategory]
                    // }
                })
                .catch(error => {
                    console.log(error)
                })
        },

        
    }

}
</script>

<style scoped lang="scss">
    .dropdown-list{
        position: relative;

        &:hover{
            .option-box{
                display: block;
            }
        }

        .form-control{
            margin-bottom: 0px;
        }

        .option-box{
            display: none;
            z-index: 999;
            position: absolute;
            padding:5px 0px 3px 0px;
            min-width: 175px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            height: 200px;
            overflow: auto;

            .list-item{
                padding:5px 5px 5px 8px;
                cursor: pointer;

                &:hover{
                    background-color:rgb(247, 247, 247);
                }
            }
        }


    }
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .7s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

    .search-input{
        position: relative;

     

        i.fa-search{
            position:absolute;
            right:15px;
            top:10px;
            color:#ccc;
        }

        select{
            position: absolute;
            right:5px;
            top:0px;
            background-color: transparent;
            border:none;
            font-size: 16px;
            border-left:1px solid #ccc;
            padding-left:10px;
            color:#a9a0a0;
            height: 100%;

            &:focus{
                outline: none;
            }
        }
    }

    .media {
        background-color:#f9f9f9;
        border-radius: 5px;
        padding:10px;
        
        img{
            width:84px;
            height: 84px;
            border-radius: 5px;
        }

        .media-body{
            position: relative;

            input{
                border:none;
                background: transparent;
                width:50px;
                border-bottom: 1px solid #ccc;
                text-align: center; 
            }

            .buttons{
                position: absolute;
                right:5px;
                padding-top:25px;
                
                a{
                    vertical-align: middle;
                    border-radius: 50%;
                    background-color:#fff;
                    padding: 12px 15px 10px 17px;

                    &:hover{
                        background-color: #f39c12;
                        color:#fff;
                    }
                }
            }
        }
    }

    .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
</style>