<template>
    <div class="col-sm-4 col-6 col-sm-4 col-lg-4">
        <div class="card rounded-0 mb-4 venue-box">
            <a :href="venue.slug">
                <div class="image-box">
                    <!-- <img class="card-img-top rounded-0" v-lazy="venue.thumbnail" data-src="/images/loadings/image-loading.gif"  alt="Thubnail"> -->
                     <div class="card-img-top  rounded-0" :style="backgroundCss" alt="Card image cap"></div>
                    <div class="images-number">
                        <span class="images mr-2">
                            <i class="fa fa-image"></i> {{ venue.gallery_count }}
                        </span>
                        <span class="shares mr-2">
                            <i class="fa fa-share"></i> {{ venue.shares }} 
                        </span>
                        <span class="hearts mr-2">
                            <i class="fa fa-heart"></i> {{ venue.hearts }} 
                        </span>
                        <span class="hearts">
                            <i class="fa fa-comment"></i> {{ venue.reviews }} 
                        </span>
                    </div>
                </div>
            </a>
            <div class="card-body pt-1 pl-2  pb-0">
                <h4 class=" d-block mb-0 title">
                    <a :href="venue.slug">
                        {{ venue.name }}
                    </a>
                </h4>
                <small class="location text-muted">
                    <i class="fa fa-map-marker"></i> {{ venue.location }}
                </small>
                <div class="mt-2 mb-2">
                    <div v-html="venue.description.slice(0, 80) + '...'" v-show="!showlongText"></div>
                    <div v-html="venue.description" v-show="showlongText"></div>
                    <a style="font-size:12px" href="#" v-show="!showlongText" @click.prevent="showlongText = !showlongText"> Read More..</a>
                    <a style="font-size:12px" href="#" v-show="showlongText" @click.prevent="showlongText = !showlongText"> Show less..</a>
                </div>

                <div class="d-flex mb-2 other-info align-items-center">
                    <div class="flex-fill">
                        <div class="stars">
                                <Star :rating="venue.ratings"/>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <strong>Event Spaces</strong>
                        <div class="text-orange">{{ venue.function_spaces}} spaces</div>
                    </div>
                    <div class="flex-fill text-right">
                        <!-- <a :href="venue.compony_link">
                        <img :src="venue.company_thumbnail" alt="" class="supplier-logo" style="width: 36px; height: 36px">
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Star from '../../../Ui/StarRating.vue'
export default {
    props:['venue'],
    components:{
        Star
    },
    data(){
        return {
            backgroundCss: `background-image:url(${this.venue.thumbnail}); background-size:cover; background-position:center`,
            showlongText: false 
        }
    },
    created(){  
        // console.log(this.venue)
    }
}

</script>

<style lang="scss" scoped>
    img{
        object-fit: cover;
    }

      .card-img-top{
        height: 250px;

        @media (min-width: 1561px){
            height: 350px;    
        }

        @media (min-width: 1281px) and (max-width: 1560px)  {
  
             height: 280px;
        
        }

        /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {
        
         height: 250px;
        
        }

        /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {
        
              height: 100px;
        
        }

        /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        
              height: 280px;
        
        }

        /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
        */

        @media (min-width: 481px) and (max-width: 767px) {
        
              height: 180px;
        
        }

        /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
        */

        @media (min-width: 320px) and (max-width: 480px) {
        
        //CSS
        
        }
    }
</style>