<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="filter-box bg-white pl-4 pr-4">
                    <a href="#" class="pull-right text-muted" @click.prevent="clearCategories()">Clear Filter</a> 
                    <!-- <div class=' pb-2 pt-4'>
                        <p>
                            <h5>Location</h5>
                            <geolocation-autocomplete @clear="clearGeolocation" @selected="setGeolocation" styleclass='form-control'></geolocation-autocomplete>
                        </p>
                         <h5>Distance</h5>
                         <select v-model="distance" class="form-control">
                             <option value="5">5 Kilometers</option>
                             <option value="10">10 Kilometers</option>
                             <option value="20">20 Kilometers</option>
                             <option value="50">50 Kilometers</option>
                         </select>
                    </div> -->
                    
                    <!-- <div class='pb-2 pt-4'>
                        <h5>Supplier</h5>
                        <input type="text" placeholder=" search supplier.." v-model="searchSupplier"  class="form-control form-input-sm">
                    </div> -->

                    <div class="filter-groups">
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="'event' + event_type.id">
                            <input type="checkbox" :value="event_type.id" :id="event_type.id" @change="event_type.checked = !event_type.checked" v-model="categories" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div>
                    <div class="filter-groups">
                        <h5>Venue Type</h5>
                        <div class="chips main" v-for="venue_type in venue_types" :key="venue_type.id">
                            <input type="checkbox" :value="venue_type.id" :id="venue_type.id" @change="venue_type.checked = !venue_type.checked" v-model="categories" >
                            <label :for="venue_type.id"> {{ venue_type.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Catering Option</h5>
                        <div class="chips main" v-for="catering_option in catering_options" :key="catering_option.id">
                            <input type="checkbox" :value="catering_option.id" :id="catering_option.id" @change="catering_option.checked = !catering_option.checked" v-model="categories" >
                            <label :for="catering_option.id"> {{ catering_option.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups">
                        <h5>Beverage Option</h5>
                        <div class="chips main" v-for="beverage_option in beverage_options" :key="beverage_option.id">
                            <input type="checkbox" :value="beverage_option.id" :id="beverage_option.id" @change="beverage_option.checked = !beverage_option.checked" v-model="categories" >
                            <label :for="beverage_option.id"> {{ beverage_option.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups">
                        <h5>Amenities</h5>
                        <div class="chips main" v-for="amenity in amenities" :key="amenity.id">
                            <input type="checkbox" :value="amenity.id" :id="amenity.id" @change="amenity.checked = !amenity.checked" v-model="categories" >
                            <label :for="amenity.id"> {{ amenity.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Cost Per Head</h5>
                        <div class="chips main" v-for="costPerHead in costPerHeads" :key="costPerHead.id">
                            <input type="checkbox" :value="costPerHead.id" :id="costPerHead.id" @change="costPerHead.checked = !costPerHead.checked" v-model="categories" >
                            <label :for="costPerHead.id"> {{ costPerHead.name }}</label>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-sm-8">
                <!-- Venue items -->
               
                
                <div class="row ">
                    <Item v-for="venue in venues" :key="venue.id" :venue="venue" />
                </div>
                <div v-show="loadingContent" class='text-center'>
                    <i class="fa fa-spin fa-spinner" ></i> Loading...
                </div>
                <div class="text-center text-muted mt-5 p-5" v-show="noData">
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                </div>
                <div class="text-center mt-3 mb-3" @click.prevent="loadMore()" v-show="links.next != null">
                    <a href="#" class="text-orange btn btn-outline-warning" v-show="!loadingContent">Load More</a>
                </div>
            </div>
        
        </div>
    </div>
</template>

<script>

import Item from './Item.vue';

export default {
    props: ['defaultCategory', 'supplier'],
    components:{
        Item
    },
    data(){
        return{
            links:{},
            venues: {},
            loadingContent: false,
            categories: [],
            event_types:[],
            venue_types: [],
            catering_options: [],
            beverage_options: [],
            amenities: [],
            costPerHeads: [],
            noData: false,

            //utilities
            searchName: '',
            searchSupplier: '',

                //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10
        }
    },
    created(){
        this.getVenues()
        this.getEventTypes()
        this.getVenueTypes()
        this.getCateringOptions()
        this.getBeverageOptions()
        this.getAmenities()
        this.getCostPerHeads()
    },
    watch:{
        categories: _.debounce(function(){
            this.getVenues()
        }, 500),

        searchSupplier: _.debounce(function(){
           this.searchSupplierSubmit()
        }, 500),


        distance: _.debounce(function(){
            if(this.longitude && this.latitude){
                this.getVenues()
            }
        },500)
    },
    computed:{
        categoryArray(){
            return JSON.parse("[" + this.categories + "]")
        }
    },
    methods:{

         setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.locationsearch = geolocation.formatted_address
            this.venues = []
            this.getVenues()
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.venues = []
            this.getVenues()
        },


        //Get venues
        getVenues(link = null){
            
            this.loadingContent = true
            this.noData = false
            
            axios.post(link ? link : '/venue/list',{
                    categories: this.categoryArray ? this.categoryArray : "",
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance, 
                    supplier_id: this.supplier
                })
                .then( response => {

                    if(link){
                        response.data.data.map( e => {
                            this.venues.push(e)
                        })
                    }else{
                        this.venues = {}
                        // console.log(response.data.data)
                        this.venues = response.data.data
                    }

                    if(undefined  !== response.data.data.length){
                        if(response.data.data.length < 1){
                           this.noData = true;
                        }
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Name
        searchNameSubmit(){
            this.venues = {}
            this.loadingContent = true

            axios.post('/venue/list',{
                    search: this.searchName,
                    location: this.searchLocation
                },
                )
                .then( response => {
                    this.venues = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Supplier
        searchSupplierSubmit(){
            this.venues = {}
            this.loadingContent = true
            axios.post('/venue/list',{
                    supplier: this.supplierName
                },
                )
                .then( response => {
                    this.venues = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Load more Button
        loadMore(){
            this.getVenues(this.links.next);
        },

        //Clear Categories
        clearCategories(){
            this.categories = []
        },

        // category Cater
        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then( response => {
                    this.event_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Venue Type
        getVenueTypes(){
            axios.get('/api/category?type=venue_type')
                .then( response => {
                    this.venue_types = response.data.list.map(e => {
                        return {
                            'id': e.id,
                            'name' : e.name,
                            'checked': false
                        }
                    })
                    if(this.defaultCategory != ""){
                        this.categories = [this.defaultCategory]
                        var parent = this.venue_types.find( e => {
                            return e.id == this.defaultCategory
                        });
                        parent.checked = true
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Catering Option
        getCateringOptions(){
            axios.get('/api/category?type=catering_option')
                .then( response => {
                    this.catering_options = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Beverage Option
        getBeverageOptions(){
            axios.get('/api/category?type=beverage_option')
                .then( response => {
                    this.beverage_options = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Amenities
        getAmenities(){
            axios.get('/api/category?type=amenity')
                .then( response => {
                    this.amenities = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Cost Per Head
        getCostPerHeads(){
            axios.get('/api/category?type=average_cost_per_head')
                .then( response => {
                    this.costPerHeads = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }
}
</script>
<style lang="scss" scoped>

    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;
        
        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px; 
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>