<template>
    <div class="container">
        <div class="text-center text-muted mt-5 p-5" v-show="noData">
                <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
        </div>
        <div class="row ">
                <Item v-for="venue in venues" :key="venue.id" :venue="venue" />
        </div>
        <div v-show="loadingContent" class='text-center'>
                <i class="fa fa-spin fa-spinner" ></i> Loading...
        </div>
        <div class="text-center mt-3 mb-3" @click.prevent="loadMore()" v-show="links.next != null">
                <a href="#" class="text-orange btn btn-outline-warning" v-show="!loadingContent">Load More</a>
        </div>

    </div>
</template>

<script>

import Item from './Item.vue';

export default {
    props: ['supplier', 'current_id', 'uri'],
    components:{
        Item
    },
    data(){
        return{
            links:{},
            venues: {},
            loadingContent: false,
            categories: [],
            event_types:[],
            venue_types: [],
            catering_options: [],
            beverage_options: [],
            amenities: [],
            costPerHeads: [],
            noData: false,

            //utilities
            searchName: '',
            searchSupplier: '',

                //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10
        }
    },
    created(){
        this.getVenues()
    },
    computed:{
        categoryArray(){
            return JSON.parse("[" + this.categories + "]")
        }
    },
    methods:{

  

        //Get venues
        getVenues(link = null){
            
            this.loadingContent = true
            this.noData = false
            
            axios.post(link ? link : this.uri ,{
                    supplier_id: this.supplier,
                    current_id: this.current_id
                })
                .then( response => {

                    if(link){
                        response.data.data.map( e => {
                            this.venues.push(e)
                        })
                    }else{
                        this.venues = {}
                        // console.log(response.data.data)
                        this.venues = response.data.data
                    }

                    if(undefined  !== response.data.data.length){
                        if(response.data.data.length < 1){
                           this.noData = true;
                        }
                    }
                    
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

     
        // Load more Button
        loadMore(){
            this.getVenues(this.links.next);
        },


    }
}
</script>
<style lang="scss" scoped>

    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;
        
        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px; 
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>