<template>
    <div class="chat-body p-3">
        <div class="flex">
            <div class="users-col pr-1">
                <div class="search-chat pr-2 mb-1">
                    <input type="text" name="message" placeholder="search..." class="form-control">
                    <i class="fa fa-search"></i>
                </div>
                <div class="users scroller pr-2" style="width:250px;">
                    <ConversationItemPlaceholder  v-if="loadingConvo" />
                    <ConversationItem :currentchannel="selectedConversation" :userid="userid" v-for="(conversation, index) in conversations" @setMessages="setMessages(conversation)" :conversation="conversation" :key="index" />
                </div>
            </div>
            <div class="flex1 messages-col p-2">
                <div class="name-of-recieptient" v-if="channel">
                    <img :src="channel.avatar" class="img img-circle mr-2" alt="Avatar">
                    <span class="name">{{ channel.recipient_name }}</span>
                    <a href="#" class="pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <div class="direct-chat-messages scroller" v-chat-scroll style="margin-bottom:55px;">
                    
                    <text-message  v-for="(messageinfo, index) in selectedConversation.messages" :message="messageinfo" :userid="userid" :key="index" ></text-message>
                    <!-- <div  v-for="(messageinfo, index) in messages" :key="index">
                        <div class="outgoing_msg"  v-if="messageinfo.senderId == userid">
                            <div class="sent_msg">
                                <p>{{ messageinfo.message }}</p>
                                <span class="time_date"><timeago :datetime="messageinfo.timestamp" :auto-update="60"></timeago></span> 
                            </div>
                        </div>
                        <div class="incoming_msg" v-if="messageinfo.senderId != userid">
                            <div class="incoming_msg_img"> <img :src="messageinfo.avatar" :alt="messageinfo.sender"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                <p>{{ messageinfo.message }}</p>
                                <span class="time_date ml-2"><timeago :datetime="messageinfo.timestamp" :auto-update="60"></timeago></span></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="direct-chat-msg" :class="{right: messageinfo.senderId == userid}" v-for="(messageinfo, index) in messages" :key="index">
                        <div class="direct-chat-info clearfix" v-if="messageinfo.senderId != userid">
                            <span class="direct-chat-name pull-left">{{ messageinfo.sender }}</span>
                            <span class="direct-chat-timestamp pull-left">23 Jan 5:37 pm</span>
                        </div>

                        <div class="direct-chat-info clearfix" v-if="messageinfo.senderId == userid">
                            <span class="direct-chat-timestamp pull-right"><timeago :datetime="messageinfo.timestamp" :auto-update="60"></timeago></span>
                        </div>
                        
                        <img class="direct-chat-img" :src="messageinfo.avatar" :alt="messageinfo.sender">
                        <div class="direct-chat-text" :class="{'pull-right' : messageinfo.senderId == userid}">
                            {{ messageinfo.message }}
                        </div>
                    </div> -->
                </div>
                <div class="input-box">
                    <form @submit.prevent="sendMessage" method="post">
                        <div class="input-group">
                            <input type="text" name="message" required v-model="composedMessage" placeholder="Type Message ..." class="form-control input-lg">
                            <span class="input-group-btn">
                                <button type="button" :disabled="channel == ''" class="btn btn-warning btn-flat btn-lg">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from "axios"
import { firebaseDb } from "../../../firebase"
import ConversationItem from "./Conversation/Item"
import ConversationItemPlaceholder from "./Conversation/Placeholder"
import Text from "./Message/Text"
export default {
    props:['userid'],
    components:{
        ConversationItem,
        ConversationItemPlaceholder,
        'text-message': Text
    },
    data(){
        return {
            conversations: [],
            user: {},
            users: [],
            messages: [],
            channel: '',
            composedMessage: '',
            loadingConvo: true,
            selectedConversation: {}
        }
    },
    created(){
        this.getLoggedUser()
        this.getConverstions()
    },
    watch:{
        // conversations(){
        //     this.conversations = _.sortBy(this.conversations, [function(o) { return o.timestamp; }]);
        // }
    },
    methods:{
        sendMessage(){
            var postListRef = firebaseDb.ref('chats/' + this.selectedConversation.channel_id);
            var newMessage = postListRef.push();
            newMessage.set({
                avatar: this.user.avatar,
                message: this.composedMessage,
                read: false,
                sender: this.user.name,
                senderId: this.userid,
                timestamp: Date.now(),
                type: "text"
            }, (error) => {
                if (error) {
                    console.log("hhe: "  + error)
                } else {
                    this.updateLastMessageInChannel(this.composedMessage)
                    this.composedMessage = ''
                    axios.post('/dashboard/chat/newmessage',{
                        sender_id: this.user.id,
                        receiver_id: this.selectedConversation.recipient
                    }).then(response => {
                        
                    })
                    .catch( error => {
                        console.log(error)
                    })
                }
            });
        },
        

        getLoggedUser(){
            Axios.post('/dashboard/loggeduser')
                .then( response => {
                    this.user = response.data
                })
                .catch( error =>{
                    console.log(error)
                })
        },

        getConverstions(){
            firebaseDb.ref('channels/' + this.userid).orderByChild('timestamp').on('value', snapshot => {
                this.loadingConvo = false
                snapshot.forEach((childSnapshot) => {
                    var data = childSnapshot.val()
                    var messages = []
                    firebaseDb.ref('chats/' + data.channel_id).on('child_added', snapshot => {
                        messages.push(snapshot.val())
                    })
                    this.conversations.unshift({
                        avatar: data.avatar,
                        channel_id: data.channel_id,
                        message: data.message,
                        read: data.read,
                        recipient: data.recipient,
                        timestamp: data.timestamp,
                        messages: messages
                    })

                    
                });
                // this.conversations = _.sortBy(snapshot.val(), 'timestamp').reverse();
                // console.table(this.conversations)
                // alert("hehe")
            })

        },

        setMessages(conversation){
            // this.channel = channel
            this.messages = []
            this.selectedConversation = conversation
            // firebaseDb.ref('chats/' + this.selectedConversation.channel_id).on('child_added', snapshot => {
            //     this.selectedConversation.messages.push(snapshot.val())
            // })
        },

        updateLastMessageInChannel(message){
             firebaseDb.ref('channels/' + this.userid).child(this.selectedConversation.channel_id)
                .update({
                    message: "You: " + message,
                    timestamp: Date.now(),
                    message_id: Date.now()
                })
        },

        getComponent(component){
            return component;
        }
    }

}
</script>

<style lang="scss" scoped>

    .users-col{
        border-right: 1px solid rgb(245, 245, 245);
    }

    .chat-body{
        background-color: #fff;
    }

    .search-chat{
        position:relative;

        .fa{
            position: absolute;
            right: 10px;
            top:10px;
            color:rgb(175, 175, 175);
        }
    }

    
    

    .box{
        background-color: transparent;

        .box-header{
            &:hover{
                background-color: rgb(230, 230, 230);
                cursor: pointer;
            }
        }
    }

    .name-of-recieptient{
        .name{
            font-size:14px;
            font-weight: bold;
        }

        img{
            width:45px;
            height:45px;
        }

        padding:10px;
        background-color: #fff;

        a{
            text-align: right;
        }
    }

    .main-chat-body{
        background-color:#fff;
    }

    .users{
        .user-block{
            background-color: transparent;
        }

        height: calc(100vh - 230px);
        overflow: auto; 
    }

    .direct-chat-messages{
        height: calc(100vh - 300px);

        .direct-chat-timestamp{
            margin:0px 5px 0px 5px;
        }

        .direct-chat-text{
            max-width:70%;
            // position: absolute;
            display: inline-block;
            // font-size: 16px !important;
            // margin: 5px 0 10px 10px;

            &.pull-right{
                margin-right: 10px !important;
            }
        }

        
        
    }

    .messages-col{
        position:relative;
    }

    .input-box{
        position: absolute;
        bottom:0;
        width:100%;
    }


   
   
</style>
