<template>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Desciption</th>
                    <th>Styles</th>
                    <th>Settings</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="category in categories" :key="category.id">
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td class="pl-4">{{ category.styles.length }}</td>
                    <td class="pl-4">{{ category.settings.length }}</td>
                    <td class="text-right">
                        <a href="#" @click="selectedCategory = category"  data-toggle="modal" data-target="#myModal" class="mr-3"><i class="fa fa-eye"></i></a>
                        <a :href="route('dashboard.category.edit', [category.id])" class="mr-3"><i class="fa fa-pencil"></i></a>
                        <a href="#" data-buttons="delete" data-type="table" :data-url="route('dashboard.category.destroy', [category.id])"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
      
        <div class="modal in fade" v-if="selectedCategory" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ selectedCategory.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li :class="{ 'active' : tabActive == 'style' }" @click="tabActive = 'style'" ><a href="#style" data-toggle="tab">Styles</a></li>
                                <li :class="{ 'active' : tabActive == 'setting' }" @click="tabActive = 'setting'"><a href="#setting" data-toggle="tab">Settings</a></li>
                            </ul>
                            <div class="tab-content">
                                    <div class="tab-pane active" id="style">
                                    <div class="well p-1 m-2">
                                        <form action="#" @submit.prevent="submitStyle()" method="post">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="text" required v-model="style_name" class="form-control input-sm" placeholder="Name">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" v-model="style_description" class="form-control input-sm" placeholder="Description">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-block btn-sm btn-warning"><i class="fa fa-save"></i> Save</button>
                                                    <button v-if="style_editMode" class="btn btn-block btn-sm btn-default" @click.prevent="cancelEdit('style')" ><i class="fa fa-save"></i> Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                        <table class="table" v-show="!style_editMode">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Desciption</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for='style in selectedCategory.styles' :key="style.id">
                                                <td>{{ style.name }}</td>
                                                <td>{{ style.description }}</td>
                                                <td class="text-right">
                                                    <a href="#" class="mr-3" @click.prevent="edit('style', style)"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" @click.prevent="deleteCategory('style', style)" ><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="setting">
                                    <div class="well p-1 m-2">
                                        <form action="#" @submit.prevent="submitSetting()" method="post">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="text" required v-model="setting_name" class="form-control input-sm" placeholder="Name">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" v-model="setting_description" class="form-control input-sm" placeholder="Description">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-block btn-sm btn-warning" type="submit" ><i class="fa fa-save"></i> Save</button>
                                                    <button v-if="setting_editMode" class="btn btn-block btn-sm btn-default" @click.prevent="cancelEdit('setting')" ><i class="fa fa-save"></i> Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <table class="table" v-show="!setting_editMode">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Desciption</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for='setting in selectedCategory.settings' :key="setting.id">
                                                <td>{{ setting.name }}</td>
                                                <td>{{ setting.description }}</td>
                                                <td class="text-right">
                                                    <a href="#" class="mr-3" @click.prevent="edit('settings', setting)"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" @click.prevent="deleteCategory('settings', setting)"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    props:['cateroriesRoute','subcategoryAddRoute'],
    data(){
        return{
            categories:[],
            selectedCategory:{},

            //form inputs
            setting_name:'',
            setting_description:'',
            setting_editMode: false,

            style_name:'',
            style_description:'',
            style_editMode: false,

            editingCategory: {},
            tabActive: 'style'
        }
    },
    created(){
        this.getCategories()
    },
    methods:{
        submitSetting(){
            // editing mode
            if(this.setting_editMode){
                axios.post(route('dashboard.category.update.subcategory',[this.editingCategory.id]),{
                        id: this.editingCategory.id,
                        name: this.setting_name,
                        description: this.setting_description,
                    })
                    .then( response => {
                        //replace
                        var index = _.findIndex(this.selectedCategory.settings, this.editingCategory)
                        this.selectedCategory.settings.splice(index, 1, response.data);

                        this.setting_name = ''
                        this.setting_description = ''
                        this.setting_editMode = false
                        this.editingCategory = {}
                    })
                    .catch( error => {
                        console.log(error)
                    })     
            }else{
                // Adding post
                axios.post(this.subcategoryAddRoute,{
                        type: 'setting',
                        module: 'category',
                        category_id: this.selectedCategory.id,
                        name: this.setting_name,
                        description: this.setting_description,
                    })
                    .then( response => {
                        this.selectedCategory.settings.push(response.data);
                        this.setting_name = ''
                        this.setting_description = ''
                    })
                    .catch( error => {
                        console.log(error)
                    })             
            }

        },
        submitStyle(){
            if(this.style_editMode){
                // editing mode
                axios.post(route('dashboard.category.update.subcategory',[this.editingCategory.id]),{
                        id: this.editingCategory.id,
                        name: this.style_name,
                        description: this.style_description,
                    })
                    .then( response => {
                        //replace 
                        var index = _.findIndex(this.selectedCategory.styles, this.editingCategory)
                        this.selectedCategory.styles.splice(index, 1, response.data);
                        
                        this.style_name = ''
                        this.style_description = ''
                        this.style_editMode = false
                        this.editingCategory = {}
                    })
                    .catch( error => {
                        console.log(error)
                    })     
            }else{
                // Adding mode Style
                axios.post(this.subcategoryAddRoute,{
                        type: 'style',
                        module: 'category',
                        category_id: this.selectedCategory.id,
                        name: this.style_name,
                        description: this.style_description,
                    })
                    .then( response => {
                        this.selectedCategory.styles.push(response.data);
                        this.style_name = ''
                        this.style_description = ''
                    })
                    .catch( error => {
                        console.log(error)
                    })   
            }   

        },
        getCategories(){
            axios.get(this.cateroriesRoute)
                .then( response => {
                    this.categories = response.data
                })
        },

        edit(type, category){
            if(type == "style"){
                this.style_editMode = true
                this.style_name = category.name
                this.style_description = category.description
            }else{
                this.setting_editMode = true
                this.setting_name = category.name
                this.setting_description = category.description
            }
            
            this.editingCategory = category
        },

        cancelEdit(type){
            if(type == "style"){
                this.style_editMode = false
                this.style_name = ""
                this.style_description = ""
            }else{
                this.setting_editMode = false
                this.setting_name = ""
                this.setting_description = ""
            }
            this.editingCategory = {}
        },

        deleteCategory(type, category){
            if( confirm ('Are you sure to delete?'))
                axios.delete(route('dashboard.category.destroy', [category.id]))
                    .then( response => {
                        if(type == "style"){
                            this.selectedCategory.styles.splice(this.selectedCategory.styles.indexOf(category), 1);
                        }else{
                            this.selectedCategory.settings.splice(this.selectedCategory.settings.indexOf(category), 1);
                        }
                    })
        }
    }
}
</script>

<style scoped lang="scss">
    .root-div{
        display: inline-block;
    }

    .nav-tabs-custom{
        box-shadow: none;
    }
</style>
