<template>
    <div>
        <div class="row">
            <div class="col-sm-3">
                <label for="">Role</label>
                 <select name="role_id" v-model="role" data-placeholder=" select role.." class="form-control roles" >
                    <option :value="role.id" v-for="role in roles" :key="role.id" >{{ role.name }}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="">Supplier</label> 
     
                <div class="select2-custom">
                    <input ref="supplierInput" class="form-control" autocomplete="off" @keyup="updateSuppliers"  v-model="supplierName" name="supplier"  @keypress.13.prevent="selectedCompany()"  @keydown.38.prevent="upSelection" @keydown.40.prevent="downSelection">
                    <div class="selections-div"  v-if="suppliers.length > 0">
                        <ul class="results">
                            <li  @click="selectedCompany(index)" :class="{ 'active-option': selectedItem == index }"  v-for="(supplier, index) in suppliers" :key="supplier.id" > {{ supplier.name }}</li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" v-model='supplierId' name="company_id">
            </div>

            <div class="col-sm-3" v-if="!supplierId">
                <label for="">Email Address</label> 
                <input type="email" name="email" :required="sendEmail"  class="form-control" >
            </div>
            <div class="col-sm-2"> <br />
                <span style="margin-right:10px; margin-top:5px;">
                    <input type="checkbox" id="sendMail" name='sendEmail' v-model="sendEmail" checked value="1"> 
                    <label for="sendMail">
                        Send Email 
                    </label>
                </span>
                <button class="btn btn-default mt-2"><i class="fa fa-plus"></i>  Add</button>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    props:['venue', 'product'],
   data(){
        return{
            roles:[],
            role:'',
            options:[],
            suppplierExist:true,
            suppliers: [],
            supplierName:'',
            supplierId: '',
            items:{},
            selectedItem: 0,
            sendEmail: 1
        }
    },
    watch:{
        role(){
            this.items = {}
            this.suppliers = [],
            this.supplierId = ''
        }
    },
    methods:{
        selectedCompany(index = null){
            this.supplierName = '';
            this.supplierId = '';
            var selectedIndex = index ? index : this.selectedItem
            var selectedSupplier = this.suppliers[selectedIndex]
            this.supplierName = selectedSupplier.name;
            this.supplierId = selectedSupplier.id;
            this.suppliers = []

            this.$refs.supplierInput.blur()
        },

        updateSuppliers(e){
            if(e.keyCode ==  38 || e.keyCode == 40 || e.keyCode == 13){
              
            }else{
                if(this.supplierName){  
                    this.items = {}
                    this.suppliers = []
                    this.supplierId = ''
                    axios.post( route('dashboard.inspiration.api.company.role',
                        {
                            role: this.role,
                            name: this.supplierName
                        }) )
                        .then( response => {
                            this.suppliers = response.data
                        })
                        .catch( error => {
                            console.error(error)
                        })
                }else{
                    this.suppliers = []
                }
            }
        },

        upSelection(){
            if(this.selectedItem == 0){
                return
            }else{
                this.selectedItem -= 1;
            }
        },

        downSelection(){
             if(this.selectedItem > this.suppliers.length - 1){
                return
            }else{
                this.selectedItem += 1;
            }
        },
    },
    mounted(){
        axios.get('/api/roles?except=Venues')
            .then( response => {
                this.roles = response.data.list
            })
            .catch( error =>{
                console.log(error)
            })
    }
    
}
</script>

<style lang="scss" scoped>
    .select2-custom{
        cursor: pointer;
        position: relative;

        .selections-div{
            border-left: 1px solid #d2d6de;
            border-right: 1px solid #d2d6de;
            border-bottom: 1px solid #d2d6de;
            position: absolute;
            width: 100%;
            // height: 500px;
            
            
            input{
               width: 98%;
            }

            .results{
                list-style: none;
                margin-left:0px;
                padding-left:0px;
                margin-top: 0px;
                margin-bottom: 0px;
                cursor: pointer;

                li{
                    padding:5px 5px 5px 10px;

                    &:hover{
                        background-color: orange;
                        color:#fff;
                    }  

                    &.active-option{
                        background-color: orange;
                        color:#fff;
                    }
                }

            }
        }
    }
</style>
