<template>
  <div class="col-sm-6 col-md-4 col-lg-3">
     <div class="card rounded  venue-box mb-3" style="padding-bottom:0px;">
        <div class="image-box">
            <a :href="supplier.slug">
              <div class="card-img-top  rounded-0" :style="backgroundCss" alt="Card image cap"></div>
              <div class="images-number">
                  <span class="images mr-2">
                      <i class="fa fa-image"></i> 2
                  </span>
                  <span class="shares mr-2">
                      <i class="fa fa-share"></i> 55
                  </span>
                  <span class="hearts mr-2">
                      <i class="fa fa-heart"></i> 2
                  </span>
                  <span class="hearts">
                      <i class="fa fa-comment"></i> 6
                  </span>
              </div>
              </a>
        <div class="card-body pl-2 pr-2">
                <div class="d-flex mb-2 align-items-center">
                    <div class="flex-fill text-left">
                        <small>
                            <div class="stars">
                                    <Star :rating="supplier.ratings"/>
                            </div>
                        </small>
                    </div>
                    <div class="flex-fill text-right" style="max-width:70%">
                        <small style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">{{ supplier.role_list }}</small>
                    </div>
                </div>
        
               <div class="d-flex w-100">
                    <div class="flex-fill">
                        <a :href="supplier.slug" class='text-orange mb-0'>
                            <h6 class="card-title  mb-0">{{ supplier.name }}</h6>
                        </a>
                        <small class="text-muted location" :title="supplier.location" style="word-wrap: break-word; overflow-wrap: break-word;   white-space: normal;"><i class="fa fa-map-marker"></i> {{ supplier.location }}</small>
                    </div>
                    <div class="">
                        <img :src="supplier.logo" alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px">
                    </div>
                </div>
              <!-- <small>
                <div class="stars mt-2">
                    <Star :rating="supplier.ratings"/>
                </div>
              </small> -->

                <!-- <div class="d-flex mb-2 other-info align-items-center">
                    <div class="flex-fill">
                        <div class="stars">
                                <Star :rating="supplier.ratings"/>
                        </div>
                    </div>
                    <div class="flex-fill"> -->
                        <!-- <strong>Event Spaces</strong>
                        <div class="text-orange">{{ venue.function_spaces}} spaces</div> -->
                    <!-- </div>
                    <div class="flex-fill text-right">
                        <a :href="supplier.slug">
                        <img :src="supplier.logo" alt="" class="supplier-logo" style="width: 36px; height: 36px">
                        </a>
                    </div>
                </div> -->

            <!-- </div> -->
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import Star from '../../Ui/StarRating.vue'
export default {
    props:['supplier'],
    components:{
        Star
    },
    data(){
      return {
          backgroundCss: `background-image:url(${this.supplier.cover}); background-size:cover; background-position:center` 
      }
    }
}
</script>

<style lang="scss" scoped>
   .card-img-top{
        padding-top: 80%;
    }
</style>