<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-4">
                <div class="filter-box bg-white pl-4 pr-4 mb-5 pt-3">
                        <p>
                            <geolocation-input-with-distance prefixname="supplier_"  
                                        :currentlocation="getCurrentPosition" 
                                        @selected="setGeolocation" 
                                        @changedistance="setGeolocation" 
                                        @clear="clearGeolocation" ></geolocation-input-with-distance>
                        </p>
                    <div class="row mt-2">
                        <div class="col-sm-6 p-1 pl-3">Filters</div>
                        <div class="col-sm-6 text-right">
                            <a href="#" class="text-orange btn btn-sm pt-1 pb-1" v-show="clearShowing" @click.prevent="clearCategories()"><small><i class="fa fa-remove"></i> Clear</small></a>
                        </div>
                    </div>
                    <div class="filter-groups">
                        <h5>Supplier Type</h5>
                        <div class="chips main" v-for="role in roles" :key="role.id">
                            <input type="checkbox"  :value="role.id" :id="role.id" v-model="selectedRoles" >
                            <label :for="role.id"> {{ role.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups">
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="event_type.id">
                            <input type="checkbox"  :value="event_type.id" :id="event_type.id" v-model="selectedCaters" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Product they Supply</h5>
                        <div class="chips main" v-for="product_type in product_types" :key="product_type.id">
                            <input type="checkbox"  :value="product_type.id" :id="product_type.id" v-model="selectedProductTypes" >
                            <label :for="product_type.id"> {{ product_type.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  v-for="product_type in product_types" :key="product_type.id"  v-show="selectedProductTypes.includes(product_type.id)">
                        <h5>{{ product_type.name }} Categories</h5>
                        <div class="chips main" v-for="style in product_type.styles" :key="style.id">
                            <input type="checkbox"  :value="style.id" :id="style.id" v-model="selectedProductStyles" >
                            <label :for="style.id"> {{ style.name }}</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9 col-lg-10  col-sm-8">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <form action="#" @submit.prevent="searchNameSubmit()" @keyup="searchNameDebounce()">
                            <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" v-model="searchName"  placeholder="search by supplier name.." aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="/register/supplier" class="btn btn-outline-warning btn-sm"> Become a Supplier</a>
                    </div>
                </div>

                <div class="text-center text-muted mt-5 p-5" v-show="noData">
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                    <div>
                        <h4 class="text-muted mt-3">We cant find any item.</h4>
                    </div>
                </div>

                <div class="row display-flex ">
                    <Item v-for="supplier in suppliers" :key="supplier.id" :supplier="supplier" />
                </div>

                <ContentPlaceholder  v-show="loadingContent" />
            </div>

        </div>
    </div>
</template>

<script>

import Item from './Item.vue';
import ContentPlaceholder from './ContentPlaceholder.vue';
export default {
    props:['defaultCategory'],
    components:{
        Item,
        ContentPlaceholder
    },
    data(){
        return{
            links:{},
            suppliers: [],
            loadingContent: false,
            categories: [],
            roles:[],
            event_types:[],
            venue_types: [],
            product_types: [],
            noData: false,


            // selected Items
            selectedCaters: [],
            selectedRoles:[],
            selectedSupplierTypes: [],
            selectedProductTypes: [],
            selectedProductStyles: [],

            //utilities
            searchName: '',
            searchSupplier: '',


            //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10,
            getCurrentPosition: true
        }
    },


    created(){

        navigator.permissions.query({
            name: 'geolocation'
        }).then(permission => {
            if(permission.state != "granted"){
                this.getSuppliers()
            }
        })

        this.getEventTypes()
        this.getVenueTypes()
        this.getProductTypeOptions()
        this.getRoles()
        this.scroll()

    },

    watch:{
        selectedRoles: _.debounce(function(){
            this.suppliers = []
            this.getSuppliers()
        }, 500),

        selectedCaters: _.debounce(function(){
            this.suppliers = []
            this.getSuppliers()
        }, 500),

        selectedSupplierTypes: _.debounce(function(){
            this.suppliers = []
            this.getSuppliers()
        }, 500),

        selectedProductTypes: _.debounce(function(){
            if(this.selectedProductTypes.length < 1){
                this.selectedProductStyles = []
            }

            this.suppliers = []
            this.getSuppliers()
        }, 500),

        selectedProductStyles: _.debounce(function(){
            this.suppliers = []
            this.getSuppliers()
        }, 500),

        searchSupplier: _.debounce(function(){
            this.suppliers = []
           this.searchSupplierSubmit()
        }, 500),

        distance: _.debounce(function(){
            this.suppliers = []
            if(this.longitude && this.latitude){
                this.getSuppliers()
            }
        },500)
    },
    computed:{
        categoryArray(){
            return JSON.parse("[" + this.categories + "]")
        },
        clearShowing(){
            if( this.categories.length > 0 || this.selectedRoles.length > 0){
                return true
            }
        }
    },
    methods:{
        scroll () {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 400 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },

        setGeolocation(geolocation){
            this.suppliers = []
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.distance = geolocation.distance
            this.locationsearch = geolocation.formatted_address
            this.getSuppliers()
        },

        getRoles(){
            axios.get('/api/roles')
                .then( response => {
                    this.roles = response.data.list.map( e => {
                        return {
                            'id': e.id,
                            'name': e.name,
                            'checked': false,
                        }
                    })
                    if(this.defaultCategory != ""){
                        this.selectedRoles = [this.defaultCategory]
                        var parent = this.roles.find( e => {
                            return e.id == this.defaultCategory
                        });
                        parent.checked = true
                    }
                })
                .catch( error =>{
                    console.log(error)
                })
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.getSuppliers()
        },

        //Get suppliers
        getSuppliers(link = null){
            this.loadingContent = true
            this.noData = false
            axios.post(link ? link : '/supplier/list',{
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance,
                    search: this.searchName,

                    caters: this.selectedCaters,
                    roles: this.selectedRoles,
                    supplierTypes: this.selectedSupplierTypes,
                    productTypes: this.selectedProductTypes,
                    productStyles: this.selectedProductStyles,
                })
                .then( response => {
                    if(link){
                        // this.suppliers.push(response.data.data);
                        response.data.data.map( e => {
                            this.suppliers.push(e)
                        })
                    }else{
                        this.suppliers = response.data.data
                    }

                     if(response.data.data.length < 1){
                        this.noData = true;
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Name
        searchNameSubmit(){
            this.suppliers = {}
            this.loadingContent = true
            axios.post('/supplier/list',{
                    search: this.searchName,
                },
                )
                .then( response => {
                    this.suppliers = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },
        searchNameDebounce: _.debounce(function (){
            this.suppliers = {}
            this.noData = false;
            this.loadingContent = true
            axios.post('/supplier/list',{
                    search: this.searchName,
                },
                )
                .then( response => {
                    this.suppliers = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                    if(response.data.data.length < 1){
                        this.noData = true;
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        }, 500),

        // Search Supplier
        searchSupplierSubmit(){
            this.suppliers = []
            this.loadingContent = true
            axios.post('/venue/list',{
                    supplier: this.supplierName
                },
                )
                .then( response => {
                    this.suppliers = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Load more Button
        loadMore(){
            this.getSuppliers(this.links.next);
        },

        //Clear Categories
        clearCategories(){
            this.categories = []
            this.selectedRoles = []
            this.selectedCaters = []
            this.selectedSupplierTypes = []
            this.selectedProductTypes = []
            this.selectedProductStyles = []
        },

        // category Cater
        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then( response => {
                    this.event_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Venue Type
        getVenueTypes(){
            axios.get('/api/category?type=venue_type')
                .then( response => {
                    this.venue_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Catering Option
        getProductTypeOptions(){
            axios.get('/api/category?type=product_type&with_settings=1')
                .then( response => {
                    this.product_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },


    }
}
</script>

<style lang="scss" scoped>
    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;

        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px;
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>
