<template>
  <div>
    <form @submit.prevent="login()">
        <p>
            <label for="">Email</label>
            <input type="email" required class="form-control input-lg"  v-model='email' placeholder=" email address..">
        </p>
        <p>
            <label for="">Password</label>
            <input type="password" required autocomplete class="form-control input-lg" v-model='password' placeholder=" Password..">
        </p>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" v-model="remember"  id="rememberme">
            <label class="custom-control-label custom-controler-warning" for="rememberme"> Remember Me</label>  
        </div>
        <div class="alert alert-danger login-message mt-2" v-show="error">
            {{ error }}
        </div>
        <p>
            <button type="submit" class="btn login-btn btn-warning btn-block btn-lg mt-3" :disabled="requesting">
                <span v-show="!requesting">LOGIN</span>
                <i  v-show="requesting" class="fa fa-spin fa-spinner"></i>
            </button>
        </p>
        <p>
            <small>Forget password? <a href="/password/reset">Click here</a></small>
        </p>
    </form>
  </div>
</template>

<script>
export default {
    props:['route'],
    data(){
        return {
            email: '',
            password:'',
            remember: false,
            error: '',
            requesting: false
        }
    },
    methods:{
        login(){
            this.error = ''
            this.requesting = true
            axios.post(this.route,{
                email:this.email,
                password: this.password,
                remember: this.remember
            })
            .then(response => {
                var userType = response.data.user_type;
                if(userType == "customer"){
                    location.reload()
                }else{
                    window.open('/dashboard/home', '_self');
                }
            })
            .catch( error => {
                this.requesting = false
                this.error = error.response.data.message
            })

            
            
            this.password = ""
        }
    }
}
</script>

<style>

</style>