<template>
    <div class="media mb-2">
        <img class="mr-3 rounded-circle thumbnail" :src="review.thumbnail" alt="Generic placeholder image ">
        <div class="media-body">
            <h5 class="mt-0 mb-0">{{ review.name }}</h5>
            <Star :rating="review.rating"/>
            <div class="clearfix"></div>
            {{ review.comment }}
        </div>
    </div>
</template>

<script>
import Star from '../../Ui/StarRating.vue'
export default {
    props:['review'],
    components:{
        Star
    },
}
</script>

<style scoped lang="scss">
    .media{
        margin-bottom: 15px;
        
        img{
            width:50px;
            height: 50px;
        }

        h5{
            font-size:16px;
        }

    }
</style>