<template>
    <div class="media mb-2">
         <div class="media-left">
                <img class="mr-3 img img-circle" :src="review.thumbnail" alt="Generic placeholder image ">
        </div>
        <div class="media-body">
            <h5 class="mt-0 mb-0">{{ review.name }} <small>{{ review.created_at }}</small></h5>
            <div class="clearfix"></div>
            {{ review.comment }}
        </div>
    </div>
</template>

<script>
export default {
    props:['review'],
}
</script>

<style scoped lang="scss">
    .media{
        margin-bottom: 15px;
        
        img{
            width:34px;
            height: 34px;
        }

        h5{
            font-size:16px;
        }

    }
</style>