<template>
    <div class="reviews-box">
        <div class="text-center" v-if="loadingState">
            <i class="fa fa-spin fa-spinner"></i> loading reviews..
        </div>

        <Item v-for="review in reviews" :key="review.id" :review="review" />
        <h5 class='text-center' v-if="!reviews.length"> No Comment </h5>
        <div class="comment-box mt-5" v-if="isLoggedIn">
            <form @submit.prevent="submitForm()">
                <input type="text" placeholder=" write your comment.." required v-model="comment">
                <button class="btn btn-sm btn-default mt-2" type="submit"><i class="fa fa-comment"></i>Send</button>
            </form>
        </div>
        <div v-if='!isLoggedIn' class='text-center mt-5'>
            Please login first to give a review. <a href="/login" id='openModalLogin'>Login Here</a>
        </div>
    </div>
</template>

<script>
import Item from './Item.vue';

export default {
    props:['type', 'id'],
    components:{
        Item
    },
    data(){
        return{
            loadingState:false,
            reviews:[],
            metaData:[],
            rating:0,
            comment:'',
            isLoggedIn: false,
        }
    },
    created(){
        this.loadReview()


        axios.post('/isloggedin')
            .then( response => {
                this.isLoggedIn = response.data
            })

       
    },
    methods:{
        submitForm(){
            axios.post('/review',{
                model: this.type,
                id: this.id,
                rating:this.rating,
                comment: this.comment
             })
             .then( response => {
                this.reviews.push(response.data.data)
                this.rating = 0
                this.comment = ''
                this.$emit('reviewed', 1)
             })
             .catch(error => {
                 console.log(error)
             })
        },

        loadReview(){
            axios.post('/review/list',{
                model: this.type,
                id: this.id
            })
            .then( response => {
                this.reviews = response.data.data.reverse()
                this.metaData = response.data
                this.$emit('reviewcounts', response.data.data.length)
            })
            .catch( error => {
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .comment-box{
        
        input{
            padding:5px;
            width:100%;
        }

        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        // padding:10px;

    }

    
</style>