<template>
        <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-0 product-box mb-3 shadow-light" >
                                <div class="image-box" >
                                        <div class="card-img-top text-center placeholder-box-animation"> 
                                                <div class="placeholder-box-animation pt-5"></div>
                                        </div>
                                <div class="image-buttons">
                                </div>
                                <div class="images-number">
                                       
                                </div>
                                </div>
                                <!-- </a> -->
                                <div class="card-body p-1">
                                        <small class="text-muted types placeholder-box-animation pt-3 mb-1" style="width:25%"> </small>
                                        <h4 class=" d-block mb-0 title placeholder-box-animation pt-4">
                                               
                                        </h4>
                                        <div class="d-flex w-100 other-info">
                                                <div class="flex-fill">
                                                        <div class="placeholder-box-animation pt-4 mt-2" style="width:75%;"></div>
                                                </div>
                                                <div class="">
                                                        <div class="placeholder-box-animation supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px; border-radius:50%"></div>
                                                <!-- <img src alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px"> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
        .card-img-top{
                padding-top:78%
        }

        .product-box .placeholder-box-animation {
                -webkit-animation-duration: 1s;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: placeholderSkeleton;
                -webkit-animation-timing-function: linear;
                background: #f6f7f8;
                background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
                background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
                background-repeat: no-repeat;
        }

        @-webkit-keyframes placeholderSkeleton {
                0% {
                        background-position: -468px 0;
                }
                100% {
                        background-position: 468px 0;
                }
        }

        @-webkit-keyframes skeletonAnimate {
                from {
                        background-position: top left;
                }
                to {
                        background-position: top right;
                }
        }

</style>