<template>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card rounded product-box mb-3" >
        <div class="image-box" >
            <!-- <a :href="product.slug"> -->
                <div @click="handleClick" class="card-img-top text-center" :style="backgroundCss">
                    <!-- <img class="rounded-0 mw-100" :src="product.thumbnail" alt="Card image cap"> -->
                </div>
               <div class="image-buttons">
                    <heart-component :default="product.hearted" @hearted="hearted($event)" type="decor" :id="product.id" styleclass="btn btn-sm btn-icon"></heart-component>
                    <!-- <button class='btn btn-sm btn-icon' @click.prevent="alert('hehe')">
                        <i class="fa fa-share"></i>
                    </button> -->
                    <!-- <ShareButton :link="venue.slug" /> -->
                </div>
              <div class="images-number">
                  <span class="images mr-2">
                      <i class="fa fa-image"></i> {{ product.gallery.length }}
                  </span>
                  <!-- <span class="shares mr-2">
                      <i class="fa fa-share"></i> {{ product.shares }}
                  </span> -->
                  <span class="hearts mr-2">
                      <i class="fa fa-heart"></i> {{ product.hearts }}
                  </span>
                  <span class="hearts">
                      <i class="fa fa-comment"></i> {{ product.reviews }}
                  </span>
              </div>
        </div>
              <!-- </a> -->
        <div class="card-body p-1">
            <small class="text-muted types"> {{ product.product_type }} <span v-if="product.style">/</span>  {{ product.style }} </small>
            <h4 class=" d-block mb-0 title">
                    {{ product.name }}
            </h4>
            <div class="d-flex w-100 other-info">
                <div class="flex-fill">
                   <table>
                        <tr>
                            <td>Decor By</td>
                            <td>:
                                <a :href="product.companyUrl">
                                    {{ product.company }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Décor Colour</td>
                            <td>: <color v-for="color in product.colors" :color="color" :key="`product-${product.id}-color-${color.id}`"></color> </td>
                            <!-- <td>: <color v-for="color in product.colors" :color="color"  :key="`decors-${product.id}-${color.id}`"></color> </td> -->
                        </tr>
                    </table>
                </div>
                <div class="">
                    <img :src="product.company_logo" alt="" class="supplier-logo rounded-circle mr-2" style="width: 42px; height: 42px">
                </div>
            </div>
        </div>
    </div>


</div>
</template>

<script>
import Color from '../../Ui/Color.vue'
import StarRating from '../../Ui/StarRating.vue'
export default {
    props:['product', 'related'],
    components:{
        color: Color,
        StarRating
    },
    data(){
        return {
            isModalOpen: false,
            activeProduct: this.product,
            mainImage: this.product.thumbnail,
            backgroundCss: `background-image:url(${this.product.thumbnail}); background-size:cover; background-position:center`
        }
    },
    created(){
        // console.log(this.product)
    },
    watch:{
        isModalOpen(){
            // bring back to the original product
            this.activeProduct = this.product
            this.mainImage = this.product.thumbnail

            if(this.isModalOpen){
                document.body.style.overflow = 'hidden';
            }else{
                document.body.style.overflow = 'auto';
            }
        },
    },
    methods:{
        handleClick(){
            this.$emit('showing', this.product)
        },
        setActiveProduct(product){
            this.activeProduct = product
            this.mainImage = product.thumbnail
        },

        hearted(val){
            this.activeProduct.hearted = !this.activeProduct.hearted
            if(val){
                this.activeProduct.hearts++
            }else{
                this.activeProduct.hearts--
            }
        },

        reviewed(){
            this.activeProduct.reviews++
        }

    },
    computed:{
        relatedItems(){
            if(this.isModalOpen){
                return _.sampleSize(this.related, 12);
            }else{
                return _.sampleSize(this.related, 12);
            }
        },
         modalId(){
            return "modal-" + this.activeProduct.id
         }
    }

}
</script>

<style lang="scss" scoped>
    .card-img-top{
        padding-top:95%;
      
    }


    .company-name{
        &:hover{
            text-decoration: underline;
        }
    }

     .other-image img{
         width: 100px;
        height: 100px;
        margin:10px;
        cursor: pointer;
    }



    .description{
        color:#6b6b6b;
    }

    .related-item{
        background-size:cover;
        width: 100%;
        height: 100px;
        margin-bottom:2em;
        cursor: pointer;
    }

    .image-list{
        height: 150px;
        overflow-y: auto;
    }

    .main-image{
        height: 100vh;
        position: relative;
    }

    .with-images{
            height: calc(100vh - 150px);
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .side-info{
        .title{
            font-size:1.2rem;
        }
    }

    .item{
        border-bottom:1px solid #f1f1f1;
    }

    .supplier-box{
        position: relative;
        padding-right: 50px;
    }

    .top-button-close-div{
        height: 50px;
        position: absolute;
        top:0;
        right: 0;
    }

        .close-button{
        border:none;
        background-color:transparent;
        font-size:24px;
        cursor: pointer;
    }

    .product-information{
        height: calc(100vh);
        overflow: auto;
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .close{
        font-size:24px !important;
    }

    .product-gallery{
        height: 100vh;
        border-right:1px solid #ccc;
    }

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-body{
        padding:0px;
    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color:#fff;
    }

    .modal-header-full-width  {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width  {
        border-top: 1px solid #9ea2a2 !important;
    }
</style>
