<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-4">
                <div class="filter-box bg-white pl-4 pr-4 mb-5 pt-3">
                    <p>
                        <form action="#" @submit.prevent="searchNameSubmit()" @keyup="searchNameDebounce()">
                            <div class="input-group">
                                    <input type="text" class="form-control" v-model="searchName"  placeholder="search for product.." aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                            </div>
                        </form>
                    </p>
                    <p>
                        <geolocation-input-with-distance prefixname="decor_" :currentlocation="getCurrentPosition" @selected="setGeolocation" @changedistance="setGeolocation" @clear="clearGeolocation"></geolocation-input-with-distance>
                    </p>
                    <p>
                        <input type="text" placeholder=" search supplier.." class="form-control form-input-xs" v-model="company">
                    </p>
                  

                    <div class="row mt-2">
                        <div class="col-sm-6 p-1 pl-3">Filters</div>
                        <div class="col-sm-6 text-right">
                            <a href="#" class="text-orange btn btn-sm pt-1 pb-1" v-show="clearShowing" @click.prevent="clearCategories()"><small><i class="fa fa-remove"></i> Clear</small></a>
                        </div>
                    </div>
<!-- 
                    <div class="filter-groups"  >
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="event_type.id">
                            <input type="checkbox"  :value="event_type.id" :id="event_type.id" v-model="caterCategories" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div> -->

                    <div class="filter-groups"  >
                        <h5>Product Categories</h5>
                        <div class="chips main"  v-for="product_type in product_types" :key="product_type.id">
                            <input type="checkbox" @change="productTypeChange($event, product_type.id)"  :value="product_type.id" :id="product_type.id" v-model="productTypeCategories" >
                            <label :for="product_type.id"> {{ product_type.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  v-for="product_type in product_types" :key="product_type.id" v-if="productTypeCategories.includes(product_type.id) && product_type.styles.length > 0">
                        <h5>{{ product_type.name }} Categories</h5>
                        <div class="chips main" v-for="style in product_type.styles" :key="style.id">
                            <input type="checkbox"  :value="style.id" :id="style.id" v-model="styleCategories" >
                            <label :for="style.id"> {{ style.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Colour</h5>
                        <div class="chips" v-for="color in colors" :key="color.id" >
                            <input type="checkbox" :value="color.id" :id="color.id" v-model="colorCategories" >
                            <label :for="color.id"> {{ color.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-10  col-sm-8">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-6 text-right" v-if="besupplier">
                        <a href="/register/supplier" class="btn btn-outline-warning btn-sm"> Become a Supplier</a>
                    </div>
                </div>

                <!-- Venue items -->

                  <div class="text-center text-muted mt-5" v-show="noData">
                    <!-- <h2>No Inspiration Found</h2> -->
                    <!-- <img src="https://www.seekpng.com/png/detail/151-1519416_pool-parties-in-bangalore-no-data-found-images.png" class="w-100" alt=""> -->
                </div>

                <div class="row">
                    <Item v-for="product in products"   @showing="productClick" :key="'product-' + product.id"  :product="product" />
                </div>

                <!-- <div class="text-center mt-3" @click.prevent="loadMore()" v-show="links.next != null">
                    <a href="#" class="text-orange btn btn-outline-warning" v-show="!loadingContent">Load More</a>
                </div> -->

                <div class="text-center text-muted mt-2 p-3" v-show="noData">
                    <!-- <h2>No Inspiration Found</h2> -->
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                     <div>
                        <h4 class="text-muted mt-3">We cant find any item.</h4>
                    </div>
                </div>

                <!-- <div v-show="loadingContent" class='text-center'>
                    <i class="fa fa-spin fa-spinner" ></i> Loading...
                </div> -->
                <ContentPlaceholder  v-show="loadingContent" />
            </div>

        </div>

        <div class="modal" id="productModal" v-if="!activeProductEmpty"  :style="[isModalOpen ? {'display' : 'block'} : '']"  tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-full-width" role="document">
                <div class="modal-content modal-content-full-width" style="border:0px;">
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-8 col-sm-8">
                                <div class="product-gallery">
                                    <div class="main-image text-center align-items-center" :class="{'with-images' : activeProduct.gallery.length}">
                                        <img v-lazy="mainImage" class="mw-100 mh-100 center" alt="">
                                    </div>
                                    <div class="image-list p-2 d-flex justify-content-center align-items-center"  v-if="activeProduct.gallery.length">
                                        <div class="other-image">
                                            <img  v-lazy="activeProduct.thumbnail" @click="mainImage = activeProduct.thumbnail" alt="">
                                        </div>
                                        <div class="other-image" v-for="gallery in activeProduct.gallery">
                                            <img  v-lazy="gallery.image" @click="mainImage = gallery.image" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4">

                                <div class="product-information">
                                    <div class="supplier-box item p-3">
                                        <div class="text-right p-1 top-button-close-div">
                                            <button @click="modalClose" type="button" class='close-button' data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                        <div class="d-flex align-items-center align-self-center">
                                            <div class="">
                                                <img :src="activeProduct.company_thumbnail" class="rounded-circle" style="border:1px solid #e8e2e2; width:48px; height:48px" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <h5 class="m-0 company-name" style='font-size:14px'>
                                                   <a class="text-dark" :href="activeProduct.companyUrl">
                                                    {{ activeProduct.company }}
                                                    </a>
                                                </h5>
                                                <small>
                                                    <StarRating :rating="activeProduct.company_rating" />
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side-info item p-4">
                                        <h3 class="title m-0">
                                            {{ activeProduct.name}}
                                        </h3>
                                        <div>
                                            <small>
                                                <StarRating :rating="activeProduct.rating" /> <span v-show="activeProduct.review > 1"> rated by {{ activeProduct.reviews }} {{ activeProduct.review > 1 ? 'users' : 'user' }} </span>
                                            </small>
                                        </div>
                                        <heart-component :default="activeProduct.hearted" :id="activeProduct.id" @hearted="hearted($event)" type="decor" styleclass="btn btn-sm btn-outline-secondary"> Save Décor</heart-component>
                                        <p class="description d-block mt-4">
                                            {{ activeProduct.description }}
                                        </p>
                                    </div>
                                    <div class="side-info item p-4">
                                        <h3 style="font-size:1.1rem;">Product Details</h3>
                                        <table class='w-100'>
                                            <tr>
                                                <td class="text-bold">Event Type</td>
                                                <td>{{ activeProduct.event_type }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold">Product Type</td>
                                                <td>{{ activeProduct.product_type }}</td>
                                            </tr>
                                            <tr>
                                                <td>Colours</td>
                                                <td><color v-for="(color , index) in activeProduct.colors" :color="color" :key="`activeColor-${activeProduct.id}-${color.id}-${index}`"></color></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="side-info item p-4">
                                        <h3 style="font-size:1.1rem">Related Items</h3>
                                        <div class="row">
                                            <div class="col-12 col-xl-4 col-md-6 col-sm-12 col-lg-6" v-for="relateditem in relatedItems" :key="relateditem.id">
                                                <div class="related-item" @click="productClick(relateditem)" :style="{'background-image': `url('${relateditem.thumbnail}')`, 'background-position': 'center', 'background-size': 'cover'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="side-info item p-4">
                                        <review-component @reviewed="reviewed" type="product" v-if="isModalOpen" :id="activeProduct.id"></review-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Item from './Item.vue';
import ContentPlaceholder from './ContentPlaceholder.vue';
import Color from '../../Ui/Color.vue'
import StarRating from '../../Ui/StarRating.vue'

export default {
    props:['supplier', 'besupplier', 'defaultCategory' ,'defaultCategoryParent'],
    components:{
        Item,
        ContentPlaceholder,
        color: Color,
        StarRating
    },
    data(){
        return{
            links:{},
            products: [],
            loadingContent: false,
            categories: [],
            event_types:[],
            product_types: [],
            noData: false,
            company: '',
            colors:[],

            //utilities
            searchName: '',
            searchproduct: '',
            defaultSupplier: this.supplier ? this.supplier : null,
            isChangingValue: false,

            //for pop up
            isModalOpen: false,
            activeProduct: {},
            mainImage: "",
            backgroundCss: "",
            relatedItems: [],


            // Categories
            caterCategories: [],
            productTypeCategories: this.defaultCategoryParent ? [parseInt(this.defaultCategoryParent)] : [],
            styleCategories: this.defaultCategory ? [parseInt(this.defaultCategory)] : [],
            colorCategories: [],


            //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 50,
            getCurrentPosition: true
        }
    },
    created(){
        navigator.permissions.query({
            name: 'geolocation'
        }).then(permission => {
            if(permission.state != "granted"){
                this.loadingContent = true
                this.getproductsNoLoading()
            }
        })

        // this.getproducts()
        this.getColors()
        this.getEventTypes()
        this.getProductTypeOptions()
        this.scroll()
    },
    watch:{
        isModalOpen(){
            if(this.isModalOpen){
                $('body').addClass('modal-open')
            }else{
                $('body').removeClass('modal-open')
            }
        },

        caterCategories(){
            this.products = []
            this.loadingContent = true
            this.getproducts()
        },

        productTypeCategories(){
            // remove all style of type are empty
            if(this.productTypeCategories.length < 1){
                this.styleCategories = []
            }

            this.products = []
            this.loadingContent = true
            this.getproducts()
        },
        loadingContent(){
            if(this.loadingContent){
                this.noData = false
            }
        },

        styleCategories(){
            this.products = []
            this.loadingContent = true
            this.getproducts()
        },

        colorCategories(){
            this.products = []
            this.loadingContent = true
            this.getproducts()
        },

        searchproduct(){
            this.products = []
            this.loadingContent = true
            this.searchproductSubmit()
        },

        company(){
            this.products = []
            this.loadingContent = true
            this.getproducts()
        },

        distance(){
            if(this.longitude && this.latitude){
                this.products = []
                this.loadingContent = true
                this.getproducts()
            }
        },
    },
    computed:{
        inCategory(category){
            return this.productTypeCategories.includes(category)
        },
        categoryArray(){
            return JSON.parse("[" + this.categories + "]")
        },
        clearShowing(){
            if( this.caterCategories.length > 0 || this.productTypeCategories.length > 0 || this.styleCategories.length > 0|| this.colorCategories.length > 0){
                return true
            }
        },
        activeProductEmpty(){
            var obj = this.activeProduct
            for(var prop in obj) {
                if(obj.hasOwnProperty(prop)) {
                return false;
                }
            }
            return JSON.stringify(obj) === JSON.stringify({});
        },
        
    },
    methods:{
        productTypeChange(event, id){
            if(!this.productTypeCategories.includes(id)){
                var category = _.find(this.product_types, {id: id})
                if(category){
                    category.styles.forEach(e => {
                        this.removeItemToArray(this.styleCategories, e.id)
                    })
                }
            }
        },
        removeItemToArray(arr) {
            var what, a = arguments, L = a.length, ax;
            while (L > 1 && arr.length) {
                what = a[--L];
                while ((ax= arr.indexOf(what)) !== -1) {
                    arr.splice(ax, 1);
                }
            }
            return arr;
        },
        productClick(product){
            this.isModalOpen = true
            this.activeProduct = product
            this.mainImage =  product.thumbnail,
            this.backgroundCss = `background-image:url(${product.thumbnail}); background-size:cover; background-position:center`,
            this.getRelatedItems()
        },

        modalClose(){
            this.isModalOpen = false
            this.activeProduct = {}
            this.relatedItems = []
        },

        reviewed(){
            this.activeProduct.reviews++
        },

        getRelatedItems(){
            axios.get('/decor/related/' + this.activeProduct.id)
                .then( response => {
                    this.relatedItems = response.data.data
                })
                .catch( error => {
                    console.log(error)
                })
        },

        scroll () {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 1000 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },
        setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.distance = geolocation.distance
            this.locationsearch = geolocation.formatted_address
            this.products = []
            this.getproducts()
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.products = []
            this.getproducts()
        },

        //Get products
        getproducts: _.debounce(function(link = null){
            this.loadingContent = true
            this.noData = false

            axios.post(link ? link : '/decor/list',{
                    caters: this.caterCategories,
                    types: this.productTypeCategories,
                    styles: this.styleCategories,
                    colors: this.colorCategories,
                    supplier: this.defaultSupplier,
                    company: this.company,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance,
                })
                .then( response => {
                    if(link){
                        response.data.data.map( e => {
                            this.products.push(e)
                        })
                    }else{
                        this.products = []
                        this.products = response.data.data
                    }

                    if(response.data.data.length < 1){
                        this.noData = true;
                    }

                    this.links = response.data.links
                    // this.updateUrl(response.data.meta.current_query_url)
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        }, 800),
        //Get products
        getproductsNoLoading(link = null){
            this.loadingContent = true
            this.noData = false

            axios.post(link ? link : '/decor/list',{
                    caters: this.caterCategories,
                    types: this.productTypeCategories,
                    styles: this.styleCategories,
                    colors: this.colorCategories,
                    supplier: this.defaultSupplier,
                    company: this.company,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance,
                })
                .then( response => {
                    if(link){
                        response.data.data.map( e => {
                            this.products.push(e)
                        })
                    }else{
                        this.products = []
                        this.products = response.data.data
                    }

                    if(response.data.data.length < 1){
                        this.noData = true;
                    }

                    this.links = response.data.links
                    // this.updateUrl(response.data.meta.current_query_url)
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // updateUrl(url){
        //     if (history.pushState) {
        //         var newurl = url;
        //         window.history.pushState({path:newurl},'',newurl);
        //     }
        // },

        // Search Name
        searchNameSubmit(){
            this.products = {}
            this.loadingContent = true
            axios.post('/decor/list',{
                    search: this.searchName
                },
                )
                .then( response => {
                    this.products = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        searchNameDebounce: _.debounce(function(){
            this.products = {}
            this.loadingContent = true
            axios.post('/decor/list',{
                    search: this.searchName
                },
                )
                .then( response => {
                    this.products = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false

                    if(response.data.data.length < 1){
                        this.noData = true;
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        }, 500),

        // Search product
        searchproductSubmit(){
            this.products = {}
            this.loadingContent = true
            axios.post('/decor/list',{
                    product: this.productName
                },
                )
                .then( response => {
                    this.products = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Load more Button
        loadMore(){
            this.loadingContent = true;
            this.getproductsNoLoading(this.links.next);
        },

        //Clear Categories
        clearCategories(){
            this.caterCategories = []
            this.productTypeCategories = []
            this.styleCategories = []
            this.colorCategories = []
        },

        // category Cater
        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then( response => {
                    this.event_types = response.data.list.map(e => {
                        return {
                            id: e.id,
                            name: e.name,
                            styles: e.styles,
                            checked: false
                        }
                    })
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Cater
        getColors(){
            axios.get('/api/category?type=color')
                .then( response => {
                    this.colors = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Venue Type
        getVenueTypes(){
            axios.get('/api/category?type=product_type')
                .then( response => {
                    this.product_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Catering Option
        getProductTypeOptions(){
            axios.get('/api/category?type=product_type&with_settings=1')
                .then( response => {
                    this.product_types = response.data.list
                    if(this.defaultCategory != ""){
                        this.categories = [this.defaultCategory]
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },


    }
}
</script>

<style lang="scss" scoped>

    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }



    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;

        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px;
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }


    .modal-dialog-full-width {
        width: 100% !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow:hidden;
    }


     .card-img-top{
        height: 250px;

        @media (min-width: 1561px){
            height: 350px;
        }

        @media (min-width: 1281px) and (max-width: 1560px)  {

             height: 280px;

        }

        /*
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {

         height: 250px;

        }

        /*
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {

              height: 100px;

        }

        /*
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

              height: 280px;

        }

        /*
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
        */

        @media (min-width: 481px) and (max-width: 767px) {

              height: 180px;

        }

        /*
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
        */

        @media (min-width: 320px) and (max-width: 480px) {

        //CSS

        }
    }


    .company-name{
        &:hover{
            text-decoration: underline;
        }
    }

     .other-image img{
         width: 100px;
        height: 100px;
        margin:10px;
        cursor: pointer;
    }



    .description{
        color:#6b6b6b;
    }

    .related-item{
        background-size:cover;
        width: 100%;
        padding-top:75%;
        margin-bottom:2em;
        cursor: pointer;
    }

    .image-list{
        height: 150px;
        overflow-y: auto;
    }

    .main-image{
        height: 100vh;
        position: relative;
    }

    .with-images{
            height: calc(100vh - 150px);
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .side-info{
        .title{
            font-size:1.2rem;
        }
    }

    .item{
        border-bottom:1px solid #f1f1f1;
    }

    .supplier-box{
        position: relative;
        padding-right: 50px;
    }

    .top-button-close-div{
        height: 50px;
        position: absolute;
        top:0;
        right: 0;
    }

        .close-button{
        border:none;
        background-color:transparent;
        font-size:24px;
        cursor: pointer;
    }

    .product-information{
        height: calc(100vh);
        overflow: auto;
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .close{
        font-size:24px !important;
    }

    .product-gallery{
        height: 100vh;
        border-right:1px solid #ccc;
    }

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-body{
        padding:0px;
    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color:#fff;
    }

    .modal-header-full-width  {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width  {
        border-top: 1px solid #9ea2a2 !important;
    }

</style>
