<template>
<div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card rounded-0 product-box mb-3" >
        <div class="image-box" @click="openModal()">
            <!-- <a :href="product.slug"> -->
                <div class="card-img-top text-center" :style="backgroundCss"> 
                    <!-- <img class="rounded-0 mw-100" :src="product.thumbnail" alt="Card image cap"> -->
                </div>
              
              <div class="images-number">
                  <span class="images mr-2">
                      <i class="fa fa-image"></i> {{ product.gallery.length }}
                  </span>
                  <span class="shares mr-2">
                      <i class="fa fa-share"></i> {{ product.shares }}
                  </span>
                  <span class="hearts mr-2">
                      <i class="fa fa-heart"></i> {{ product.hearts }}
                  </span>
                  <span class="hearts">
                      <i class="fa fa-comment"></i> {{ product.reviews }}
                  </span>
              </div>
        </div>
              <!-- </a> -->
        <div class="card-body p-1">
            <small class="text-muted types"> {{ product.product_type }} </small>
            <h4 class=" d-block mb-0 title">
                    {{ product.name }}
            </h4>
            
            <div class="other-info">
                <table>
                    <tr>
                        <td>Decor By</td>
                        <td>:
                            <a :href="product.companyUrl">
                                {{ product.company }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Colors</td>
                        <td>: <color v-for="color in product.colors" :color="color" :key="color.id"></color> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" v-show="isModalOpen" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="isModalOpen = !isModalOpen">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-center">
                                <a :href="mainImage" data-lightbox="PORTFOLIO">
                                    <img class="mw-100 mb-2 mt-3" v-lazy="mainImage" alt="Card image cap">
                                </a>
                            </div>
                            <div class="inspiration-grid">
                                <a data-lightbox="PORTFOLIO" :href="product.thumbnail">
                                    <img  v-lazy="product.thumbnail" @click="mainImage = product.thumbnail" class="inspiration-item">
                                </a>
                                <a :href="gallery.image" data-lightbox="PORTFOLIO" v-for="gallery in product.gallery" :key="gallery.id"> 
                                    <img  v-lazy="gallery.image" @click="mainImage = gallery.image" alt="" class="inspiration-item" >
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="text-orange">{{ product.name }}</h4>
                            <table class="mb-3">
                                <tr>
                                    <td>Supplier</td>
                                    <td>: {{  product.company }}</td>
                                </tr>
                                <tr>
                                    <td>Event Type</td>
                                    <td>: {{  product.event_type }}</td>
                                </tr>
                                <tr>
                                    <td>Product Category</td>
                                    <td>: {{  product.product_type }}</td>
                                </tr>
                                <!-- <tr>
                                    <td>{{ product.style }} Product Type</td>
                                    <td>: {{  product.product_type }}</td>
                                </tr> -->
                                <tr>
                                    <td>Colours</td>
                                    <td>: <color v-for="color in product.colors" :color="color" :key="color.id"></color></td>
                                </tr>
                            </table>
                            <p>
                                {{ product.description }}
                            </p>
                            <div class="d-flex">
                                <div class="w-50 p-1">
                                    <heart-component :default="product.hearted" :id="product.id" @hearted="hearted($event)" type="decor" styleclass="btn btn-sm btn-outline-secondary btn-block"></heart-component>
                                </div>
                                <div class="w-50 p-1">
                                    <button class="btn btn-sm btn-outline-secondary btn-block"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                            <hr>
                            <review-component @reviewed="reviewed" type="product" v-if="isModalOpen" :id="product.id"></review-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Color from '../../../Ui/Color.vue'
export default {
    props:['product'],
    components:{
        color: Color
    },
    data(){
        return {
            isModalOpen: false,
            mainImage: this.product.thumbnail,
            backgroundCss: `background-image:url(${this.product.thumbnail}); background-size:cover; background-position:center` 
        }
    },
    methods:{

        openModal(){
            $('#' + this.modalId).modal('show')
            this.isModalOpen = true
        },

        hearted(val){
            this.product.hearted = !this.product.hearted
            if(val){
                this.product.hearts++
            }else{
                this.product.hearts--
            }
        },

        reviewed(){
            this.product.reviews++
        }
        
    },
    computed:{
         modalId(){
            return "modal-" + this.product.id
         }
    }
    
}
</script>

<style lang="scss" scoped>
    .card-img-top{
        height: 250px;

        @media (min-width: 1561px){
            height: 350px;    
        }

        @media (min-width: 1281px) and (max-width: 1560px)  {
  
             height: 280px;
        
        }

        /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {
        
         height: 250px;
        
        }

        /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {
        
              height: 100px;
        
        }

        /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        
              height: 280px;
        
        }

        /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
        */

        @media (min-width: 481px) and (max-width: 767px) {
        
              height: 180px;
        
        }

        /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
        */

        @media (min-width: 320px) and (max-width: 480px) {
        
        //CSS
        
        }
    }

    .modal{
        font-size:12px;
    }

    .inspiration-grid{
        img{
            cursor: pointer;
        }
    }
</style>