<template>
    <div class="row">
        <div class="col-sm-2">
            <div class="filter-box bg-white pl-4 pr-4">
                <a href="#" class="pull-right text-muted" @click.prevent="clearCategories()">Clear Filter</a> 
                <div class=' pb-2 pt-4'>
                        <p>
                        <h5>Location</h5>
                        <geolocation-autocomplete @clear="clearGeolocation" @selected="setGeolocation" styleclass='form-control'></geolocation-autocomplete>
                    </p>
                        <h5>Distance</h5>
                        <select v-model="distance" class="form-control">
                            <option value="5">5 Kilometers</option>
                            <option value="10">10 Kilometers</option>
                            <option value="20">20 Kilometers</option>
                            <option value="50">50 Kilometers</option>
                        </select>
                </div>
                <div class=' pb-2 pt-4'>
                    <h5>Supplier</h5>
                    <input type="text" placeholder=" search supplier.." class="form-control form-input-xs" v-model="company">
                </div>
                
                <div class="filter-groups"  >
                    <h5>Event Type</h5>
                    <div class="chips main" v-for="event_type in event_types" :key="event_type.id">
                        <input type="checkbox"  :value="event_type.id" :id="event_type.id" v-model="categories" >
                        <label :for="event_type.id"> {{ event_type.name }}</label>
                    </div>
                </div>
                <div class="filter-groups"  >
                    <h5>Product Categories</h5>
                    <div class="chips main"  v-for="product_type in product_types" :key="product_type.id">
                        <input type="checkbox"  :value="product_type.id" :id="product_type.id" v-model="categories" >
                        <label :for="product_type.id"> {{ product_type.name }}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-9">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <form action="#" @submit.prevent="searchNameSubmit()">
                        <div class="input-group input-group-sm">
                                <input type="text" class="form-control" v-model="searchName"  placeholder="search for product.." aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="fa fa-search" ></i>Search</button>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 text-right" v-if="besupplier">
                    <a href="/register/supplier" class="btn btn-outline-warning btn-sm"> Become a product</a>
                </div>
            </div>
            
            <!-- Venue items -->
            
                <div class="text-center text-muted mt-5" v-show="noData">
                <!-- <h2>No Inspiration Found</h2> -->
                <!-- <img src="https://www.seekpng.com/png/detail/151-1519416_pool-parties-in-bangalore-no-data-found-images.png" class="w-100" alt=""> -->
            </div>
            <div class="row">
                <Item v-for="product in products" :key="product.id" :product="product" />
            </div>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Modal body..
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                    </div>
                </div>
            </div>
            
            <div class="text-center mt-3" @click.prevent="loadMore()" v-show="links.next != null">
                <a href="#" class="text-orange btn btn-outline-warning" v-show="!loadingContent">Load More</a>
            </div>
            
            <div class="text-center text-muted mt-5 p-5" v-show="noData">
                <!-- <h2>No Inspiration Found</h2> -->
                <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
            </div>

            <div v-show="loadingContent" class='text-center'>
                <i class="fa fa-spin fa-spinner" ></i> Loading...
            </div>
        </div>
    
    </div>
</template>

<script>

import Item from './Item.vue';

export default {
    props:['supplier', 'besupplier'],
    components:{
        Item
    },
    data(){
        return{
            links:{},
            products: [],
            loadingContent: false,
            categories: [],
            event_types:[],
            product_types: [],
            product_types: [],
            noData: false,
            company: '',

            //utilities
            searchName: '',
            searchproduct: '',
            defaultSupplier: this.supplier ? this.supplier : null,

            //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10
        }
    },
    created(){
        this.getproducts()
        this.getEventTypes()
        this.getVenueTypes()
        this.getProductTypeOptions()
    },
    watch:{
        categories: _.debounce(function(){
            this.getproducts()
        }, 500),

        searchproduct: _.debounce(function(){
           this.searchproductSubmit()
        }, 500),

        company: _.debounce(function(){
            this.getproducts()
        }, 500),

        distance: _.debounce(function(){
            if(this.longitude && this.latitude){
                this.getproducts()
            }
        },500)
    },
    // computed:{
    //     categoryArray(){
    //         return JSON.parse("[" + this.categories + "]")
    //     }
    // },
    methods:{
        setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.locationsearch = geolocation.formatted_address
            this.getproducts()
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.getproducts()
        },

        //Get products
        getproducts(link = null){
            this.loadingContent = true
            this.noData = false

            axios.post(link ? link : '/decor/list',{
                    categories: this.categories ? this.categories : "",
                    supplier: this.defaultSupplier,
                    company: this.company,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance, 
                })
                .then( response => {
                    if(link){
                        response.data.data.map( e => {
                            this.products.push(e)
                        })
                    }else{
                        this.products = []
                        this.products = response.data.data
                    }

                    if(response.data.data.length < 1){
                        this.noData = true;
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Name
        searchNameSubmit(){
            this.products = {}
            this.loadingContent = true
            axios.post('/decor/list',{
                    search: this.searchName
                },
                )
                .then( response => {
                    this.products = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search product
        searchproductSubmit(){
            this.products = {}
            this.loadingContent = true
            axios.post('/decor/list',{
                    product: this.productName
                },
                )
                .then( response => {
                    this.products = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Load more Button
        loadMore(){
            this.getproducts(this.links.next);
        },

        //Clear Categories
        clearCategories(){
            this.categories = []
        },

        // category Cater
        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then( response => {
                    this.event_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Venue Type
        getVenueTypes(){
            axios.get('/api/category?type=product_type')
                .then( response => {
                    this.product_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Catering Option
        getProductTypeOptions(){
            axios.get('/api/category?type=product_type')
                .then( response => {
                    this.product_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

    
    }
}
</script>

<style lang="scss" scoped>
    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    select{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;
        
        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px; 
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>