<template>
    <div class='d-inline-block'>
        <form method="post" action="#" @submit.prevent="send">             
            <div class="get-newsletter-box">
                    <div class="input-group">
                        <input type="email" v-model="email" required class="form-control get-email" placeholder="E-MAIL">
                        <div class="input-group-append">
                            <button  v-if="sending" type="button" disable class="form-control get-subscribe">
                                <i v-if="sending && !showSuccess" class="fa fa-spin fa-spinner"></i>
                            </button>
                            <button type="submit"  v-if="!sending"  class="form-control get-subscribe">
                                <span v-show="showSuccess">
                                    <i class="fa fa-check"></i> SENT
                                </span>
                                <span v-show="!showSuccess">SUBSCRIBE</span>
                            </button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            email: '',
            sending: false,
            showSuccess: false
        }
    },
    methods:{
        send(){
            this.sending = true
       
            axios.post('/register-newsletter-email', {email:this.email})
                .then(response => {
                    this.sending = false
                    this.email = ''
                    this.showSuccess = !this.showSuccess
                    setTimeout(()=>{
                        this.showSuccess = !this.showSuccess
                    }, 3000)
                })
                .catch( error => {
                    this.sending = false
                })
        }
    }
}
</script>

<style>

</style>