<template>
    <div>
        <inspiration-venue-input standalone='yes'  styleclass='form-control'></inspiration-venue-input>
    </div>
</template>

<script>
export default {
    data(){
        return {
            inputtype: 'venue',

            //for geolocation
            location: '',
            longitude: '',
            latitude: ''
        }
    },
    mounted(){
         $('[data-toggle="tooltip"]').tooltip()
    },
    methods:{

    }
}
</script>

<style scoped lang="scss">
    .pop-over{
        display:inline-block;
        position: relative;

        &:hover{
            .pops{
                display: block;
            }
        }

        .pops{
            position: absolute;
            z-index: 999;
            display:none;
            width:300px;
            background-color:#fff;
            padding:10px;
            border:1px solid rgb(240, 240, 240);
            left:0;
            -webkit-box-shadow: -1px 4px 17px -9px rgba(0,0,0,0.4);
            -moz-box-shadow: -1px 4px 17px -9px rgba(0,0,0,0.4);
            box-shadow: -1px 4px 17px -9px rgba(0,0,0,0.4);
            border-radius: 5px;
        }
    }
</style>
