<template>
    <div>
         <div class="input-box" v-show="toggleInput">
            <div style='position:relative'>
                <input type="text" ref="searchinput" autocomplete="off" placeholder=" search location or address.." :class="styleclass" @keypress.13.prevent="getSelected"  @keydown.38.prevent="upSelection" @keydown.40.prevent="downSelection" v-model="locationSearch">
                <a href="#" @click.prevent="clear()" style="position:absolute; right:15px; top:8px">
                    <i class="fa fa-remove text-muted" ></i>
                </a>
            </div>
            <ul class="results" v-if='searchResults.length > 0'>
                <li  v-for="(location, index) in searchResults" :key="index" v-on:click="getSelected(index)" :class="{ active: selectedIndex == index}" >
                    <div class="d-flex">
                        <div>
                           <i class="fa fa-map-marker"></i>    <label for="">{{ location.description }}</label> 
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <input class="form-control" :class="styleclass" placeholder=" Search location.." autocomplete="off" :required="standalone == 'yes'"  @keyup="inputClick()"  @click="inputClick()" v-model="location">
        <div v-if="standalone == 'yes'">
            <input type="hidden" name="location" v-model="location">
            <input type="hidden" name="latitude" v-model="latitude">
            <input type="hidden" name="longitude" v-model="longitude">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        api:{
            // default : 'AIzaSyDkFCsuJHzRg-6TQAEiFYgY6dDl_FSgmhI',
            default : 'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak',
            type: String
        },
        styleclass:{
            default: 'form-control form-control-sm',
            type: String
        },
        standalone:{
            type: String,
            default: 'no'
        },
        defaultlocation:{
            type: String,
            default:''
        },
        defaultlatitude:{
            type: String,
            default:''
        },
        defaultlongitude:{
            type: String,
            default:''
        },
       
    },

    data(){
        return {
            searchResults: [],
            selectedItem: [],
            locationSearch: '',
            selectedIndex: -1,
            toggleInput: false,

            location: this.defaultlocation,
            latitude: this.defaultlatitude,
            longitude: this.defaultlongitude
        }
    },
    watch:{

        locationSearch: _.debounce(function(){
            this.searchResults = []
            axios.get("/api/google/place/autocomplete/json",
              {
                params: {
                    input: this.locationSearch,
                    key: this.api,
                    types: ['establishment', 'address'],
                    components: 'country:au'
                } 
              }
            )
            .then( response => {
                this.searchResults = response.data.predictions
            })
            .catch( error => {
                console.log(error)
            })

        }, 200)
    },
     methods:{
         inputClick(){
             this.toggleInput = !this.toggleInput;
             setTimeout(function(){
                 this.$refs.searchinput.focus();
             }.bind(this),80)
         },

        clear(){
            this.toggleInput = false,
            this.location = ''
            this.$emit('clear');
        },
         getSelected(index = null){
             if(index){
                 var selected = this.searchResults[this.selectedIndex];
            }else{
                var selected = this.searchResults[index];
            }

            if(selected){
                this.location = selected.description
                this.toggleInput = !this.toggleInput;
                this.searchResults = []

                axios.get("/api/google/place/details/json",
                    {
                        params: {
                            place_id: selected.place_id,
                            key: this.api,
                        } 
                    }
                )
                .then( response => {

                    this.latitude = response.data.result.geometry.location.lat
                    this.longitude = response.data.result.geometry.location.lng

                    this.$emit('selected',{
                        formatted_address: selected.description,
                        latitude : response.data.result.geometry.location.lat,
                        longitude : response.data.result.geometry.location.lng,
                    })

                    this.locationSearch = ''
                })
                .catch( error => {
                    console.log(error)
                })
            } 
        },

        upSelection(){
            if(this.selectedIndex == 0){
                return
            }else{
                this.selectedIndex -= 1;
            }
        },

        downSelection(){
             if(this.selectedIndex > this.searchResults.length - 1){
                return
            }else{
                this.selectedIndex += 1;
            }
        },
    
     }
}
</script>

<style scoped>


    div{
        position: relative;
    }
    

    .input-box{
        position: absolute;
        position: absolute;
        background-color:#fff;
        /* border:1px solid #ccc; */
        width: 100%;
        list-style-type: none;
        padding-left: 0px;
        border-radius: 3px;
        z-index: 9999;
    }

  

    .results{
        background-color:#fff;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
        overflow: auto;
  
        width: 100%;
        font-size:14px;
        list-style-type: none;
        padding-left: 0px;
    }

    .results li{
        padding: 5px 5px 3px 10px;
        cursor: pointer;
        color: #827b7b;
        font-size:12px;
    }

    .results li.active{
        background-color:#ccc;
    }

    .results li:hover{
        background-color:#ccc;
    }
    
</style>