<template>
    <div>
         <div class="text-muted">
            <small>
                <a href="#" @click.prevent="toggleCommentBoxButton" class="mr-3 text-muted open-comment-box">
                    <i class="fa fa-commenting-o"></i> {{ reviewcounts }}
                </a>
                <a href="#"  @click.prevent="toggleFileBoxButton" class="text-muted text-small">
                    <i class="fa fa-file-pdf-o"></i> {{ attachments.length }}
                </a>
            </small>
        </div>

        <div class="mt-4 pl-4 pr-3 pb-3 pt-1 box-comment-file" v-show="toggleCommentBox"  >
            <div class="text-right">
                <a href="" @click.prevent="toggleCommentBoxButton" class="text-warning"><i class="fa fa-close"></i></a>
            </div>
            <comment-component @reviewcounts="loadCounts($event)" @reviewed="reviewcounts++" type="quote-product" :id="decorid"></comment-component>
        </div>

        <div class="mt-4 pl-4 pr-4 pb-3 pt-1 box-comment-file" v-show="this.toggleFileBox" style="" >
            <div class="text-right mb-2">
                <a href="" @click.prevent="toggleFileBoxButton" class="text-warning"><i class="fa fa-close"></i></a>
            </div>
            <form action="/dashboard/quote/uploadattachment" ref="uploadform" method="POST" @submit.prevent="uploadFileSubmit()" enctype="multipart/form-data">
                <input type="hidden" name="id" :value="decorid">
                <div class="row">
                    <div class='col-xs-6'> <input type="text" required placeholder=" filename.." ref="filename" class='form-control' name="filename"> </div>
                    <div class='col-xs-4'><input type="file" required class='form-control' ref="file" @change='handleFile' name="file"></div>
                    <div class='col-xs-2'><button class='btn btn-primary' type="submit"><i class='fa fa-upload'></i> Upload</button></div>
                </div>
            </form>
            <table class="table mt-2">
                <thead>
                    <tr>
                        <td>Filename</td>
                        <td>Type</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="attachment in attachments" :key="attachment.id">
                        <td>{{ attachment.filename }}</td>
                        <td></td>
                        <td class="text-right">
                            <a target="_blank" class='btn btn-xs btn-default' :href="'/' + attachment.path">
                                <i class="fa fa-download"></i>
                            </a>
                            <a target="_blank" class='btn btn-xs btn-default'>
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props:['decorid'],
    data(){
        return {
            toggleCommentBox: false,
            toggleFileBox: false,
            reviewcounts: 0,
            attachments: [],
            file: ''
        }
    },
    created(){
        this.getAttachments()
    },
    methods:{
        uploadFileSubmit(){
           
            var filename  = this.$refs.filename.value
            var action = this.$refs.uploadform.action
            // console.log(this.file)
            let formData = new FormData();
            formData.append('id', this.decorid);
            formData.append('file', this.file);
            formData.append('filename', filename);

            axios.post(action,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then(response => {
                 this.$refs.uploadform.reset()
                 this.attachments.unshift(response.data.data)
            })
            .catch( error => console.log(error));
        },

        getAttachments(){
            axios.get('/dashboard/quote/attachments/' + this.decorid)
                .then( response =>{
                    this.attachments = response.data.data
                })
                .catch( error => {

                })
        },
        handleFile(){
             this.file = this.$refs.file.files[0];
        },
        toggleCommentBoxButton(){
            this.toggleCommentBox = !this.toggleCommentBox
            this.toggleFileBox = false
        },
        toggleFileBoxButton(){
            this.toggleFileBox = !this.toggleFileBox
            this.toggleCommentBox = false
        },

        loadCounts(reviews){
            this.reviewcounts = reviews
        }
    }
}
</script>

<style lang="scss" scoped>
    .box-comment-file{
        // margin-left:40px; 
        width:650px; 
        border:1px solid #ececec; 
        position:absolute;
        background-color:#fff;
       -webkit-box-shadow: 3px 3px 4px 1px rgba(240,240,240,1);
        -moz-box-shadow: 3px 3px 4px 1px rgba(240,240,240,1);
        box-shadow: 3px 3px 4px 1px rgba(240,240,240,1);
    }
</style>