<template>
   <li>
        <!-- start message -->
        <a :href="notification.link">
            <div class="pull-left img-div" >
                <span class="text-success circle" v-if="!notification.read_at"><i class="fa fa-circle"></i></span>
                <img :src="notification.avatar" class="img-circle"
                    alt="User Image">
            </div>
            <h4>
                {{ notification.title }}
            </h4>
            <p v-html="notification.message.substring(0,40)"></p>
            <small class="text-muted"><i class="fa fa-clock-o"></i> <timeago :datetime="notification.timestamp" :auto-update="60"></timeago></small>
        </a>
    </li>
</template>

<script>
export default {
    props: ['notification'],
    computed:{
        link(){
            return this.notification.linkid
        } 
    }
}
</script>

<style scoped>
    
    .img-div{
        position: relative;
    }

    .circle{
        position: absolute;
        top:-10px;
        left:-5px;
        color:#f39c12;
    }
</style>