<template>
   <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning" v-show='unread'>{{ unread }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have {{ notifications.length }} recent notification</li>
            <li>
                <ul class="menu">
                   <Item v-for="notification in notifications" :key="notification.id" :notification="notification"  />
                </ul>
            </li>
            <li class="footer"><a :href="listroute">See All Messages</a></li>
        </ul>
    </li>
</template>

<script>
import Item from './Item'

export default {
    props:['listroute'],
    components:{
        Item
    },
    
    data(){
        return{
            notifications: [],
            loggedUser: {},
            unread: 0
        }
    },
    
    created(){
        this.getNotifications()
        this.getLoggedUser()
        //listen for new notification
       
    },
    watch:{
        loggedUser(){
            Echo.private('App.Models.User.' + this.loggedUser.id)
                .notification((notification) => {
                    this.notifications.unshift({
                        "title": notification.title,
                        "avatar": notification.avatar,
                        "message": notification.message,
                        "notif_type": notification.notif_type,
                        "item_id": notification.item_id,
                        "link": notification.link + "&notif=" + notification.id,
                        "image": notification.image,
                        "read_at": "",
                        "timestamp": notification.timestamp,
                        "id": notification.id,
                        "type": notification.type
                    })
                    this.unread++
                    this.notifyMe("Designa",{
                        body: notification.message,
                        icon: notification.avatar
                    })

                    // if(this.notifications.length > 6){
                    //     this.notifications.pop()
                    // }

                });
        }
    },

    methods:{
        getNotifications(){
            axios.post('/dashboard/notification/apilist')
                .then( response => {
                    this.notifications = response.data.notifications
                    this.unread = response.data.unread
                })
                .catch( error => {
                    console.log(error)
                })
        },
        
        getLoggedUser(){
            axios.post('/dashboard/loggeduser')
                .then( response => {
                    this.loggedUser = response.data
                })
                .catch( error => {
                    console.log(error)
                })
        },

        notifyMe(title, options) {
            // Let's check if the browser supports notifications
            if (window.Notification && Notification.permission !== "granted") {
                Notification.requestPermission(function (status) {
                    if (Notification.permission !== status) {
                        Notification.permission = status;
                    }
                });
            }
            
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            }

            // Let's check whether notification permissions have already been granted
            else if (Notification.permission === "granted") {
                // If it's okay let's create a notification
                var notification = new Notification(title, options);
            }	

            // Otherwise, we need to ask the user for permission
            else if (Notification.permission !== "denied") {
                Notification.requestPermission().then(function (permission) {
                    // If the user accepts, let's create a notification
                    if (permission === "granted") {
                        var notification = new Notification(title, options);
                    }
                });
            }
            
            // setTimeout(notification.close.bind(notification), 4000);
        }
    }
}
</script>

<style>

</style>