<template>
  <div>
        <div class="input-box" :class="{ 'with-result': searchResults.length > 0 && showResult }">
                <input type="search" name="location"  autocomplete="off"
                        v-model="searchText" ref="searchinput" 
                        @focus="showResult = true"
                        @click="removeReadOnly" readonly  placeholder=" search location or venue.."  
                        @keydown.13.prevent="getSelected()" 
                        @input="initiateSearch($event)"  
                        @keydown.38.prevent="upSelection" 
                        @keydown.40.prevent="downSelection" 
                                class="form-control" /> 
                <ul class="results" v-show="searchResults.length > 0 && showResult">
                        <li v-for="(venue, index) in searchResults" :key="index" @click="getSelected(index)" :class="{ active: selectedIndex == index, database : venue.type == 'database'}"  >
                                <div>
                                        {{ venue.name }}
                                </div>
                        </li>
                </ul>
        </div>
         <div v-if="showDistance" class="mt-2">
                <select v-model="distance" class="form-control">
                    <option value="5">within 5 KM</option>
                    <option value="10">within 10 KM</option>
                    <option value="20">within 20 KM</option>
                    <option value="50">within 50 KM</option>
                </select>
        </div>
        <div v-if="selectedItem">
            <input type="hidden" name="venue_id" v-if="venuetype == 'database'"  v-model="venue_id">
            <input type="hidden" name="location"  v-if="venuetype == 'google'"  v-model="location">
            <input type="hidden" name="latitude"  v-if="venuetype == 'google'" v-model="latitude">
            <input type="hidden" name="longitude"  v-if="venuetype == 'google'" v-model="longitude">
        </div>
  </div>
</template>

<script>
export default {
        props:{
                api:{
                        default : 'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak',
                        type: String
                },
                prefixname:{
                        default : 'designa-',
                        type: String
                },
                currentlocation:{
                        default: false,
                        type: Boolean,
                },
        },
        data(){
                return {
                        searchText: '',
                        searchResults: [],
                        selectedIndex: 0,
                        databaseResults: [],
                        goggleResults: [],
                        selectedItem: {},
                        venuetype: 'google',
                        showResult: false,
                                

                        // for variables
                        venue_id: '',
                        location: '',
                        latitude: '',
                        longitude: '',
                        distance: 50,
                        showDistance: false
                }
        },
        created(){
                //  if(localStorage.getItem(this.prefixname + 'designa-latitude')){
                //         this.latitude = localStorage.getItem(this.prefixname + "designa-latitude");
                //         this.longitude = localStorage.getItem(this.prefixname + "designa-longitude");
                //         this.location = localStorage.getItem(this.prefixname + "designa-location");
                //         this.distance = localStorage.getItem(this.prefixname + "designa-location-distance");    
                //         this.showDistance = true  
                //         this.searchText = this.location

                //         this.$emit('selected',{
                //                 id: 0,
                //                 name: this.location,
                //                 latitude: this.latitude,
                //                 longitude: this.longitude,
                //                 distance: this.distance
                //         })     
                // }else{
                //         navigator.permissions.query({
                //                 name: 'geolocation'
                //         }).then(permission => {
                //                 if(permission.state != "granted"){
                //                         navigator.geolocation.getCurrentPosition(position => {
                //                                 this.latitude  = position.coords.latitude;
                //                                 this.longitude = position.coords.longitude;
                //                                 this.getCurrentLocationName()
                //                         }); 
                //                 }
                //         })  
                // }

                 if ("geolocation" in navigator) {
                        navigator.geolocation.getCurrentPosition( position => {
                                this.latitude  = position.coords.latitude;
                                this.longitude = position.coords.longitude;
                                this.getCurrentLocationName()
                        }); 
                }
                
        },
        watch:{
                distance(){
                        this.$emit('changedistance',{
                                distance  : this.distance,
                                latitude  :this.latitude,
                                longitude :this.longitude,
                        })
                },

                searchText(){
                        if(this.searchText.length < 1){
                                this.showDistance = false
                                this.distance = 50
                                localStorage.removeItem(this.prefixname + "designa-latitude");
                                localStorage.removeItem(this.prefixname + "designa-longitude");
                                localStorage.removeItem(this.prefixname + "designa-location");
                                localStorage.removeItem(this.prefixname + "designa-location-distance");
                                this.$emit('clear');    
                        }
                }
        },

        methods:{
                initiateSearch: _.debounce(function(event){ 
                        if(event.code != "Enter"){
                                this.showResult = true
                                if(this.searchText.length > 0){
                                        this.getGoogleResult()  
                                        this.searchResults = [...this.databaseResults, ...this.goggleResults].sort().slice(0,5);
                                }else{
                                        this.searchResults = []
                                        localStorage.removeItem(this.prefixname + "designa-latitude");
                                        localStorage.removeItem(this.prefixname + "designa-longitude");
                                        localStorage.removeItem(this.prefixname + "designa-location");
                                        localStorage.removeItem(this.prefixname + "designa-location-distance");
                                        this.$emit('clear');
                                }
                        }else{
                                this.showResult = false
                                this.showDistance = false
                                this.distance = 0
                                // this.searchResults = []
                                localStorage.removeItem(this.prefixname + "designa-latitude");
                                localStorage.removeItem(this.prefixname + "designa-longitude");
                                localStorage.removeItem(this.prefixname + "designa-location");
                                localStorage.removeItem(this.prefixname + "designa-location-distance");
                                this.$emit('clear'); 
                        }
                }, 200),

                async getDbResult(){
                        await axios.post("/api/getvenuesearch",
                                {
                                        search: this.searchText
                                })
                                .then( response => {
                                        this.databaseResults = response.data.map( (e) => {
                                                return {
                                                        type: "database",
                                                        name: e.name,
                                                        id: e.id,
                                                        is_establishment: true
                                                }
                                        })
                                })
                                .catch( error => {
                                        console.log(error)
                                })
                },

                async getGoogleResult(){
                        await axios.get("/api/google/place/autocomplete/json",
                                {
                                        params: {
                                                input: this.searchText
                                        }
                                })
                                .then( response => {
                                        this.goggleResults = response.data.predictions.map( (e) => {
                                                return {
                                                        type: "google",
                                                        name: e.description,
                                                        place_id: e.place_id,
                                                        is_establishment: e.types.includes('establishment')
                                                }
                                        })

                                })
                                .catch( error => {
                                        console.log(error)
                                })
                },
                
                /*
                  Get location via ip
                  ref: https://medium.com/better-programming/how-to-detect-the-location-of-your-websites-visitor-using-javascript-92f9e91c095f
                */
                ipLookUp(){
                        axios.get('https://smart-ip.net/geoip-json?callback=?')
                                .then(response => {
                                        var placeName = `${response.data.city}, ${response.data.countryName}`
                                        this.latitude  = response.data.latitude
                                        this.longitude = response.data.longitude
                                        this.getCurrentLocationName(placeName)
                                })
                                .catch(error => {
                                        console.log(error)
                                })
                },

                getCurrentLocationName(placeName = null){
                        
                        if(placeName){
                                this.searchText = placeName
                                this.showDistance = true
                                this.$emit('selected',{
                                                id: 0,
                                                name: placeName,
                                                latitude: this.latitude,
                                                longitude: this.longitude,
                                                distance: this.distance
                                        })
                        }else{
                                
                                axios.get('/api/google/geocode/json', {
                                                params:{
                                                        latlng: `${this.latitude}, ${this.longitude}`,
                                                }
                                        })      
                                        .then( response => {
                                                this.searchText = response.data.plus_code.compound_code
                                                this.showDistance = true
                                                
                                                var result = response.data.results.filter(e => {
                                                      return  e.types.includes("administrative_area_level_1")
                                                })

                                                this.latitude  = result[0].geometry.location.lat,
                                                this.longitude = result[0].geometry.location.lng;
                                                this.searchText = result[0].formatted_address
                                                this.$emit('selected',{
                                                        id: 0,
                                                        name: result[0].formatted_address,
                                                        latitude: result[0].geometry.location.lat,
                                                        longitude: result[0].geometry.location.lng,
                                                        distance: this.distance
                                                })
                                        })
                                        .catch( error => {
                                                console.log(error)
                                        })
                        }
                        
                },

                getSelected(index = null){
                        this.showResult = false
                        if(index){
                                var selected = this.searchResults[index];
                        }else{
                                var selected = this.searchResults[this.selectedIndex];
                        }

                        if(selected){
                                this.selectedItem = selected;
                                this.searchText = selected.name

                                if(selected.is_establishment){
                                        this.showDistance = false
                                }else{
                                        this.showDistance = true
                                }

                                if(selected){
                                        this.location = selected.name
                                        this.toggleInput = !this.toggleInput;

                                        if(selected.type == "database"){
                                                this.venue_id = selected.id
                                                this.venuetype = "database"
                                                this.$emit('selected',{
                                                        id: selected.id,
                                                        name: selected.name,
                                                        venue_id: selected.id
                                                })
                                        }else{
                                                this.venuetype = "google"
                                                axios.get("/api/google/place/details/json",
                                                                {
                                                                        params: {
                                                                                place_id: selected.place_id,
                                                                        } 
                                                                }
                                                        )
                                                        .then( response => {
                                                                this.latitude = response.data.result.geometry.location.lat
                                                                this.longitude = response.data.result.geometry.location.lng

                                                                localStorage.setItem(this.prefixname + "designa-latitude", this.latitude);
                                                                localStorage.setItem(this.prefixname + "designa-longitude", this.longitude);
                                                                localStorage.setItem(this.prefixname + "designa-location", selected.name);
                                                                localStorage.setItem(this.prefixname + "designa-location-distance", this.distance);
                                                                this.$emit('selected',{
                                                                        id: 0,
                                                                        name: selected.name,
                                                                        latitude: this.latitude,
                                                                        longitude: this.longitude,
                                                                        distance: this.distance
                                                                })
                                                        
                                                        })
                                                        .catch(error => {
                                                                console.log(error)
                                                        })
                                        }
                                
                                        // this.searchResults = []
                                } 
                        } 
                },

                removeReadOnly(){
                        this.$refs.searchinput.removeAttribute('readonly')
                },

                addReadOnly(){
                        this.$refs.searchinput.setAttribute('readonly', true)
                },

                upSelection(){
                        if(this.selectedIndex == 0){
                                return
                        }else{
                                this.selectedIndex -= 1;
                        }
                },

                downSelection(){
                        if(this.selectedIndex > this.searchResults.length - 1){
                                return this.selectedIndex = 0;
                        }else{
                                this.selectedIndex += 1;
                        }
                },
        }
}
</script>

<style lang="scss" scoped>
        select{
                font-family: "Georgia Italic";
                text-align: left;
                font-size: 13px;
                height: calc(2.25rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.5;
                /* color: #ababab; */
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .input-box{

                &.with-result{
                        input{
                                border-bottom:none !important;
                                border-bottom-left-radius: 0px !important;
                                border-bottom-right-radius: 0px !important;
                        }

                }

                input{
                        font-family: "Georgia Italic";
                        text-align: left;
                        font-size: 13px;
                        height: calc(2.25rem + 2px);
                        padding: 0.375rem 0.75rem;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.5;
                        /* color: #ababab; */
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: 0.25rem;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }

                
                

                .results{
                        background-color:#fff;
                        border-left:1px solid #ccc;
                        border-bottom:1px solid #ccc;
                        border-right:1px solid #ccc;
                        overflow: auto;
                
                        width: 100%;
                        font-size:14px;
                        list-style-type: none;
                        padding-left: 0px;
                        padding-bottom: 10px;
                }

                .results li{
                        div{
                                cursor: pointer;
                        }

                        // color: #827b7b;
                        font-size:12px;

                        div{
                                padding: 8px 5px 8px 10px;
                                display:flex;

                                i{
                                        margin-right:5px; 
                                        padding-top:3px;
                                }

                                label{
                                        flex:1;
                                        text-align:left;
                                }
                        }
                }

                .results li.active{
                        background-color:rgb(228, 228, 228);
                }

                .results li:hover{
                        background-color:rgb(228, 228, 228);
                }
        }
</style>