<template>
    <div>
        <h1>Test Cors</h1>
        <div class="row">
            <div class="col-sm-12">
                <label for="">Endpoint</label>
                <input type="text" class="form-control" v-model="endpoint" placeholder=" put your endpoint here..">
            </div>
            <div class="col-sm-12 mt-2">
                <label for="">Token</label>
                <textarea name="token" class="form-control" v-model="token" rows="5" placeholder=" put your token here"></textarea>
            </div>
        </div>
        <p class="mt-3">
            <button @click="submit()" class="btn btn-warning btn-lg">Submit</button>
        </p>
        <p class="p-2">
            <label for="">Result</label>
            <pre v-html="result" style='border:1px solid #ccc;' class="rounded p-2"></pre>
        </p>
    </div>
</template>
<script>
export default {
    data(){
        return {
            token: '',
            endpoint: '',
            result: ''
        }
    },
    methods:{
        submit(){
            axios.get(this.endpoint)
                .then(e => {
                    this.result = e.data
                    console.log(e.data)
                })
                .catch(e => {
                    this.result = e
                })
        },


    },
    computed:{
        header(){
            return {
                headers: {
                'Authorization': 'Bearer ' + this.token
                }
            }
        }
    }
}
</script>