<template>
    <div class="well pt-1 pl-3 pr-3 pb-1 rounded-0" style='border-radius:0'>
        <h4 class="mb-3">Category Set-up</h4>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <label for="" class="mb-0">Category</label>
                    <select v-model="category" name="category" class="form-control"     >
                        <option :value="category.id" v-for="category in categories" :key="category.id">{{ category.name }}</option>
                    </select>
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <label for="" class="mb-0">Style</label>
                    <select  class="form-control" name="style" v-model="style" >
                        <option  :value="style.id" v-for="style in styles" :key="style.id">{{ style.name }}</option>
                    </select>
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <label for="" class="mb-0">Setting</label>
                    <select  class="form-control" name="setting" v-model="setting" >
                        <option  :value="setting.id" v-for="setting in settings" :key="setting.id">{{ setting.name }}</option>
                    </select>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { setTimeout } from 'timers';
export default {
    props: ['routeCategories', 'defaultCategory', 'defaultSetting', 'defaultStyle'],
    data(){
        return{
            category: {},
            categories:[],
            selectedCategory:{},
            style: '',
            setting: '',
            defaultApplied: this.defaultCategory ? false : true,

            styles: [],
            settings: []
        }
    },
    watch:{
        category(){
            this.selectedCategory = _.find(this.categories, ['id', this.category]);
        },
        selectedCategory(){
            // check first if selectedCategory is empty
            if(!this.isEmpty(this.selectedCategory)){
                this.styles = this.selectedCategory.styles
                this.settings = this.selectedCategory.settings
            }
        }
    },
    created(){
        axios.get( route(this.routeCategories) )
            .then (response => {
                this.categories = response.data
                if(response.data.length){
                    this.setDefaults();
                }
            })
            .catch( error => {
                console.log(error)
            })
    },
    methods:{
        setDefaults(){
            if(this.defaultCategory != null && this.defaultSetting != null && this.defaultStyle != null){
                this.category = parseInt(this.defaultCategory)
                this.setting = parseInt(this.defaultSetting)
                this.style = parseInt(this.defaultStyle)
            }
        },

        isEmpty(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }
    }

    
}
</script>

<style>

</style>
