<template>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <label for="">Role</label>
                 <select name="role_id" v-model="role" data-placeholder=" select role.." class="form-control roles" >
                    <option :value="role.id" v-for="role in roles" :key="role.id" >{{ role.name }}</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="">Supplier</label> 
                <small class="pull-right" v-show="suppplierExist">
                    <a href="#" class="text-warning" @click.prevent="suppplierExist = !suppplierExist">Not exist?</a>
                </small>
                <div v-if="suppplierExist">
                    <select data-type="select2" v-model="supplier" class="form-control" style="width:100%"  name="company_id" >
                        <option :value="supplier.id" v-for="supplier in suppliers" :key="supplier.id">{{ supplier.name }}</option>
                    </select>
                </div>
                <input type="text" class="form-control"  placeholder=" Please type the supplier's name" name="supplier" v-if="!suppplierExist">
                <small v-if="!suppplierExist" class="text-info">* Just put your Supplier's name</small>
                <small v-if="!suppplierExist" class="pull-right">
                    <a href="#" class="text-danger" @click.prevent="suppplierExist = !suppplierExist">Cancel</a>
                </small>
                <!-- <div class="items" v-if="suppplierExist">
                    <div v-for="item in items" :key="item.id">
                        <input type="checkbox" name="items[]" :value="item.id" :id="item.id">
                        <label :for="item.id">
                            <img :src="item.thumbnail" alt="">
                            {{ item.name }}
                        </label>
                    </div>
                </div> -->

            </div>
            <div class="col-sm-2"> <br />
                <button class="btn btn-default mt-2"><i class="fa fa-plus"></i>  Add</button>
            </div>
        </div>
    </div>

</template>

<script>
import SupplierItem from './OtherSupplierItem'
export default {
    props:['venue', 'product'],
   data(){
        return{
            roles:[],
            role:'',
            options:[],
            suppplierExist:true,
            suppliers: [],
            supplier:'',
            items:{}
        }
    },
    watch:{
      
        role(){
            this.items = {}
            this.suppliers = []
            axios.post( route('dashboard.inspiration.api.company.role',{role: this.role}) )
                .then( response => {
                   this.suppliers = response.data
                })
                .catch( error => {
                    console.error(error)
                })
        }
    },
    mounted(){
        
        axios.get('/api/roles')
            .then( response => {
                this.roles = response.data.list
            })
            .catch( error =>{
                console.log(error)
            })
    }
    
}
</script>
