<template>
    <div class="row mb-3 roles-row">
        <div class="col-sm-4">
            <select name="role_id" v-model="role" data-placeholder=" select role.." class="form-control roles" >
                <!-- <option value="" > </option> -->
                <option :value="role.id" v-for="role in roles" :key="role.id" >{{ role.display_name }}</option>
            </select>
        </div>
        <div class="col-sm-6">
            <select2 name="suppliers[]" :options="options"></select2>
            <!-- <select name="suppliers" class="form-control"  multiple >
            </select> -->
        </div>
        <div class="col-sm-2">
            <button type="button" @click="$emit('remove')" class="btn btn-md btn-default btn-block"><i class="fa fa-remove"></i></button>
        </div>
    </div>
</template>

<script>
export default {
    props:['index'],
    data(){
        return{
            roles:[],
            role:'',
            options:[]
        }
    },
    watch:{
        role(){
            console.log(this.role)
            axios.post( route('dashboard.inspiration.api.company.role',{role: this.role}) )
                .then( response => {
                    console.log(response.data)
                   this.options = response.data.map( e => {
                        return { id: e.id, text:e.name}
                    })
                })
        }
    },
    mounted(){
        axios.get(route('api.roles'))
            .then( response => {
                this.roles = response.data
            })
            .catch( error =>{
                console.log(error)
            })
    }
    
}
</script>

<style>

</style>
