<template>
    <div>
        <!-- <select2 :options="options" :name="name" v-model="selectedItem"></select2> -->
        <select name="venues[]"  class="form-control" multiple data-type="select2">
            <option :value="venue.id" v-for="venue in venues" :key="venue.id">{{ venue.name }}</option>
        </select>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    props:['values', 'venuesUrl', 'name'],

    data(){
        return {
            selectedItem:''
        }
    },

    computed:{
        ...mapGetters(['venueSupplier', 'selectedCategory', 'venues']),
        options(){
            // console.table(this.venues)
            return this.venues.map(e => {
                return {id: e.id, text:e.name, disabled: false}
            })
        }
    },
    
    methods: mapActions(['getVenues']),

    watch:{
        venueSupplier(){    
            if(this.venueSupplier){
                this.getVenues(route('dashboard.inspiration.api.venues', {company: this.venueSupplier.id, category:this.selectedCategory.id}))
            }
        },  
    },

}
</script>

<style>

</style>
