<template>
    <div>
        <!-- <select2 :options="options" :name="name" v-model="selectedItem"></select2> -->
        <select name="supplier" class="form-control" id="" v-model="selectedItem">
            <option :value="supplier.id" v-for="supplier in companies" :key="supplier.id" >{{ supplier.name }}</option>
        </select>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    props:['values', 'name'],
    data(){
        return {
            selectedItem:''
        }
    },
    watch:{
        selectedItem(){
            console.log("Change Supplier :" + this.selectedItem)
            var supplier = _.find(this.companies, ['id', parseInt(this.selectedItem)]);
            this.setVenueSupplier(supplier)
        }
    },
    methods:{
        ...mapActions(['setVenueSupplier'])
    },
    computed:{
        ...mapGetters(['companies']),
        options(){
            return this.companies.map(e => {
                return {id: e.id, text:e.name, disabled:false}
            })
        }
    }
}
</script>

<style>

</style>
