<template>
    <div class="well pt-1 pl-3 pr-3 pb-1 rounded-0 ">
        <h4 class="mb-3">Venue Set-up</h4>
        <div class="mb-2 ">
            <input type="checkbox" v-model="hasNoVenue" id="no-venue"> <label for="no-venue" style="font-weight: normal">No Venue</label>
        </div>
        <div v-if="hasNoVenue" class="mb-3">
            <label for="">Location</label>
            <input type="text" class="form-control" name="location" required> 
        </div>
        <div class="row" v-show="!hasNoVenue">
            <div class="col-sm-7">
                <p>
                    <label for="">Supplier</label>
                    <venue-supplier-select></venue-supplier-select>
                </p>
            </div>
            <div class="col-sm-5">
                <p>
                    <label for="">Venues</label>
                    <venue-list-select :venue-url="venuesUrl"></venue-list-select>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    props:['companiesUrl', 'venuesUrl'],
    data(){
        return{
            hasNoVenue: false,
            venueSupplier:'',
            venues:[],
            companyVenues: []
        }
    },
    created(){
        $('select[name=suppliers]').val(null).trigger('change');
    },
    watch:{
        selectedCategory(){
            this.getCompanies(route(this.companiesUrl,{category: this.selectedCategory.id}))
        },
    },

    computed: {
        ...mapGetters(['selectedCategory', 'companies']),
        // companyVenues(){
        //     _.find(this.suppliers,{id: venueSupplier}).venues;
        // }    
    },
    methods:{
        ...mapActions(['getCompanies'])
    }
}
</script>

<style>

</style>
