<template>
    <div class="results">
                <div class="search-result">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <input type="text" ref='searchInput' autocomplete="off" placeholder=" search your address" v-model='locationSearch' class="form-control mt-2">
                            </p>
                            <div class="text-center mt-3" v-show="loadingSearch" >
                                <img src="/images/loadings/image-loading.gif" alt="">
                            </div>
                             <div v-for="(locationResult, index) in locationResults.predictions" :key='index' class="location-search-results" @click="loadMap(locationResult)">
                                <label>{{ locationResult.description }}</label> <br>
                                <!-- {{ getTown(locationResult.address_components) ? getTown(locationResult.address_components) + ', ' : '' }} 
                                {{ getState(locationResult.address_components) ? getState(locationResult.address_components) + ', ' : '' }} {{ getCountry(locationResult.address_components) }} <br> -->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-right mb-3" >
                                <a href="#" class="btn btn-sm btn-warning mr-3" @click.prevent="selectLocation()" v-show="hasSelectedLocation">Select Location</a>
                                <a href="#"  @click.prevent="$emit('cancelEdit', true)" class="text-orange mb-3"><i class="fa fa-ban"></i> Cancel</a>
                            </div>
                            <div v-show="hasSelectedLocation">
                                <GmapMap
                                    :center="selectedLatLong"
                                    :zoom="13"
                                    map-type-id="roadmap"
                                    style="width: 100%; height:400px"
                                    :options="{
                                        zoomControl: true,
                                        gestureHandling: false,
                                        scaleControl: false,
                                        streetViewControl: false,
                                        rotateControl: false,
                                        fullscreenControl: true,
                                        disableDefaultUi: false
                                    }"
                                >
                                <GmapMarker
                                    :position="selectedLatLong"
                                />
                                </GmapMap>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</template>

<script>
export default {
    props:['addroute'],
    data(){
        return {
            locationResults:[],
            locationSearch: '',
            loadingSearch: false,
            selectedLocation: [],
            hasSelectedLocation:false,
            selectedLatLong:{lat:-33.8688197, lng:151.2092955},
        }
    },
    methods:{
        selectLocation(){
            axios.post(this.addroute,{
                address:    this.selectedLocation.formatted_address,
                longitude:  this.selectedLocation.geometry.location.lng,
                latitude:   this.selectedLocation.geometry.location.lat
            })
            .then( response => {
                this.$emit('created', response.data);   
            })
            .catch( error => {
                console.log(error)
            })
        },
        loadMap(data){
            axios.get('/api/google/place/details/json', {
                    params:{
                        place_id: data.place_id
                    }
                })  
                .then( response => {
                    var location = response.data.result
                    this.selectedLatLong = {lat:location.geometry.location.lat, lng: location.geometry.location.lng}
                    this.selectedLocation = location
                    console.log(this.selectedLocation)
                    this.hasSelectedLocation = true
                })
        },
        getTown(data){
            //locality
            var town = '';
            for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "locality"){
                        town = data[i].long_name
                        break;
                    }
                }
            }

            return town
        },

        getState(data){
            //administrative_area_level_1
            var state = '';
            for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "administrative_area_level_1"){
                        state = data[i].long_name
                        break;
                    }
                }
            }

            return state
        },

        getCountry(data){
            //country
            var country = '';
            for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "country"){
                        country = data[i].long_name
                        break;
                    }
                }
            }

            return country
        }, 

        getPostalCode(data){
            //postalCode
            var postalCode = '';
            var addressComponents = data.address_components
            for(var i = 0; addressComponents.length > i; i++){
                for(var t = 0; addressComponents[i].types.length > t; t++){
                    if(addressComponents[i].types[t] == "postal_code"){
                        postalCode = addressComponents[i].long_name
                        break;
                    }
                }
            }

            if(postalCode){
                return postalCode
            }else{
                axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/geocode/json",
                    {
                        params: {
                            latlng: data.geometry.location.lat +','+ data.geometry.location.lng,
                            key:'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak'
                        } 
                    }
                )
                .then( response => {
                    var result = response.data.results[0].address_components
                    for(var i = 0; result.length > i; i++){
                        for(var t = 0; result[i].types.length > t; t++){
                            if(result[i].types[t] == "postal_code"){
                                postalCode = result[i].long_name
                                break;
                            }
                        }
                    }

                    return postalCode
                })
                .catch( error => {
                    console.log(error)
                })
            }
        }
            
    },
    watch:{
        locationSearch: _.debounce(function(){
            this.loadingSearch = true
            this.locationResults = []
            // axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/geocode/json",
            axios.get("/api/google/place/autocomplete/json",
                {
                    params: {
                        input: this.locationSearch,
                        type: "city"
                    } 
                }
            )
            .then( response => {
                this.locationResults = response.data
                this.loadingSearch = false
                console.log(response.data)
            })
            .catch( error => {
                console.log(error)
            })

            
        }, 800)
    }
}
</script>

<style scoped lang="scss">
    .results{
        min-height: 250px;
    }
    
    .location-search-results{
       &.active{
           outline: 1px solid blue;
       }

       padding:10px 5px 10px 10px;
       cursor: pointer;
       border:1px solid rgb(241, 241, 241);
       margin-bottom: 5px;

       label{
           margin-bottom:0px;
       }

    }
</style>