<template>
    <div class="location-search-results">
        <label for="">{{ item.address }}</label>
        <div class="buttons">
            <!-- <a href="#"  class="mr-3"><i class="fa fa-pencil"></i></a> -->
            <a href="#" @click.prevent="deleteItem"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</template>

<script>
export default {
    props:['item'],
    methods:{
        deleteItem(){
            if(confirm("Are you sure to delete?")){
                axios.delete('/dashboard/profile/deletelocation/' + this.item.id)
                    .then( response => {
                        this.$emit('deleted',this.item)
                    })
                    .catch( error => {
                        console.log(error)
                    })
            }
        }
    }
}
</script>

<style scoped lang="scss">
   
    
    .location-search-results{
        position: relative;
        padding:10px 5px 10px 10px;
        cursor: pointer;
        border:1px solid rgb(241, 241, 241);
        margin-bottom: 5px;

        label{
            margin-bottom:0px;
        }

        .buttons{
            position: absolute;
            right:15px;
            top:10px;
            a{
                color:#ccc;

                &:hover{
                    color:#f39c12;
                }
            }
        }

    }
</style>