<template>
    <div>
        <a href="#" class="mb-3" @click.prevent="createMode = true" v-show="!createMode"><i class="fa fa-plus"></i> Add New</a>
        <Create :addroute="addroute" v-if="createMode" @created="itemCreated($event)" @cancelEdit="createMode = !createMode"></Create>
        <Item v-for='item in locationItems' @deleted="deletedItem($event)" v-show="!createMode" :item="item" :key="item.id" ></Item>
    </div>
</template>

<script>
import Item from './Item';
import Create from './Create';
export default {
    props:['addroute', 'getlocationroute'],
    components:{
        Item,
        Create
    },
    data(){
        return {
            createMode: false,
            locationItems: []
        }
    },
    created(){
       axios.post(this.getlocationroute)
        .then( response => {
            this.locationItems = response.data
        })
    },
    methods:{
        itemCreated(data){
            this.locationItems.push(data)
            this.createMode = false
        },
        deletedItem(item){
            this.locationItems.splice(this.locationItems.indexOf(item),1)
        }
    }
}
</script>

