<template>
   <div class="inspiration-masonry-item shadow-light">
            <div :style="`height:${item}`" class="placeholder-box-animation"></div>
            <h4 class="title placeholder-box-animation"><br>
                <small class="placeholder-box-animation"><i class="fa fa-map-marker" style="font-size:11px"></i></small>
            </h4>
            <div class="other-info">
                <div class="w-50 company-info">
                    <div style="width:32px; height:32px;" class="supplier-logo placeholder-box-animation"> <br>
                    <span class="text-light placeholder-box-animation"></span>
                </div>
                <div class="w-50 text-right pt-3">
                    <!-- <button class="btn btn-sm btn-icon" @click.prevent="alert('hehe')">
                        <i class="fa fa-heart"></i>
                    </button> -->
                    <span class="placeholder-box-animation"></span>

                    <span class="placeholder-box-animation"></span>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['item']
}
</script>

<style lang="scss" scoped>
    .supplier-logo{
        width:32px;
        height: 32px;
    }

    .inspiration-masonry-item{
        &:hover{
           .shadow{
                background-color: none !important;
            }
        }
    }
    .btn-icon{
        background-color: none !important;

        &:hover{
            background-color:#fff;
            // color:indianred;
        }
    }

    .placeholder-box-animation {
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: placeholderSkeleton;
            -webkit-animation-timing-function: linear;
            background: #f6f7f8;
            background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
            background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
            background-repeat: no-repeat;
    }



    @-webkit-keyframes placeholderSkeleton {
            0% {
                    background-position: -468px 0;
            }
            100% {
                    background-position: 468px 0;
            }
    }

    @-webkit-keyframes skeletonAnimate {
            from {
                    background-position: top left;
            }
            to {
                    background-position: top right;
            }
    }
</style>