<template>
  <div>
    <Item  v-for="item in randomItems" :item="item" :key="item" />
  </div>
</template>

<script>
import Item from './Item'
export default {
    components:{
        Item
    },
    data(){
        return {
            randomItems:[
                '800px', 
                '560px',
                '880px',
                '860px',
                '750px'
                ]
        }
    }
}
</script>

<style>

</style>