<template>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card rounded mb-4 venue-box">
            <a :href="venue.slug">
                <div class="image-box">
                    <!-- <img class="card-img-top rounded-0" v-lazy="venue.thumbnail" data-src="/images/loadings/image-loading.gif"  alt="Thubnail"> -->
                    <div class="card-img-top  rounded-0" :style="backgroundCss" alt="Card image cap"></div>
                    <div class="image-buttons">
                        <heart-component :default="venue.hearted" type="venue" :id="venue.id" styleclass="btn btn-sm btn-icon"></heart-component>
                        <!-- <button class='btn btn-sm btn-icon' @click.prevent="alert('hehe')">
                            <i class="fa fa-share"></i>
                        </button> -->
                        <ShareButton :link="venue.slug" />
                    </div>
                    <div class="images-number">
                        <span class="images mr-2">
                            <i class="fa fa-user"></i> {{ venue.capacity }}
                        </span>
                        <span class="images mr-2">
                            <i class="fa fa-image"></i> {{ venue.gallery_count }}
                        </span>
                        <span class="shares mr-2">
                            <i class="fa fa-share"></i> {{ venue.shares }} 
                        </span>
                        <span class="hearts mr-2">
                            <i class="fa fa-heart"></i> {{ venue.hearts }} 
                        </span>
                        <span class="hearts">
                            <i class="fa fa-comment"></i> {{ venue.reviews }} 
                        </span>
                    </div>
                </div>
            </a>
            <div class="card-body pt-1 pl-2  pb-0">
                <h4 class=" d-block mb-0 title">
                    <a :href="venue.slug">
                        {{ venue.name }}
                    </a>
                </h4>
                <small class="location text-muted">
                    <i class="fa fa-map-marker"></i> {{ venue.location }}
                </small>
                <div class="mt-2 mb-2">
                    <div v-if="descriptionLength > 80">
                        <div class="text-muted" v-show="!showlongText">{{ strip_html_tags(venue.description.slice(0, 80) + '...') }}</div>
                        <div class="text-muted" v-html="venue.description" v-show="showlongText"></div>
                        <a style="font-size:11px" href="#" v-show="!showlongText" @click.prevent="showlongText = !showlongText"> Read More..</a>
                        <a style="font-size:11px" href="#" v-show="showlongText" @click.prevent="showlongText = !showlongText"> Show less..</a>
                    </div>
                    <div v-if="descriptionLength < 80">
                        <div class="text-muted" v-html="venue.description"></div>
                    </div>
                </div>

                <div class="d-flex mb-2 other-info align-items-center">
                    <div class="flex-fill">
                        <div class="stars">
                                <Star :rating="venue.ratings"/>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <strong>Event Spaces</strong>
                        <div class="text-orange">{{ venue.function_spaces}} spaces</div>
                    </div>
                    <div class="flex-fill text-right">
                        <a :href="venue.compony_link">
                        <img :src="venue.company_thumbnail" alt="" class="supplier-logo" style="width: 36px; height: 36px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Star from '../../Ui/StarRating.vue'
import ShareButton from '../ShareButton/MainComponent.vue'
export default {
    props:['venue'],
    components:{
        Star,
        ShareButton
    },
    data(){
        return {
            backgroundCss: `background-image:url(${this.venue.thumbnail}); background-size:cover; background-position:center`,
            showlongText: false 
        }
    },
    created(){  
        // console.log(this.venue)
    },
    computed:{
        descriptionLength(){
            return  this.venue.description != null ? this.venue.description.length : 0
        }
    },
     methods:{
        strip_html_tags(str)
        {
            if ((str===null) || (str===''))
                return false;
            else
            str = str.toString();
            return str.replace(/<[^>]*>/g, '');
        }
     }
}

</script>

<style lang="scss" scoped>
    img{
        object-fit: cover;
    }

      .card-img-top{
        padding-top: 80%;
    }
</style>