<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-4">
                <div class="filter-box bg-white pl-4 pr-4 mb-5 pt-3">
                    <p>
                        <venue-seach prefixname="venue_" :currentlocation="getCurrentPosition" @selected="getVenueSearchData" @changedistance="distanceChanged" @clear="cleaVenueSearch"  styleclass='form-control form-input-sm'></venue-seach>
                    </p>
                    <div class="row mt-2">
                        <div class="col-sm-6 p-1 pl-3">Filters</div>
                        <div class="col-sm-6 text-right">
                            <a href="#" class="text-orange btn btn-sm pt-1 pb-1" v-show="clearShowing" @click.prevent="clearCategories()"><small><i class="fa fa-remove"></i> Clear</small></a>
                        </div>
                    </div>
                    <div class="filter-groups">
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="'event' + event_type.id">
                            <input type="checkbox" :value="event_type.id" :id="event_type.id" @change="event_type.checked = !event_type.checked" v-model="categories" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div>
                    <div class="filter-groups">
                        <h5>Venue Type</h5>
                        <div class="chips main" v-for="venue_type in venue_types" :key="venue_type.id">
                            <input type="checkbox" :value="venue_type.id" :id="venue_type.id" @change="venue_type.checked = !venue_type.checked" v-model="categories" >
                            <label :for="venue_type.id"> {{ venue_type.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Catering Option</h5>
                        <div class="chips main" v-for="catering_option in catering_options" :key="catering_option.id">
                            <input type="checkbox" :value="catering_option.id" :id="catering_option.id" @change="catering_option.checked = !catering_option.checked" v-model="categories" >
                            <label :for="catering_option.id"> {{ catering_option.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups">
                        <h5>Beverage Option</h5>
                        <div class="chips main" v-for="beverage_option in beverage_options" :key="beverage_option.id">
                            <input type="checkbox" :value="beverage_option.id" :id="beverage_option.id" @change="beverage_option.checked = !beverage_option.checked" v-model="categories" >
                            <label :for="beverage_option.id"> {{ beverage_option.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups">
                        <h5>Amenities</h5>
                        <div class="chips main" v-for="amenity in amenities" :key="amenity.id">
                            <input type="checkbox" :value="amenity.id" :id="amenity.id" @change="amenity.checked = !amenity.checked" v-model="categories" >
                            <label :for="amenity.id"> {{ amenity.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5 class=''>Capacity</h5>
                        <div>
                            {{ capacity }} Persons
                        </div>
                        <input type="range" class="custom-range"  style="border:none" v-model='capacity' min="0" :max="1500">
                        <!-- <vue-range-slider ref="slider" :bg-style="bgStyle" :tooltip-style="tooltipStyle" :process-style="processStyle" :min="0" :max="1500" v-model="capacity"></vue-range-slider> -->
                    </div>

                    <div class="filter-groups"  >
                        <h5>Cost Per Head</h5>
                        <div class="chips main" v-for="costPerHead in costPerHeads" :key="costPerHead.id">
                            <input type="checkbox" :value="costPerHead.id" :id="costPerHead.id" @change="costPerHead.checked = !costPerHead.checked" v-model="categories" >
                            <label :for="costPerHead.id"> {{ costPerHead.name }}</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9 col-lg-10  col-sm-8">
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <!-- <form action="#" @submit.prevent="searchNameSubmit()">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" v-model="searchName"  placeholder="search for venue.." aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="fa fa-search" ></i>Search</button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                    <div class="col-sm-4">
                        <!-- <div class="input-group input-group-sm">
                            <select class="form-control p-3" id="inputGroupSelect04">
                                <option selected>Choose...</option>
                                <option value="1">Number Of Weddings</option>
                                <option value="2">Number of Reviews</option>
                                <option value="3">Average Ratings</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn" type="button"><i class="fa fa-sort"></i> Filter</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-3 text-right">
                        <a href="/register/supplier" class="btn btn-outline-warning btn-sm"> Become a Supplier</a>
                    </div>
                </div>

                <!-- Venue items -->

                <div class="text-center text-muted mt-5 p-5" v-show="noData">
                    <img src="/images/placeholders/no-data.png"  class="mw-50" alt="">
                    <div>
                        <h4 class="text-muted mt-3">We cant find any item.</h4>
                    </div>
                </div>

                <div class="row ">
                    <Item v-for="venue in venues" :key="venue.id" :venue="venue" />
                </div>
                <ContentPlaceholder  v-show="loadingContent" />
                <!-- <div class="text-center mt-3 mb-3" @click.prevent="loadMore()" v-show="links.next != null">
                    <a href="#" class="text-orange btn btn-outline-warning" v-show="!loadingContent">Load More</a>
                </div> -->
            </div>

        </div>
    </div>
</template>

<script>

import Item from './Item.vue';
// import 'vue-range-component/dist/vue-range-slider.css'
// import VueRangeSlider from 'vue-range-component'
import ContentPlaceholder from './ContentPlaceholder.vue';
export default {
    props: ['defaultCategory'],
    components:{
        Item,
        ContentPlaceholder
    },
    data(){
        return{
            links:{},
            venues: {},
            loadingContent: false,
            categories: [],
            event_types:[],
            venue_types: [],
            catering_options: [],
            beverage_options: [],
            amenities: [],
            costPerHeads: [],
            noData: false,
            capacity: 50,

            //utilities
            searchName: '',
            searchSupplier: '',

                //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10,
            venue_id: '',
            getCurrentPosition: true

        }
    },
    created(){

        this.getEventTypes()
        this.getVenueTypes()
        this.getCateringOptions()
        this.getBeverageOptions()
        this.getAmenities()
        this.getCostPerHeads()
        this.scroll()

        navigator.permissions.query({
            name: 'geolocation'
        }).then(permission => {
            if(permission.state != "granted"){
                this.getVenues()
            }
        })

        this.bgStyle = {
            backgroundColor: '#fff',
            boxShadow: 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)'
        }

        this.tooltipStyle = {
            backgroundColor: '#f89f34',
            borderColor: '#fff',
            'margin-bottom': '0px'
        }
        this.processStyle = {
            backgroundColor: '#f89f34'
        }
    },
    watch:{
        categories: _.debounce(function(){
            this.loadingContent =  true
            this.venues = []
            this.getVenues()
        }, 500),

        capacity: _.debounce(function(){
            this.venues = []
            this.loadingContent =  true
            this.getVenues()
            // alert(this.capacity)
        }, 500),

        searchSupplier: _.debounce(function(){
            this.venues = []
            this.loadingContent =  true
           this.searchSupplierSubmit()
        }, 500),


        distance: _.debounce(function(){
            if(this.longitude && this.latitude){
                this.venues = []
                this.loadingContent =  true
                this.getVenues()
            }
        },500)
    },
    computed:{
        categoryArray(){
            return JSON.parse("[" + this.categories + "]")
        },
        clearShowing(){
            if( this.categories.length > 0){
                return true
            }
        }
    },
    methods:{

         setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.locationsearch = geolocation.formatted_address
            this.venues = []
            this.getVenues()
        },

        distanceChanged(e){
            this.distance = e.distance
        },

        getVenueSearchData(e){
            this.latitude = e.latitude
            this.longitude = e.longitude
            this.locationsearch = e.name
            this.distance = e.distance
            this.venue_id = e.venue_id
            this.venues = []
            this.getVenues()
        },
        cleaVenueSearch(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.venue_id = ""
            this.venues = []
            this.getVenues()
        },

        scroll () {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 400 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.venues = []
            this.getVenues()
        },


        //Get venues
        getVenues(link = null){

            this.loadingContent = true
            this.noData = false

            axios.post(link ? link : '/venue/list',{
                    categories: this.categoryArray ? this.categoryArray : "",
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance,
                    capacity: this.capacity,
                    venue_id: this.venue_id
                })
                .then( response => {
                    if(link){
                        response.data.data.map( e => {
                            this.venues.push(e)
                        })
                    }else{
                        this.venues = {}
                        this.venues = response.data.data
                    }

                    if(undefined  !== response.data.data.length){
                        if(response.data.data.length < 1){
                           this.noData = true;
                        }
                    }
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Name
        searchNameSubmit(){
            this.venues = {}
            this.loadingContent = true

            axios.post('/venue/list',{
                    search: this.searchName,
                    location: this.searchLocation
                },
                )
                .then( response => {
                    this.venues = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Search Supplier
        searchSupplierSubmit(){
            this.venues = {}
            this.loadingContent = true
            axios.post('/venue/list',{
                    supplier: this.supplierName
                },
                )
                .then( response => {
                    this.venues = response.data.data
                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // Load more Button
        loadMore(){
            this.getVenues(this.links.next);
        },

        //Clear Categories
        clearCategories(){
            this.categories = []
            this.capacity =  50
        },

        // category Cater
        getEventTypes(){
            axios.get('/api/category?type=cater')
                .then( response => {
                    this.event_types = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Venue Type
        getVenueTypes(){
            axios.get('/api/category?type=venue_type')
                .then( response => {
                    this.venue_types = response.data.list.map(e => {
                        return {
                            'id': e.id,
                            'name' : e.name,
                            'checked': false
                        }
                    })
                    if(this.defaultCategory != ""){
                        this.categories = [this.defaultCategory]
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Catering Option
        getCateringOptions(){
            axios.get('/api/category?type=catering_option')
                .then( response => {
                    this.catering_options = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Beverage Option
        getBeverageOptions(){
            axios.get('/api/category?type=beverage_option')
                .then( response => {
                    this.beverage_options = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Amenities
        getAmenities(){
            axios.get('/api/category?type=amenity')
                .then( response => {
                    this.amenities = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },

        // category Cost Per Head
        getCostPerHeads(){
            axios.get('/api/category?type=average_cost_per_head')
                .then( response => {
                    this.costPerHeads = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }
}
</script>
<style lang="scss" scoped>

    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;

        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px;
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>
