<template>
    <div>
        <input type="hidden" name='type' value="candleware">
        <div class="mb-4 mt-3">  
            <div class="form-group">
                <label class="small-text-space icon">* Candleware Name</label>
                <small id="passwordHelpBlock" class="form-text small-text-space text-orange">
                    This will help us better identify the 3D item
                </small>              
            </div>
            <input type="text" name="name" required placeholder=" Candleware name" class="form-control">
        </div>
        <div class="row">
            <!-- First Col -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="small-text-space icon">* Candleware measurement</label>                                
                </div>

                <div class="row">
                    <div class="measurement-3d2">
                        <ul class="measurement-3d-list3">
                            <li>Height</li>
                            <li><input type="text" required name="height_measurement_amount" class="form-control" style="height: 32px;" ></li>
                            <li>
                                <select required name="height_measurement" class="form-control" style="height: 32px;">
                                    <option>m</option>
                                    <option>cm</option>                                
                                </select>
                            </li>
                        </ul>

                        <ul class="measurement-3d-list3">
                            <li>Diameter</li>
                            <li><input type="text" required name="diameter_measurement_amount" class="form-control" style="height: 32px;" ></li>
                            <li>
                                <select required name="diameter_measurement" class="form-control" style="height: 32px;">
                                    <option>m</option>
                                    <option>cm</option>                                
                                </select>
                            </li>
                        </ul>
                    </div>  
                </div>                
                <hr class="hr-3d">

                <div class="form-group input-3d-file-height">
                    <label class="small-text-space icon">* Front view photo</label>
                    <small id="passwordHelpBlock" class="form-text small-text">
                        1 HD photo
                    </small>              
                </div>                
                <div class="form-group">                    
                    <input type="file" name="front_view_photo" required class="form-control-file">
                </div>
                <hr class="hr-3d">
            </div>

            <!-- 2nd Col -->
            <div class="col-lg-6">
                <div class="form-group input-3d-file-height">
                    <label class="small-text-space icon">* Side view photo</label>
                    <small id="passwordHelpBlock" class="form-text small-text">
                        1 HD photo
                    </small>              
                </div>
                <div class="form-group">                    
                    <input type="file" class="form-control-file" required name="side_view_photo">
                </div>
                <hr class="hr-3d">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>

    label {
        font-weight: bold;
    }
    
    .btn-3d {
            background: #F29833;
            border: 1px solid #F29833;
            color: #fff;
            border-radius: 41px;
            padding: 5px 26px;
            margin-top: 26px;
       }

       .form-3d {
            padding-bottom: 60px;
        }

        .row-space-3d {
            padding-top: 30px;
        }

        .hr-3d {
            border-top: 1px solid #707070;
        }

        .small-text-space {
            margin-top: 0;
            margin-bottom: 0;
        }

        .small-text {
            margin-top: 0; 
            font-size: 12px; 
            color: #f29833;
        }

        .measurement-3d {
            display: grid;
            grid-gap: 13px;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
            padding: 0 28px;
        }

        .measurement-3d-list {
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            list-style: none; 
            grid-gap: 10px; 
            margin: 0; 
            align-items: center;
        }

        .measurement-3d2 {
            display: grid;
            grid-gap: 13px;
            width: 100%;
            grid-template-columns: 1fr; padding: 0 28px;
        }

        .measurement-3d-list2 {
            display: grid; 
            grid-template-columns: 150px 70px 70px; 
            list-style: none; 
            grid-gap: 11px; 
            margin: 0; 
            align-items: center; 
            justify-content: start;
        }

        .measurement-3d-list3 {
            display: grid; 
            grid-template-columns: 70px 70px 70px; 
            list-style: none; 
            grid-gap: 11px; 
            margin: 0; 
            align-items: center; 
            justify-content: start;
        }

        .input-3d-file-height {
            min-height: 72px;
        }

</style>