<template>
    <div>
        <input type="hidden" name='type' value="event-space">
        <div class="mb-3 mt-3">  
            <div class="form-group">
                <label class="small-text-space icon">* Event Space Name</label>
                <small id="passwordHelpBlock" class="form-text small-text-space text-orange">
                  This will help us better identify the 3D items.
                </small>              
            </div>
            <input type="text" name="name" required placeholder=" Event Space name" class="form-control">
        </div>
        <div class="row">
            <!-- First Col -->
            <div class="col-lg-6">
                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">* Floor Plan</label>
                        <small id="passwordHelpBlock" class="form-text small-text text-orange">
                            (Complete measures of width and length area, as well as wall's height and door's height)
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" name="floor_plan" required class="form-control-file">                                       
                    </div>
                </div>
                <hr class="hr-3d">

                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">* 4 Sides photos of the venue</label>
                        <small id="passwordHelpBlock" class="form-text small-text text-orange">
                            Front, back,left, and right sides - HD quality
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" class="form-control-file" name="side_photos[]" multiple>
                    </div>
                </div>
                <hr class="hr-3d">

                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">* Different Angles of Ceiling Photo</label>
                        <small id="passwordHelpBlock" class="form-text small-text text-orange">
                            At least 3 different HD Photos
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" required name="cieling_angle_photos[]" multiple class="form-control-file">
                    </div>
                </div>
                <hr class="hr-3d">
            </div>

            <!-- 2nd Col -->
            <div class="col-lg-6">
                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">* Floor Photo</label>
                        <small id="passwordHelpBlock" class="form-text small-text text-orange">
                            1 HD quality
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" name="floor_photo" class="form-control-file" required>
                    </div>
                </div>
                <hr class="hr-3d">

                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">* Ceiling Photo</label>
                        <small id="passwordHelpBlock" class="form-text small-text-space text-orange">
                            1 HD quality
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" name="ceiling_photo" required class="form-control-file">
                    </div>
                </div>
                <hr class="hr-3d">
                
                <div class="mb-4 mt-4">
                    <div class="form-group">
                        <label class="small-text-space icon">Video with all sides covered</label>
                        <small id="passwordHelpBlock" class="form-text small-text text-orange">
                            1 HD front, back, left, right, top and bottom of the venue (Optional)
                        </small>              
                    </div>
                    <div class="form-group">                    
                        <input type="file" name="video" class="form-control-file">
                    </div>
                </div>
                <hr class="hr-3d">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    label {
        font-weight: bold;
    }
    
    .btn-3d {
        background: #F29833;
        border: 1px solid #F29833;
        color: #fff;
        border-radius: 41px;
        padding: 5px 26px;
        margin-top: 26px;
    }

    .form-3d {
        padding-bottom: 60px;
    }

    .row-space-3d {
        padding-top: 30px;
    }

    .hr-3d {
        border-top: 1px solid #707070;
    }

    .small-text-space {
        margin-top: 0;
    }

    .small-text {
        margin-top: 0; 
        font-size: 12px; 
        color: #f29833;
    }
</style>