<template>
  <div>
        <input type="hidden" name='type' value="quick-form"> 
          <div class="mb-4 mt-3">  
            <div class="form-group">
                <label class="small-text-space icon">* Product Name</label>
                <small class="form-text small-text-space text-orange">
                    This will help us better identify the 3D item
                </small>              
            </div>
            <input type="text" name="name" required placeholder=" Product name" class="form-control">
        </div>   
     
        <div class="form-group">
            <label class="small-text-space icon">* Product Type</label>                                
        </div>
            <div class="form-group">                    
            <select type="text" name="product_type" required placeholder=" Product name" class="form-control">
                <option value="EventSpace">Event Space</option>
                <option value="Furniture">Furniture</option>
                <option value="Candleware">Candleware</option>
                <option value="Glassware">Glassware</option>
                <option value="Chandelier">Chandelier</option>
                <option value="Tableware">Tableware</option>
            </select>
        </div>
                    

        <div class="form-group input-3d-file-height">
            <label class="small-text-space icon">* Product images</label>
            <small class="form-text small-text">
                Any images that can help us to visualize more about the product.
            </small>              
            <div class="form-group mt-2">                    
                <input type="file" required name="images[]" multiple class="form-control-file">
            </div>
        </div>
        
  </div>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
 

    label {
        font-weight: bold;
    }

    .btn-3d {
        background: #F29833;
        border: 1px solid #F29833;
        color: #fff;
        border-radius: 41px;
        padding: 5px 26px;
        margin-top: 26px;
    }

    .form-3d {
        padding-bottom: 60px;
    }

    .row-space-3d {
        padding-top: 30px;
    }

    .hr-3d {
        border-top: 1px solid #707070;
    }

    .small-text-space {
        margin-top: 0;
        margin-bottom: 0;
    }

    .small-text {
        margin-top: 0; 
        font-size: 12px; 
        color: #f29833;
    }

    .measurement-3d {
        display: grid;
        grid-gap: 13px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        padding: 0 28px;
    }

    .measurement-3d-list {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        list-style: none; 
        grid-gap: 10px; 
        margin: 0; 
        align-items: center;
    }

    .measurement-3d2 {
        display: grid;
        grid-gap: 13px;
        width: 100%;
        grid-template-columns: 1fr; padding: 0 28px;
    }

    .measurement-3d-list2 {
        display: grid; 
        grid-template-columns: 150px 70px 70px; 
        list-style: none; 
        grid-gap: 11px; 
        margin: 0; 
        align-items: center; 
        justify-content: start;
    }

    .measurement-3d-list3 {
        display: grid; 
        grid-template-columns: 70px 70px 70px; 
        list-style: none; 
        grid-gap: 11px; 
        margin: 0; 
        align-items: center; 
        justify-content: start;
    }

    .input-3d-file-height {
        min-height: 72px;
    }

</style>