<template>
    <div>
         <div class="input-box" v-show="toggleInput">
            <div style='position:relative'>
                <input type="text" ref="searchinput" autocomplete="off" placeholder=" search venue.." :class="styleclass" @keypress.13.prevent="getSelected"  @keydown.38.prevent="upSelection" @keydown.40.prevent="downSelection" v-model="venuesearch">
                <a href="#" @click.prevent="clear()" style="position:absolute; right:15px; top:8px">
                    <i class="fa fa-remove text-muted" ></i>
                </a>
            </div>
            <ul class="results" v-if='searchResults.length > 0'>
                <li  v-for="(venue, index) in searchResults" :key="index" v-on:click="getSelected(index)" :class="{ active: selectedIndex == index, database : venue.type == 'database'}"  >
                    <i class="fa fa-map-marker"></i> <label for=""> {{ venue.name }}</label> 
                </li>
            </ul>
        </div>
        <input class="form-control" 
            :class="styleclass" autocomplete="off" 
            :required="standalone == 'yes'"  
            @keyup="inputClick()" 
            @click="inputClick()" 
            v-model="location"
        >

        <div v-if="selectedItem">
            <input type="hidden" name="venue_id" v-if="venuetype == 'database'"  v-model="venue_id">
            <input type="hidden" name="location"  v-if="venuetype == 'google'"  v-model="location">
            <input type="hidden" name="latitude"  v-if="venuetype == 'google'" v-model="latitude">
            <input type="hidden" name="longitude"  v-if="venuetype == 'google'" v-model="longitude">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        api:{
            // default : 'AIzaSyDkFCsuJHzRg-6TQAEiFYgY6dDl_FSgmhI',
            default : 'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak',
            type: String
        },
        styleclass:{
            default: 'form-control form-control-sm',
            type: String
        },
        standalone:{
            type: String,
            default: 'no'
        },
        defaultlocation:{
            type: String,
            default:''
        },

        defaultlatitude:{
            type: String,
            default:''
        },
        defaultlongitude:{
            type: String,
            default:''
        },
        defaultvenueid:{
            type: String,
            default:''
        },
       
    },

    data(){
        return {
            searchResults: [],
            selectedItem: {},
            venuesearch: '',
            selectedIndex: -1,
            toggleInput: false,

            location: this.defaultlocation,
            latitude: this.defaultlatitude,
            longitude: this.defaultlongitude,
            venue_id : this.defaultvenueid,

            databaseResults : [],
            goggleResults: [],
            venuetype: this.defaultvenueid != ''  ?  'google' : 'database'
            
        }
    },
    watch:{
        venuetype(){
            console.log(this.venuetype)
        },
        venuesearch: _.debounce(function(){
            this.searchResults = []

            // from database
            this.getDbResult()

            // fron google
            this.getGoogleResult()

            if(this.databaseResults.length > 0 ){
                this.searchResults = this.databaseResults
            }else{
                this.searchResults = this.goggleResults
            }
        }, 200)
    },
     methods:{

         getDbResult(){
              axios.post("/api/getvenuesearch",
                {
                    search: this.venuesearch
                })
                .then( response => {
                    this.databaseResults = response.data.map( (e) => {
                        return {
                            type: "database",
                            name: e.name,
                            id: e.id
                        }
                    })

                    // console.log("db:" + this.databaseResults)
                })
                .catch( error => {
                    console.log(error)
                })
         },
         getGoogleResult(){
            axios.get("/api/google/place/autocomplete/json",
                {
                    params: {
                        input: this.venuesearch,
                        // components: 'country:au'
                    } 
                }
                )
                .then( response => {
                    this.goggleResults = response.data.predictions.map( (e) => {
                        return {
                            type: "google",
                            name: e.description,
                            place_id: e.place_id,
                        }
                    })
                })
                .catch( error => {
                    console.log(error)
                })
         },

         inputClick(){
             this.toggleInput = !this.toggleInput;
             setTimeout(function(){
                 this.$refs.searchinput.focus();
             }.bind(this),80)
         },

        clear(){
            this.toggleInput = false,
            // this.location = ''
            this.$emit('clear');
        },
         getSelected(index = null){
             if(index){
                 var selected = this.searchResults[this.selectedIndex];
            }else{
                var selected = this.searchResults[index];
            }

            this.selectedItem = selected;

            if(selected){
                this.location = selected.name
                this.searchResults = []
                this.toggleInput = !this.toggleInput;

                if(selected.type == "database"){
                    this.venue_id = selected.id
                    this.venuetype = "database"
                    this.$emit('selected',{
                        id: selected.id,
                        name: selected.name,
                    })
                }else{
                    this.venuetype = "google"
                    axios.get("/api/google/place/details/json",
                            {
                                params: {
                                    place_id: selected.place_id,
                                } 
                            }
                        )
                        .then( response => {
                            console.log(response.data.result.geometry.location)
                            this.latitude = response.data.result.geometry.location.lat
                            this.longitude = response.data.result.geometry.location.lng

                        })
                        .catch(error => {
                            console.log(error)
                    })
                }
              
                this.venuesearch = ''
               
            } 
        },

        upSelection(){
            if(this.selectedIndex == 0){
                return
            }else{
                this.selectedIndex -= 1;
            }
        },

        downSelection(){
             if(this.selectedIndex > this.searchResults.length - 1){
                return
            }else{
                this.selectedIndex += 1;
            }
        },
    
     }
}
</script>

<style scoped>


    div{
        position: relative;

       
    }

    .input-box{
        position: absolute;
        position: absolute;
        background-color:#fff;
        border:1px solid #ccc;
        width: 100%;
        list-style-type: none;
        padding-left: 0px;
        border-radius: 3px;
        z-index: 9999;
    }

    .results{
        background-color:#fff;
        overflow: auto;
        width: 100%;
        list-style-type: none;
        padding-left: 0px;
    }

    .results li{
        padding: 5px 5px 3px 10px;
        cursor: pointer;
        color: #827b7b;
    }

    .results .database{
        color: #f39c12;
    }

    .results li.active{
        background-color:#ccc;
    }

    .results li:hover{
        background-color:#ccc;
    }
    
</style>