<template>
    <div>
        <div class="row">
            <div class="col-sm-9">
                <div class="group-button-div">
                    <button type="button" class="btn btn-secondary capitalize" @click="changedataCategory('profile')"  :class="{'active': dataCategory == 'profile'}">
                            <div class="img-wrapper">
                            <img :src="'/dashboard/img/statistics/profile.png'"> 
                            <span class="title">
                                Profile
                            </span>  
                            </div>
                    </button>
                    <button type="button" v-for="module in modules" :key="module.id" @click="changedataCategory(module.name)"  class="btn btn-secondary capitalize" :class="{'active': dataCategory == module.name}">
                        <div class="img-wrapper">
                            <img :src="'/dashboard/img/statistics/' + module.name + '.png'">
                            <span class="title">
                                {{ module.name }}
                            </span> 
                        </div>
                    </button>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-6 " v-for="(componentsItem, index) in componentsItems" @click="changeSelectedCompomentItem(index)" :key="componentsItem.id">
                                <button class="component-box btn-block" :class="{'btn-warning' : index == selectedComponentItem }"   >
                                    <div class="title">
                                        {{ componentsItem.label }}
                                    </div>
                                    <div class="icon">
                                        <i :class="componentsItem.icon"></i> <br>
                                    </div>
                                    <div class="count">
                                    {{ componentsItem.count }}
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="box-white">
                            <div class="row mb-3">
                                <div class="col-xs-3">
                                    <span v-show="loadingData">
                                    <i class="fa fa-spin fa-spinner"></i> Loading data...
                                    </span>
                                </div>
                                <div class="col-xs-3"></div>
                                <div class="col-xs-3">
                                    <select name="month" id="" @change="requestData()" v-model="month" class="form-control">
                                        <option value="01">January</option>
                                        <option value="02">Febuary</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select name="year" @change="requestData()" v-model="year" class="form-control">
                                        <option :value="year" v-for="year in years" :key="year">{{ year }}</option>
                                    </select>
                                </div>
                            </div>
                            <canvas id="areaChart" ref="chartContainer"></canvas>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-white" v-if="summaries.length">
                    <div for="">Total Post Summary</div>
                    <br>
                    <div class='summary-list'>
                        <div class="item" v-for="summary in summaries" :key="summary.id">
                            <div class="thumbnail-box">
                                <img :src="summary.thumbnail" alt="">
                            </div>
                            <div class="title">{{ summary.name }}</div>
                            <div class="information">
                                <div class="icons">
                                    <div class="icon" v-for="component in summary.components" :key="component.name">
                                        <i :class="component.icon"></i>
                                        {{ component.counts }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
export default {
    data(){
        return{
            dataCategory:'profile',
            componentsItems: [],
            year: '',
            month:'',
            responseData: [],
            selectedComponentItem: 0,
            loadingData: false,
            years: [],
            summaries: [],

            modules: []
        }
    },
    created(){
        axios.post('/dashboard/profile/modules')
            .then( response => {
                this.modules = response.data
            })
            .catch(error => {
                console.log(error)      
            })
    },
    mounted(){
        this.requestData()
    },
    watch:{
    
        responseData(){
            this.selectedComponentItem = 0
            this.createChart(this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.date), this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.mobile), this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.web))
        },

        selectedComponentItem(){
            this.createChart(this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.date), this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.mobile), this.responseData.stats[Object.keys(this.responseData.stats)[this.selectedComponentItem]].map(e => e.web))
        }
        
    },
    methods:{
        changedataCategory(data){
            this.dataCategory = data
            this.requestData()
        },
        changeSelectedCompomentItem(index){
            this.selectedComponentItem = index;
        },
        
        requestData(){
            this.loadingData = true
            axios.get('/dashboard/home',
                {
                    params:{
                        datacategory: this.dataCategory,
                        month: this.month,
                        year: this.year
                    }
                })
                .then( response => {
                    this.responseData = response.data
                    this.componentsItems = response.data.components
                    this.summaries = response.data.summary ? response.data.summary : []
                    console.log(this.summary)
                    this.month = response.data.month
                    this.year = response.data.year
                    this.years = response.data.years
                    this.loadingData = false
                })
                .catch( error => {
                    this.loadingData = false
                    console.log(error)
                })
        },


        createChart(labels, mobileDate, webData){
            var areaChartData = {
                labels  : labels,
                datasets: [
                    {
                        label               : 'Mobile',
                        backgroundColor     : '#f39c12',
                        strokeColor         : 'rgba(60,141,188,0.8)',
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                : mobileDate
                    },
                    {
                        label               : 'Web',
                        backgroundColor     : 'rgba(214, 214, 214, 1)',
                        strokeColor         : 'rgba(210, 214, 222, 1)',
                        pointColor          : 'rgba(210, 214, 222, 1)',
                        pointStrokeColor    : '#c1c7d1',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data                : webData
                    },
                ]
            }

            new Chart(this.$refs.chartContainer, {
                type:'line',
                data: areaChartData,
                options: {
                    datasetStroke: true,
                    bezierCurve: true,
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                                beginAtZero: true
                            },
                            ticks: {
                                display: true,
                                beginAtZero: true
                            }   
                        }]
                    }
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .group-button-div{
        background-color:#fff;
        border-radius: 15px;
        display:flex;
        align-items: center;
        justify-content: center;

            button{
                padding:40px;
                // background-color:transparent;
                background-color:#fff;
                width:100%;
                flex:1;
                border-radius: 0px;
                
                &.active{
                    outline: none;
                    box-shadow:none;
                    background-color:#dedede;
                }

                &:focus{
                    outline: none;
                    box-shadow:none;
                }

                &:last-child{
                    border-radius: 0px 15px 15px 0px;
                }
                
                &:first-child{
                    border-radius: 15px 0px 0px 15px;
                }

                .img-wrapper{
                    background-color:#f39c12;
                    padding:7px 10px 10px 10px;
                    border-radius: 60px;
                    width: 60px;
                    height: 60px;

                    img{
                        width:40px;
                        margin-right:15px;
                    }

                    .title{
                        margin-top:15px;
                        font-size:24px;
                    }
                }
            }
    }

    .capitalize {
        text-transform: capitalize;
    }

    .box-white{
        background-color:#fff;
        padding:20px;
        border-radius: 15px;
    }

    .component-box{
        background-color:#fff;
        display: block;
        border:none;
        padding:10px;
        text-align: left;
        border-radius: 10px;
        margin-bottom: 20px;

        &.active{
            outline: none;
            box-shadow:none;
            background-color:#f39c12;
        }

        &:focus{
            outline: none;
            box-shadow:none;
        }
        &.btn-warning{
            background:#f39c12;
        }

        .icon{
            font-size:36px;
        }

        .count{
            font-size:24px;
            border-top: 2px solid #eae7e7;
            font-weight: bold;
        }
    }

    .summary-list{
        .item{
            display:flex;
            align-items: center;
            margin-bottom: 10px;

            .thumbnail-box{
                width: 64px;
                padding-right:10px;
            
                img{
                    height: 64px;
                    width: 64px;
                    border-radius: 10px;
                }
            }
            
            .title{
                flex:3;
                padding-left:5px;
            }

            .information{
                flex:2;
            }
            
        }
    }
    
    .icons{
        display: flex;
        .icon{
            flex:1;
            text-align: center;

            i{
                display:block;
                color:#f39c12;
                font-size:16px;
            }
        }
    }
</style>