<template>
  <div> 
        
        <div class="text-right mb-3" >
            <a href="#"  @click.prevent="toEditMode()" v-if="hide" class="text-orange"><i class="fa fa-pencil"></i> Edit Address</a>
            <a href="#"  @click.prevent="toEditMode()" v-if="!hide" class="text-orange"><i class="fa fa-close"></i> Close Edit Address</a>
            
        </div>
        <!-- <div v-show="editMode">
            <div class="results">
                <div class="search-result">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <input type="text" ref='searchInput' autocomplete="off" placeholder=" search your address" v-model='locationSearch' class="form-control mt-2">
                            </p>
                            <div class="text-center mt-3" v-show="loadingSearch" >
                                <img src="/images/loadings/image-loading.gif" alt="">
                            </div>
                             <div v-for="(locationResult, index) in locationResults.results" :key='index' class="location-search-results" @click="loadMap(locationResult)">
                                <label>{{ locationResult.formatted_address }}</label> <br>
                                {{ getTown(locationResult.address_components) ? getTown(locationResult.address_components) + ', ' : '' }} 
                                {{ getState(locationResult.address_components) ? getState(locationResult.address_components) + ', ' : '' }} {{ getCountry(locationResult.address_components) }} <br>
                                <span class="text-muted">Postal Code: {{ getPostalCode(locationResult) }} <br> {{ locationResult.geometry.location.lat }}, {{ locationResult.geometry.location.lng }}</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div v-show="hasSelectedLocation">
                                <GmapMap
                                    :center="selectedLatLong"
                                    :zoom="13"
                                    map-type-id="roadmap"
                                    style="width: 100%; height:400px"
                                    :options="{
                                        zoomControl: true,
                                        gestureHandling: false,
                                        scaleControl: false,
                                        streetViewControl: false,
                                        rotateControl: false,
                                        fullscreenControl: true,
                                        disableDefaultUi: false
                                    }"
                                >
                                <GmapMarker
                                    :position="selectedLatLong"
                                />
                                </GmapMap>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <!-- <input type="hidden" name="latitude" v-model="data_latitude">
            <input type="hidden" name="longitude" v-model="data_longitude"> -->
            <form @submit.prevent="update">
                <div class="col-sm-6">
                    <p>
                        <div class="text-muted" for="">Town *</div>
                        <input type="text" required class="form-control" name="town" v-bind:readonly="is_readonly" v-model="data_town">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <div class="text-muted" for="">State *</div>
                        <input type="text" required class="form-control" name="state" v-bind:readonly="is_readonly" v-model="data_state">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <div class="text-muted" for="">Country *</div>
                        <input type="text" required class="form-control" name="country" v-bind:readonly="is_readonly" v-model="data_country">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <div class="text-muted" for="">Post Code *</div>
                        <input type="text" required class="form-control" name="post_code" v-bind:readonly="is_readonly" v-model="data_post_code">
                    </p>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary pull-right" v-if="!hide" @click="update">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
  </div>
</template>

<script>
export default {
    props:[
        'town', 'state', 'country', 'post_code', 'latitude', 'longitude'
    ],
    data(){
        return {
            is_readonly : true,
            hide: true,
            //variable 
            data_town: this.town,
            data_state: this.state,
            data_country: this.country,
            data_post_code: this.post_code,
            // data_latitude: this.latitude,
            // data_longitude: this.longitude,
        }
    },
    methods:{

        toEditMode(){
            // this.editMode = !this.editMode
            if (this.is_readonly) {
                    this.is_readonly = false;
                    this.hide = false;
                } else {
                    this.is_readonly = true;
                    this.hide = true;
                }
            
        }, 

        update() {            
            axios.post('/api/profile/update',{
                headers: { 'Authorization' : 'Bearer '+ token},
                town        : this.town,
                state       : this.state,
                country     : this.country,
                post_code   : this.post_code,
            })
            .then(res=> {
                    this.is_readonly = false;
                    this.hide = false;
                    console.log(res)
            })
            .catch(e=>console.log(e));


        
        },

       
    },
    // watch:{
        
    // }

}
</script>

<style scoped lang="scss">
    .results{
        min-height: 250px;
    }
    
    .location-search-results{
       &.active{
           outline: 1px solid blue;
       }

       padding:10px 5px 10px 10px;
       cursor: pointer;
       border:1px solid rgb(241, 241, 241);
       margin-bottom: 5px;

       label{
           margin-bottom:0px;
       }

    }
</style>