<template>
  <div> 
        
        <div class="text-right mb-3" >
            <a href="#" v-show="!editMode"  @click.prevent="toEditMode()" class="text-orange"><i class="fa fa-pencil"></i> Edit Address</a>
            <span v-show="editMode" > 
                <a href="#" class="btn btn-sm btn-warning" @click.prevent="selectLocation()" v-show="hasSelectedLocation">Select Location</a>
                <a href="#"  @click.prevent="editMode = !editMode" class="text-orange mb-3"><i class="fa fa-ban"></i> Cancel</a>
            </span>
        </div>
        <div v-show="editMode">
            <div class="results">
                <div class="search-result">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <input type="text" ref='searchInput' autocomplete="off" placeholder=" search your address" v-model='locationSearch' class="form-control mt-2">
                            </p>
                            <div class="text-center mt-3" v-show="loadingSearch" >
                                <img src="/images/loadings/image-loading.gif" alt="">
                            </div>
                             <div v-for="(locationResult, index) in locationResults.results" :key='index' class="location-search-results" @click="loadMap(locationResult)">
                                <label>{{ locationResult.formatted_address }}</label> <br>
                                {{ getTown(locationResult.address_components) ? getTown(locationResult.address_components) + ', ' : '' }} 
                                {{ getState(locationResult.address_components) ? getState(locationResult.address_components) + ', ' : '' }} {{ getCountry(locationResult.address_components) }} <br>
                                <span class="text-muted">Postal Code: {{ getPostalCode(locationResult) }} <br> {{ locationResult.geometry.location.lat }}, {{ locationResult.geometry.location.lng }}</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div v-show="hasSelectedLocation">
                                <GmapMap
                                    :center="selectedLatLong"
                                    :zoom="13"
                                    map-type-id="roadmap"
                                    style="width: 100%; height:400px"
                                    :options="{
                                        zoomControl: true,
                                        gestureHandling: false,
                                        scaleControl: false,
                                        streetViewControl: false,
                                        rotateControl: false,
                                        fullscreenControl: true,
                                        disableDefaultUi: false
                                    }"
                                >
                                <GmapMarker
                                    :position="selectedLatLong"
                                />
                                </GmapMap>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-show="!editMode">
            <input type="hidden" name="latitude" v-model="data_latitude">
            <input type="hidden" name="longitude" v-model="data_longitude">
            <div class="col-sm-6">
                <p>
                    <div class="text-muted" for="">Town *</div>
                    <input type="text" required class="form-control" name="town" readonly v-model="data_town">
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <div class="text-muted" for="">State *</div>
                    <input type="text" required class="form-control" name="state" readonly v-model="data_state">
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <div class="text-muted" for="">Country *</div>
                    <input type="text" required class="form-control" name="country" readonly v-model="data_country">
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <div class="text-muted" for="">Post Code *</div>
                    <input type="text" required class="form-control" name="post_code" v-model="data_post_code">
                </p>
            </div>
        </div>
  </div>
</template>

<script>
export default {
    props:[
        'town', 'state', 'country', 'post_code', 'latitude', 'longitude'
    ],
    data(){
        return {
            locationSearch: '',
            locationResults: [],
            editMode: false,
            loadingSearch: false,
            selectedLatLong:{lat:-33.8688197, lng:151.2092955},
            selectedLocation: [],
            hasSelectedLocation:false,

            //variable 
            data_town: this.town,
            data_state: this.state,
            data_country: this.country,
            data_post_code: this.post_code,
            data_latitude: this.latitude,
            data_longitude: this.longitude,
        }
    },
    methods:{
        loadMap(data){
            this.selectedLatLong = {lat:data.geometry.location.lat, lng: data.geometry.location.lng}
            this.selectedLocation = data
            this.hasSelectedLocation = true
        },

        selectLocation(){
            this.data_longitude = this.selectedLocation.geometry.location.lng
            this.data_latitude = this.selectedLocation.geometry.location.lat
            this.data_town = this.getTown(this.selectedLocation.address_components)
            this.data_state = this.getState(this.selectedLocation.address_components)
            this.data_country = this.getCountry(this.selectedLocation.address_components)
            this.data_post_code = this.getPostalCode(this.selectedLocation)
            this.editMode = !this.editMode
        },

        toEditMode(){
            this.editMode = !this.editMode
            this.$refs.searchInput.focus()
        }, 

        getTown(data){
            //locality
            var town = '';
            for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "locality"){
                        town = data[i].long_name
                        break;
                    }
                }
            }

            return town
        },

        getState(data){
            //administrative_area_level_1
            var state = '';
              for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "administrative_area_level_1"){
                        state = data[i].long_name
                        break;
                    }
                }
            }

            return state
        },

        getCountry(data){
            //country
            var country = '';
             for(var i = 0; data.length > i; i++){
                for(var t = 0; data[i].types.length > t; t++){
                    if(data[i].types[t] == "country"){
                        country = data[i].long_name
                        break;
                    }
                }
            }

            return country
        }, 

        getPostalCode(data){
            //postalCode
            var postalCode = '';
            var addressComponents = data.address_components
             for(var i = 0; addressComponents.length > i; i++){
                for(var t = 0; addressComponents[i].types.length > t; t++){
                    if(addressComponents[i].types[t] == "postal_code"){
                        postalCode = addressComponents[i].long_name
                        break;
                    }
                }
            }

            if(postalCode){
                return postalCode
            }else{
                axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/autocomplete/json",
                    {
                        params: {
                            latlng: data.geometry.location.lat +','+ data.geometry.location.lng,
                            key:'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak'
                        } 
                    }
                )
                .then( response => {
                    var result = response.data.results[0].address_components
                     for(var i = 0; result.length > i; i++){
                        for(var t = 0; result[i].types.length > t; t++){
                            if(result[i].types[t] == "postal_code"){
                                postalCode = result[i].long_name
                                break;
                            }
                        }
                    }

                    return postalCode
                })
                .catch( error => {
                    console.log(error)
                })
            }
        }
        
    },
    watch:{
        locationSearch: _.debounce(function(){
            this.loadingSearch = true
            this.locationResults = []
            axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/autocomplete/json",
              {
                params: {
                    address: this.locationSearch,
                    key:'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak'
                } 
              }
            )
            .then( response => {
                this.locationResults = response.data
                this.loadingSearch = false
                // console.log(response.data)
            })
            .catch( error => {
                console.log(error)
            })

            
        }, 500)
    }

}
</script>

<style scoped lang="scss">
    .results{
        min-height: 250px;
    }
    
    .location-search-results{
       &.active{
           outline: 1px solid blue;
       }

       padding:10px 5px 10px 10px;
       cursor: pointer;
       border:1px solid rgb(241, 241, 241);
       margin-bottom: 5px;

       label{
           margin-bottom:0px;
       }

    }
</style>