<template>
    <div>
        <div class="text-center p-5" v-if="noData">
            <img src="/images/placeholders/no-data.png" alt="">    
            <h3 class="text-muted">
                No Inspiration Found
            </h3>
        </div>
        <div class="inspiration-gallery-selector" v-for="inspiration in list" :key="inspiration.id">
            <RowComponent :inspiration="inspiration" :project="project" />
        </div>
    </div>
</template>

<script>
import RowComponent from './RowComponent.vue';
export default {
    props: ['url', 'project'],
    components:{
        RowComponent
    },
    data(){
        return {
            list:[],
            noData: false,
            links: {},
            loadingContent: false,
        }
    },
    created(){
        this.getInspirations();
    },

    mounted() {
        this.scroll()
    },


    methods:{
        loadMore(){
            this.getInspirations(this.links.next);
        },

        scroll(){
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 900 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },
        
        getInspirations(link = null){
                this.noData = false
                this.loadingContent = true
                axios.get(link ? link : this.url)
                    .then(response => {
                        if(link){
                            if(response.data.data.length < 1){
                                this.noData = true;
                            }else{
                                response.data.data.map( e => {
                                    this.list.push(e)
                                })
                            }
                        }else{
                            this.list = response.data.data
                            if(response.data.data.length < 1){
                                this.noData = true;
                            }
                        }

                        this.links = response.data.links
                        this.loadingContent = false
                    })
                    .catch( error => {
                        console.log(error)
                    })

            }
        },
        
    }
</script>