<template>
    <div>
        <div class="row">
            <div class="col-sm-3">
                 <div class="item" v-for="image in inspiration.images" :style="`background-image: url(${image.path}); border-radius:10px;`" :key="image.id" >
                    <input type="checkbox" class="galleryCheckbox" @change="updateChecked(image)"  :value="image.id" v-model="image.selected">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RowComponent from './RowComponent.vue';
export default {
    props: ['url', 'project'],
    components:{
        RowComponent
    },
    data(){
        return {
            list:[]
        }
    },
    created(){
        this.getInspirations();
    },

    methods:{
        getInspirations(link = null){
            if(link){
                
            }else{
                axios.get(this.url)
                    .then(response => {
                        this.list = response.data.data
                    })
                    .catch( error => {
                        console.log(error)
                    })

            }
        }
    }
}
</script>