<template>
    <div class='d-inline-block'>
        <form method="post" action="#" @submit.prevent="send">
            <input type="email" v-model="email"  required placeholder="Enter Email" class="form-control pull-left btn-supplier">
            <button type="submit" class="btn" style="background-color: #000;
                color: #fff;
                margin-left: 10px;" :disabled="sending">
                    <span v-show="sending">
                        <i class="fa fa-spin fa-spinner"></i> Sending
                    </span> 
                    <span v-show="!sending">
                        Submit
                    </span>
            </button>
            <span class="text-success ml-3" v-show="showSuccess">
                <i class="fa fa-check text-success"></i> Email Sent!
            </span>
        </form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            email: '',
            sending: false,
            showSuccess: false
        }
    },
    methods:{
        send(){
            this.sending = true
            axios.post('/register-email', {email:this.email})
                .then(response => {
                    this.sending = false
                    this.email = ''
                    this.showSuccess = !this.showSuccess
                    setTimeout(()=>{
                        this.showSuccess = !this.showSuccess
                    }, 5000)
                })
                .catch( error => {
                    this.sending = false
                })
        }
    }
}
</script>

<style>

</style>