<template>
    <div>
         <div class="input-box" v-show="toggleInput">
            <div style='position:relative'>
                <input type="search" ref="searchinput" autocomplete="off" placeholder=" search location or venue.." :class="styleclass" @keypress.13.prevent="getSelected()"  @keydown.38.prevent="upSelection" @keydown.40.prevent="downSelection" v-model="venuesearch">
                <!-- <a href="#" @click.prevent="clear()" style="position:absolute; right:15px; top:8px">
                    <i class="fa fa-remove text-muted" ></i>
                </a> -->
            </div>
            <ul class="results" v-if='searchResults.length > 0'>
                <li v-for="(venue, index) in searchResults" :key="index" @click="getSelected(index)" :class="{ active: selectedIndex == index, database : venue.type == 'database'}"  >
                    <div>
                        <i class="fa fa-map-marker"></i>{{ venue.name }}
                    </div>
                </li>
            </ul>
        </div>
        <input class="form-control" :class="styleclass"  autocomplete="off" :required="standalone == 'yes'"  @keyup="inputClick()"  @click="inputClick()" v-model="location">
        <div v-if="showDistance">
            <p>
                <h5>Distance</h5>
                <select v-model="distance" class="form-control">
                    <option value="5">5 Kilometers</option>
                    <option value="10">10 Kilometers</option>
                    <option value="20">20 Kilometers</option>
                    <option value="50">50 Kilometers</option>
                </select>
            </p>
        </div>
        <div v-if="selectedItem">
            <input type="hidden" name="venue_id" v-if="venuetype == 'database'"  v-model="venue_id">
            <input type="hidden" name="location"  v-if="venuetype == 'google'"  v-model="location">
            <input type="hidden" name="latitude"  v-if="venuetype == 'google'" v-model="latitude">
            <input type="hidden" name="longitude"  v-if="venuetype == 'google'" v-model="longitude">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        api:{
            // default : 'AIzaSyDkFCsuJHzRg-6TQAEiFYgY6dDl_FSgmhI',
            default : 'AIzaSyBMnJ6SDTRTpOca3b0RD3VYGdgl_WWtuak',
            type: String
        },
        styleclass:{
            default: 'form-control form-control-sm',
            type: String
        },
        standalone:{
            type: String,
            default: 'no'
        },
        defaultlocation:{
            type: String,
            default:''
        },

        defaultlatitude:{
            type: String,
            default:''
        },
        defaultlongitude:{
            type: String,
            default:''
        },
        defaultvenueid:{
            type: String,
            default:''
        },
       
    },

    data(){
        return {
            searchResults: [],
            selectedItem: {},
            venuesearch: '',
            selectedIndex: 0,
            toggleInput: false,

            location: this.defaultlocation,
            latitude: this.defaultlatitude,
            longitude: this.defaultlongitude,
            venue_id : this.defaultvenueid,

            databaseResults : [],
            goggleResults: [],
            venuetype: this.defaultvenueid ? 'database' : 'google',
            distance: 10
            
        }
    },
    watch:{
        venuesearch: _.debounce(function(){
            this.selectedIndex =  0,
           
            // from database
            this.getDbResult()

            // fron google
            this.getGoogleResult()

            this.searchResults = [...this.databaseResults, ...this.goggleResults].sort().slice(0,5);

        }, 500),

        distance(){
            this.$emit('changedistance',{
                distance: this.distance
            })
        },
    },
    computed:{
        showDistance(){
            if(this.venuetype == "google"){
                return true;
            }

            return false
        }
    },
     methods:{

        async getDbResult(){
            await  axios.post("/api/getvenuesearch",
                {
                    search: this.venuesearch
                })
                .then( response => {
                    this.databaseResults = response.data.map( (e) => {
                        return {
                            type: "database",
                            name: e.name,
                            id: e.id,
                            is_establishment: true
                        }
                    })
                })
                .catch( error => {
                    console.log(error)
                })
         },

        async getGoogleResult(){
            await axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/autocomplete/json",
                {
                    params: {
                        input: this.venuesearch,
                        key: this.api,
                        types: ['establishment', 'address'],
                        components: 'country:au'
                    }
                })
                .then( response => {
                    this.goggleResults = response.data.predictions.map( (e) => {
                        return {
                            type: "google",
                            name: e.description,
                            place_id: e.place_id,
                            is_establishment: e.types.includes('"establishment"')
                        }
                    })
                })
                .catch( error => {
                    console.log(error)
                })
         },

         inputClick(){
             this.toggleInput = !this.toggleInput;
             setTimeout(function(){
                 this.$refs.searchinput.focus();
             }.bind(this),80)
         },

        clear(){
            this.toggleInput = false,
            this.location = ''
            this.venuesearch = ''
            this.$emit('clear');
        },
        
        getSelected(index = null){
            if(index){
                var selected = this.searchResults[index];
            }else{
                var selected = this.searchResults[this.selectedIndex];
            }

            this.selectedItem = selected;

            if(selected){
                this.location = selected.name
                this.searchResults = []
                this.toggleInput = !this.toggleInput;

                if(selected.type == "database"){
                    this.venue_id = selected.id
                    this.venuetype = "database"
                    this.$emit('selected',{
                        id: selected.id,
                        name: selected.name,
                        venue_id: selected.id
                    })
                }else{
                    this.venuetype = "google"
                    axios.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/details/json",
                            {
                                params: {
                                    place_id: selected.place_id,
                                    key: this.api,
                                } 
                            }
                        )
                        .then( response => {
                            this.latitude = response.data.result.geometry.location.lng
                            this.longitude = response.data.result.geometry.location.lat
                            
                            this.$emit('selected',{
                                id: 0,
                                name: selected.name,
                                latitude: this.latitude,
                                longitude: this.longitude,
                                distance: this.distance
                            })
                            
                        })
                        .catch(error => {
                            console.log(error)
                    })
                }
              
                this.venuesearch = ''
               
            } 
        },

        upSelection(){
            if(this.selectedIndex == 0){
                return
            }else{
                this.selectedIndex -= 1;
            }
        },

        downSelection(){
             if(this.selectedIndex > this.searchResults.length - 1){
                return this.selectedIndex = 0;
            }else{
                this.selectedIndex += 1;
            }
        },
    
     }
}
</script>

<style scoped lang="scss">

    div{
        position: relative;
    }
    
    select{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .input-box{
        position: absolute;
        position: absolute;
        background-color:#fff;
        /* border:1px solid #ccc; */
        width: 100%;
        list-style-type: none;
        padding-left: 0px;
        border-radius: 3px;
        z-index: 9999;
    }

    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .results{
        background-color:#fff;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
        overflow: auto;
  
        width: 100%;
        font-size:14px;
        list-style-type: none;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .results li{
        div{
            cursor: pointer;
        }

        color: #827b7b;
        font-size:12px;

        div{
            padding: 5px 5px 3px 10px;
            display:flex;

            i{
                margin-right:5px; 
                padding-top:3px;
            }

            label{
                 flex:1;
                text-align:left;
            }
        }
    }

    .results li.active{
        background-color:#ccc;
    }

    .results li:hover{
        background-color:#ccc;
    }
</style>