<template>
    <div class="tagged-decors mb-3">
        <div class="d-flex cursor-pointer" @click="isModalOpen = !isModalOpen">
            <div class="w-50 p-2">
                <div :style="backgroundCss" @click.native="isModalOpen = !isModalOpen" class="rounded">
                </div> 
                <!-- <img v-lazy="product.thumbnail"  @click.native="isModalOpen = !isModalOpen" class="mw-100 rounded" style="width:100%; cursor:pointer" alt=""> -->
            </div>
            <div class="w-50  align-self-center">
                <!-- <small>{{ optional($product->categories()->whereType('product_type')->first())->name }}</small> -->
                <b style='font-family: "Proxima Nova Bold";color: #5c5c5c;line-height:0.8em;'>
                    <small>
                        {{ product.name }}
                        <div><small>{{ product.product_type }}</small></div>
                    </small>
                </b>
            </div>
           
        </div>
        <hr>

         <div class="modal" v-if="product" :style="[isModalOpen ? {'display' : 'block'} : '']"  :id="modalId" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-full-width" role="document">
                <div class="modal-content modal-content-full-width">
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-8 col-sm-8">
                                <div class="product-gallery">
                                    <div class="main-image text-center align-items-center" :class="{'with-images' : product.gallery}">
                                        <img v-lazy="mainImage" class="mw-100 mh-100 center" alt="">
                                    </div>
                                    <div class="image-list p-2 d-flex justify-content-center align-items-center"  v-if="product.gallery">
                                        <div class="other-image">
                                            <img  v-lazy="product.thumbnail" @click="mainImage = product.thumbnail" alt="">
                                        </div>
                                        <div class="other-image" v-for="gallery in product.gallery" :key="gallery.id">
                                            <img  v-lazy="gallery.image" @click="mainImage = gallery.image" alt="">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-4 col-sm-4">
                            
                                <div class="product-information">
                                    <div class="supplier-box item p-3">
                                        <div class="text-right p-1 top-button-close-div">
                                            <button @click="isModalOpen = !isModalOpen" type="button" class='close-button' data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                        <div class="d-flex align-items-center align-self-center">
                                            <div class="">
                                                <img :src="product.company_thumbnail" class="rounded-circle" style="border:1px solid #e8e2e2; width:48px; height:48px" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <h5 class="m-0 company-name" style='font-size:14px'>
                                                   <a class="text-dark" :href="product.companyUrl">
                                                    {{ product.company }}
                                                    </a>
                                                </h5>
                                                <small>
                                                    <StarRating :rating="product.company_rating" />
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side-info item p-4">
                                        <h3 class="title m-0">
                                            {{ product.name}}
                                        </h3>
                                        <div>
                                            <small>
                                                <StarRating :rating="product.rating" /> <span v-show="product.review > 1"> rated by {{ product.reviews }} {{ product.review > 1 ? 'users' : 'user' }} </span>
                                            </small>
                                        </div>
                                        <heart-component :default="product.hearted" :id="product.id" @hearted="hearted($event)" type="decor" styleclass="btn btn-sm btn-outline-secondary"> Save Décor</heart-component>
                                        <p class="description d-block mt-4">
                                            {{ product.description }}
                                        </p>
                                    </div>
                                    <div class="side-info item p-4">
                                        <h3 style="font-size:1.1rem;">Product Details</h3>
                                        <table class='w-100'>
                                            <tr>
                                                <td class="text-bold">Event Type</td>
                                                <td>{{ product.event_type }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold">Product Type</td>
                                                <td>{{ product.product_type }}</td>
                                            </tr>
                                            <tr>
                                                <td>Colours</td>
                                                <td><color v-for="color in product.colors" :color="color" :key="color.id"></color></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- <div class="side-info item p-4">
                                        <h3 style="font-size:1.1rem">Related Items</h3>
                                        <div class="row">
                                            <div class="col-12 col-xl-4 col-md-6 col-sm-12 col-lg-6" v-for="relateditem in relatedItems" :key="relateditem.id">
                                                <div class="related-item" @click="setActiveProduct(relateditem)" :style="{'background-image': `url('${relateditem.thumbnail}')`}">
                                                </div>
                                            </div>
                                        </div>    
                                    </div> -->

                                    <div class="side-info item p-4">
                                        <review-component @reviewed="reviewed" type="product" v-if="isModalOpen" :id="product.id"></review-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Color from '../../../Ui/Color.vue'
import StarRating from '../../../Ui/StarRating.vue'
export default {
    props: ['productid'],
    data(){
        return {
            product: [],
            isModalOpen: false,
            activeProduct: [],
            related: [],
            mainImage: '',
            backgroundCss: ``
        }
    },
    components:{
        color: Color,
        StarRating
    },
    created(){
        axios.get('/decor/' + this.productid)
            .then( response => {
                this.product = response.data.data
                this.activeProduct = this.product
                this.mainImage = this.product.thumbnail
                this.backgroundCss = `padding-top:75%; background-size:cover;background-position:center; cursor:pointer; background-image:url(${this.product.thumbnail})` 
            }) 
            .catch( error => {
                console.log(error)
            })
    },
    computed:{
        relatedItems(){
            if(this.isModalOpen){
                return _.sampleSize(this.related, 12);
            }else{
                return _.sampleSize(this.related, 12);
            }
        },
         modalId(){
            return "modal-" + this.activeProduct.id
         }
    },
    watch:{
        isModalOpen(){
      
            this.mainImage = this.product.thumbnail

            if(this.isModalOpen){
                document.body.style.overflow = 'hidden';
            }else{
                document.body.style.overflow = 'auto';
            }
        },
    },
    methods:{
        setActiveProduct(product){
            this.activeProduct = product
            this.mainImage = product.thumbnail
        },
        // openModal(){
        //     this.isModalOpen = true
        // },

        hearted(val){
            this.activeProduct.hearted = !this.activeProduct.hearted
            if(val){
                this.activeProduct.hearts++
            }else{
                this.activeProduct.hearts--
            }
        },

        reviewed(){
            this.activeProduct.reviews++
        }
        
    },

}
</script>

<style lang="scss" scoped>
    .cursor-pointer{
        cursor: pointer;
    }
    .card-img-top{
        height: 250px;

        @media (min-width: 1561px){
            height: 350px;    
        }

        @media (min-width: 1281px) and (max-width: 1560px)  {
  
             height: 280px;
        
        }

        /* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {
        
         height: 250px;
        
        }

        /* 
        ##Device = Tablets, Ipads (portrait)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {
        
              height: 100px;
        
        }

        /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        
              height: 280px;
        
        }

        /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
        */

        @media (min-width: 481px) and (max-width: 767px) {
        
              height: 180px;
        
        }

        /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
        */

        @media (min-width: 320px) and (max-width: 480px) {
        
        //CSS
        
        }
    }


    .company-name{
        &:hover{
            text-decoration: underline;
        }
    }

     .other-image img{
         width: 100px;
        height: 100px;
        margin:10px;
        cursor: pointer;
    }



    .description{
        color:#6b6b6b;
    }

    .related-item{
        background-size:cover;
        width: 100%;
        height: 100px;
        margin-bottom:2em;
        cursor: pointer;
    }

    .image-list{
        height: 150px;
        overflow-y: auto;
    }

    .main-image{
        height: 100vh;
        position: relative;
    }

    .with-images{
            height: calc(100vh - 150px);
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .side-info{
        .title{
            font-size:1.2rem;
        }
    }

    .item{
        border-bottom:1px solid #f1f1f1;
    }

    .supplier-box{
        position: relative;
        padding-right: 50px;
    }

    .top-button-close-div{
        height: 50px;
        position: absolute;
        top:0;
        right: 0;
    }

        .close-button{
        border:none;
        background-color:transparent;
        font-size:24px;
        cursor: pointer;
    }

    .product-information{
        height: calc(100vh);
        overflow: auto;
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .close{
        font-size:24px !important;
    }

    .product-gallery{
        height: 100vh;
        border-right:1px solid #ccc;
    }

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-body{
        padding:0px;
    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color:#fff; 
    }

    .modal-header-full-width  {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width  {
        border-top: 1px solid #9ea2a2 !important;
    }
</style>