<template>
    <div>
        <form action="/request-3d" @submit="handleSubmit()" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="_token" :value="token">
            <div class='mb-4'>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <input type="radio" class="d-none" v-model="isDetailedForm" id="isDetailedForm1" value="0">
                        <label @click='firstload == false' for="isDetailedForm1" type="button" class="btn btn-outline-light text-muted btn-sm" :class="{active : isDetailedForm == 0}">I am after an idea on pricing.</label>
                       
                        <input type="radio" class="d-none" v-model="isDetailedForm" id="isDetailedForm2" value="1">
                        <label @click='firstload == false' type="button" for="isDetailedForm2" class="btn btn-outline-light text-muted btn-sm" :class="{active : isDetailedForm == 1}"> I am ready to start my 3D project</label>
                    </div>
                </div>
            </div>
            <div class="mb-4 mt-2 mt-3">  
                <div class="form-group">
                    <label class="small-text-space icon">* Company Name</label>
                    <small id="passwordHelpBlock" class="form-text small-text-space text-orange">
                         Registered company or business name.
                    </small>              
                </div>
                <input type="text" name="company_name" required placeholder=" company name" class="form-control">
            </div>
            <div class="mb-4 mt-3">  
                <div class="form-group">
                    <label class="small-text-space icon">* Email Address</label>
                    <small id="passwordHelpBlock" class="form-text small-text-space text-orange">
                        Email address where we can contact you.
                    </small>              
                </div>
                <input type="text" name="email_address" required placeholder=" email address" class="form-control">
            </div>
            <hr>
            <div class="row">
             
                <div class="col-lg-12" v-if="formSelect != 'QuickForm'">
                    <label for="staticEmail" class="">* Category</label>
                    <div class="row-space-3d">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <select class="form-control mb-1" v-model="formSelect"  id="exampleFormControlSelect1">
                                    <option value="EventSpace">Event Space</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Candleware">Candleware</option>
                                    <option value="Glassware">Glassware</option>
                                    <option value="Chandelier">Chandelier</option>
                                    <option value="Tableware">Tableware</option>
                                </select>
                            </div>
                            <div class="col-sm-3" v-if="formSelect == 'Furniture'">
                                <select class="form-control mb-1" v-model="furnitureType" id="exampleFormControlSelect1">
                                    <option value="Table">Tables</option>
                                    <option value="Chairs">Chairs</option>                                
                                </select>
                            </div>
                            <div class="col-sm-3" v-if="formSelect == 'Furniture' && furnitureType == 'Table'">
                                <select class="form-control mb-1" v-model="tableType" id="exampleFormControlSelect1">
                                    <option value="Rectangular" >Rectangular</option>
                                    <option value="Rounded">Rounded</option>
                                    <!-- <option value="Oval">Oval</option>                                 -->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <component v-bind:is="currentForm" class="tab"></component>

            <div class="row">
                <div class="col-lg-12 text-right">
                    <button type="submit" class="btn btn-lg btn-warning rounded text-white" :disabled="sending">{{ sending ? 'Sending...' : 'Submit' }}</button>
                </div>
            </div>
        </form>
    </div>    
</template>

<script>

import EventSpace from './Forms/EventSpace.vue';
import Candleware from './Forms/Candleware.vue';
import Chandelier from './Forms/Chandelier.vue';
import Tableware from './Forms/Tableware.vue';
import Glassware from './Forms/Glassware.vue';
import FurnitureChair from './Forms/FurnitureChair.vue';
import FurnitureTableRectangular from './Forms/FurnitureTableRectangular.vue';
import FurnitureTableRounded from './Forms/FurnitureTableRounded.vue';
import QuickForm from './Forms/QuickForm.vue';

export default {
    props:['form','token'],
    components:{
        EventSpace,
        Candleware,
        Chandelier,
        Tableware,
        Glassware,
        FurnitureChair,
        FurnitureTableRectangular,
        FurnitureTableRounded,
        QuickForm
    },
    data(){
        return {
            formSelect: '',
            furnitureType: 'Table',
            tableType: 'Rectangular',
            sending: false,
            isDetailedForm: 0,
            firstload: true
        }
    },
    methods:{
        handleSubmit(){
            this.sending = true;
        },

        updateUrl(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?myNewUrlQuery=1';
                window.history.pushState({path:newurl},'',newurl);
            }
        }
    },
    created(){
        if(this.form){
            if(this.form != 'QuickForm'){
                this.isDetailedForm = 1
            }
            this.formSelect = this.form
        }else{
            this.formSelect = 'QuickForm'
        }

        
    },
    watch:{
        formSelect(){
            var queryParams = new URLSearchParams(window.location.search);
            queryParams.set("form", this.formSelect);
            history.replaceState(null, null, "?"+queryParams.toString());
        },
        isDetailedForm(){
            if(this.isDetailedForm == 1){
                if(this.formSelect == "QuickForm"){
                    this.formSelect = "EventSpace"
                }
            }else{
                this.formSelect = "QuickForm"
            }
        }
    },
    computed:{

        currentForm(){
            if(this.formSelect != 'Furniture'){
                return this.formSelect
            }else{
                if(this.furnitureType == "Chairs"){
                    return 'FurnitureChair'
                }else{
                    if(this.tableType == "Rectangular"){
                        return "FurnitureTableRectangular"
                    }else if(this.tableType == "Rounded"){
                        return "FurnitureTableRounded"
                    }else{

                    }
                }
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .btn-group{
            .active{
                    background-color:#f39c12 !important;
                    color:#fff !important;
            }

            label{
                font-weight: normal;
                font-size: 16px;
                padding:10px;
                white-space: pre-wrap;
                appearance: none;                 
            }
    }
    label{
        font-weight: bold;
    }
</style>