<template>
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 pl-4 pr-4">
                <div class="filter-box bg-white p-3">
                    
                    <div class="search-box">
                        <p>
                            <venue-seach prefixname="inspiration_" :currentlocation="getCurrentPosition" @selected="getVenueSearchData" @changedistance="distanceChanged" @clear="cleaVenueSearch"  styleclass='form-control form-input-sm'></venue-seach>
                        </p>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 p-1 pl-3">Filters</div>
                        <div class="col-sm-6 text-right">
                            <a href="#" class="text-orange btn btn-sm pt-1 pb-1" v-show="clearShowing" @click.prevent="clearCategories()"><small><i class="fa fa-remove"></i> Clear</small></a> 
                        </div>
                    </div>
                    <div class="filter-groups"  >
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="'event' + event_type.id">
                            <input type="checkbox" :value="event_type.id" :id="event_type.id" @change="event_type.checked = !event_type.checked" v-model="caterTypesCategories" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div>
                    
                    <!-- for the types -->
                    <div v-for="event_type in event_types" class="filter-groups" :key="'type' + event_type.id" v-if="event_type.checked">
                        <h5>{{ event_type.name }} Type</h5>
                        <div class="chips" v-for="type in event_type.types" :key="type.id">
                            <input type="checkbox" :value="type.id" :id="type.id" v-model="styleCategories" >
                            <label :for="type.id"> {{ type.name }}</label>
                        </div>
                    </div>

                    <!-- for the setting -->
                    <div v-for="event_type in event_types" class="filter-groups" :key="'setting' + event_type.id" v-if="event_type.checked">
                        <h5>{{ event_type.name }} Settings</h5>
                        <div class="chips" v-for="setting in event_type.settings" :key="setting.id">
                            <input type="checkbox" :value="setting.id" :id="setting.id" v-model="settingCategories" >
                            <label :for="setting.id"> {{ setting.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Colour</h5>
                        <div class="chips" v-for="color in colors" :key="color.id">
                            <input type="checkbox" :value="color.id" :id="color.id" v-model="colorsCategories" >
                            <label :for="color.id"> {{ color.name }}</label>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="col-sm-10">
                <!-- <div class="inspiration-grid-index" v-masonry origin-left="false" transition-duration="0.3s" origin-top="true" item-selector=".inspiration-item"> -->
                <masonry   
                    :cols="3"
                    :gutter="10" >
                    <Item  :inspiration="inspiration" v-for="inspiration in inspirations" :key="inspiration.id" />
                    <LoadingItem v-for="height in loadingHeights" :item="height" :key="height" />
                </masonry>
                <div class="text-center text-muted mt-5 p-5" v-show="noInspiration">
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                    <div>
                        <h4 class="text-muted mt-3">We cant find any item.</h4>
                    </div>
                </div>
                <!-- <div v-show="loadingContent" class="text-center mt-4">
                    <i class="fa fa-spin fa-spinner" ></i> Loading...
                </div> -->
                <div class="text-center mt-3 d-block"  style="display:block" @click.prevent="loadMore()" v-if="links.next != null && inspirations.length > 0">
                    <a href="#" class="text-orange btn btn-outline-warning rounded-0" v-show="!loadingContent">Load More</a>
                </div>
            </div>
             <!-- <div class="col-sm-2">
             </div> -->
        </div>
  </div>
</template>

<script>
import Item from './Item'
import LoadingItem from './LoadingPlaceHolder/Item'
import { createHash } from 'crypto';
export default {
    props:['defaultCategory', 'defaultCategoryParent', 'supplier', 'istagged'],
    components:{
        Item,
        LoadingItem
    },
    data(){
        return {
            links:{},
            loadingContent:true,
            categories:[],
            inspirations:[],
            selectedEventTypeId:{},
            selectedEventTypeObject:{},
            event_types:[],
            colors:[],
            searchkey:'',
            noInspiration: false,
            defaultSupplier: this.supplier ? this.supplier : null,

        //selected filter items
            caterTypesCategories: [],
            styleCategories: [],
            settingCategories: [],
            colorsCategories: [],
        
        //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10,
            venue_id: '',
            getCurrentPosition: true
            
        }
    },
    
    created(){
        this.loadEventType();

        navigator.permissions.query({
            name: 'geolocation'
        }).then(permission => {
            if(permission.state != "granted"){
                this.getInspirationsNoDebounce()
            }
        }) 
    
    },

    mounted () {
        this.scroll()
        
    },

    watch:{

        categories(){
            this.inspirations = []
            this.loadingContent = true
            this.getInspirations()
        },

        selectedEventTypeId(){
            this.caterTypesCategories = [],
            this.caterTypesCategories.push(this.selectedEventTypeId)

            var selected = _.find(this.event_types, ['id', this.selectedEventTypeId]);
            this.selectedEventTypeObject = selected

            this.categories = []
            if(this.selectedEventTypeId){
                this.categories.push(this.selectedEventTypeId)
            }
        },
        
        caterTypesCategories(){
            this.loadingContent = true
            this.inspirations = []
            this.getInspirations();
            if(this.caterTypesCategories.length < 1){
                this.settingCategories = []
                this.styleCategories = []
            }
        },

        settingCategories(){
            this.loadingContent = true
            this.inspirations = []
            this.getInspirations();
        },

        styleCategories(){
            this.loadingContent = true
            this.inspirations = []
            this.getInspirations();
        },

        colorsCategories(){
            this.loadingContent = true
            this.inspirations = []
            this.getInspirations();
        },

        searchkey(){
            this.loadingContent = true
            this.inspirations = []
            this.getInspirations();
        },

        distance(){
            this.loadingContent = true
            if(this.longitude && this.latitude){
                this.inspirations = []
               this.getInspirations();
               
            }
        }

    },
    computed:{
        loadingHeights(){
            if(this.loadingContent){
                return [
                    '470px',
                    '360px',
                    '640px',
                    '740px',
                    '590px'
                ]
            }else{
                return []
            }
        },
        clearShowing(){
            if( this.caterTypesCategories.length > 0 || this.styleCategories.length > 0 || this.settingCategories.length > 0 || this.colorsCategories.length > 0){
                return true
            } 
        }
    },
    methods:{
        scroll () {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight + 900 >= document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    if(this.links.next != null){
                        if(!this.loadingContent){
                            this.loadMore()
                        }
                    }
                }
            }
        },
        distanceChanged(e){
            this.distance = e.distance
        },

          //Clear Categories
        clearCategories(){
            this.categories = []
            this.caterTypesCategories = []
            this.styleCategories = []
            this.settingCategories = []
            this.colorsCategories = []

            this.event_types.forEach( e => {
                e.checked = false
            })
        },

        getVenueSearchData(e){
            this.latitude = e.latitude
            this.longitude = e.longitude
            this.locationsearch = e.name
            this.distance = e.distance
            this.venue_id = e.venue_id
            this.inspirations = []
            this.getInspirations()
        },

        setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.locationsearch = geolocation.formatted_address
            this.inspirations = []
            this.getInspirations()
        },

        cleaVenueSearch(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.venue_id = ""
            this.inspirations = []
            this.getInspirations()
        },

        //loading inspirations
        getInspirations: _.debounce( function(link = null){
            
            // this.inspirations = []
            this.loadingContent = true
            this.noInspiration = false;

            axios.post(link ? link : '/inspiration/list',{
                    supplier: this.defaultSupplier,
                    event_types: this.caterTypesCategories ? this.caterTypesCategories : [],
                    settings: this.settingCategories ? this.settingCategories : [],
                    styles: this.styleCategories ? this.styleCategories : [],
                    colors: this.colorsCategories ? this.colorsCategories : [],
                    venue_id: this.venue_id,
                    
                    // location: this.searchkey,
                    isTagged: this.istagged,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance, 
                })
                .then( response => {
                    if(link){
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }else{
                            response.data.data.map( e => {
                                this.inspirations.push(e)
                            })
                        }
                    }else{
                        this.inspirations = response.data.data
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        }, 800),

        async getInspirationsNoDebounce(link = null){
            // this.inspirations = []
            this.loadingContent = true
            this.noInspiration = false;

            await axios.post(link ? link : '/inspiration/list',{
                    supplier: this.defaultSupplier,
                    event_types: this.caterTypesCategories ? this.caterTypesCategories : [],
                    settings: this.settingCategories ? this.settingCategories : [],
                    styles: this.styleCategories ? this.styleCategories : [],
                    colors: this.colorsCategories ? this.colorsCategories : [],
                    venue_id: this.venue_id,
                    
                    // location: this.searchkey,
                    isTagged: this.istagged,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    distance: this.distance, 
                })
                .then( response => {
                    if(link){
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }else{
                            response.data.data.map( e => {
                                this.inspirations.push(e)
                            })
                        }
                    }else{
                        this.inspirations = response.data.data
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },

         // Load more Button
        loadMore(){
            this.getInspirationsNoDebounce(this.links.next);
        },


        //load event types
        async loadEventType(){
            await axios.get('/inspiration/filters-categories')
                .then( response => {
                    this.event_types = response.data.events
                    this.colors = response.data.colors

                    //loading default category
                    if(this.defaultCategoryParent != ""){
                        this.caterTypesCategories = [this.defaultCategoryParent]
                        var parent = this.event_types.find( e => {
                            return e.id == this.defaultCategoryParent
                        });
                        parent.checked = true
                        
                    }

                    if(this.defaultCategory != ""){
                        this.styleCategories = [this.defaultCategory]
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },
    }
}
</script>

<style lang="scss" scoped>

    
    input{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select{
        font-family: "Georgia Italic";
        text-align: left;
        font-size: 13px;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        /* color: #ababab; */
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;
        
        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px; 
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>