<template>
      <a class="mr-2"
            @mouseover="mouseover"
            @mouseout="mouseout"
            v-bind:class="styleclass"
            @click.prevent="click" >
          <i class="fa"
                v-bind:class="classObject"></i>
          <slot></slot>
      </a>
  </template>

<script>
  export default {
      props:['id', 'type', 'styleclass', 'default'],
      data(){
          return{
              hearted:false,
              hover:false,
              classObject:{
                  'text-danger': this.hearted,
                  "fa-heart": this.hover,
                  "fa-heart-o": !this.hover
                }
          }
      },
      created(){
          if(this.default){
              this.hearted = true
          }
      },
      methods:{
        mouseover(){
              this.hover == true
          },
        mouseout(){
              this.hover == false
          },

          click(){
              this.hearted = !this.hearted
              // axios.post('https://designa.studio/' + this.type + '/hearted',{
              axios.post('/' + this.type + '/hearted',{
                  id: this.id
              })
                  .then( response => {
                      if(response.data.status == "401"){
                          $('#loginModal').modal('show')
                          this.hearted = false
                      }else{
                          // this.hearted = !this.hearted
                          this.$emit('hearted', response.data.hearted);
                      }
                  })
                  .catch( error => {
                      this.hearted = false
                      console.log(error)
                  })

          }
      }
  }
  </script>

  <style scoped lang="scss">
      a:active i{
           transform: scale(1.2);
           outline:none;
           shadow:none;
           border:none;
      }

      a:focus{
        outline: none !important;
        box-shadow: none !important;
      }

      a{
        font-size:3em;
        color:#fff;
        transition: all linear .2s;
        background-color: transparent !important;
        padding-left:5px;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
            color:#fff;
        }
      }
  </style>
