<template>
   <div class="inspiration-masonry-item shadow-light">
        <a :href="slug">
            <img v-lazy="inspiration.thumbnail" alt="">
            <h4 class="title">{{ inspiration.name }} <br>
                <small><i class="fa fa-map-marker" style="font-size:11px"></i> {{ inspiration.location }}</small>
            </h4>
         </a>
        <div class="other-info">
            <div class="w-50 company-info">
                <img v-lazy="inspiration.company_thumbnail"  alt="" style="width:32px; height:32px;" class="supplier-logo"> <br>
                <a :href="inspiration.company_link" class="text-light">
                    {{ inspiration.company }}
                </a>
            </div>
            <div class="w-50 text-right mt--3">
                <HeartComponent :default="inspiration.hearted"  type="inspiration" :id="inspiration.id"/>
                <ShareButton :link="inspiration.link" />
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</template>

<script>
import ShareButton from './ShareComponent.vue'
import HeartComponent from "./HeartComponent.vue"
export default {
    props:['inspiration'],
    components:{
        ShareButton,
        HeartComponent
    },
    computed:{
        slug(){
            return '/inspiration/' + this.inspiration.slug
        },
    }
}
</script>

<style lang="scss" scoped>
    .supplier-logo{
        width:32px;
        height: 32px;
    }

    .btn-icon{
        background-color: #f7f5f5ad;

        &:hover{
            background-color:#fff;
            // color:indianred;
        }
    }
</style>
