<template>
  <div>
    <masonry   
        :cols="3"
        :gutter="10" >
        <div class="inspiration-masonry-item shadow-light">
            <a href="#">
                //image
                <img v-lazy="inspiration.thumbnail" alt="">
                <h4 class="title">ee<br>
                    <small><i class="fa fa-map-marker" style="font-size:11px"></i> ee</small>
                </h4>
            </a>   
                <div class="other-info">
                    <div class="w-50 company-info">
                        <img v-lazy="inspiration.company_thumbnail"  alt="" style="width:32px; height:32px;" class="supplier-logo"> <br>
                        <a :href="inspiration.company_link" class="text-light">
                            {{ inspiration.company }}
                        </a>
                    </div>
                    <div class="w-50 text-right pt-3">
                        <!-- <button class="btn btn-sm btn-icon" @click.prevent="alert('hehe')">
                            <i class="fa fa-heart"></i>
                        </button> -->
                        <heart-component :default="inspiration.hearted"  type="inspiration" :id="inspiration.id" styleclass="btn btn-sm btn-icon"></heart-component>
                        <!-- <button class='btn btn-sm btn-icon' @click.prevent="alert('hehe')">
                            <i class="fa fa-share"></i>
                        </button> -->
                        <ShareButton :link="inspiration.link" />
                    </div>
                </div>
                <div class="shadow"></div>  
        </div>
    </masonry>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>