<template>
  <div class="main">
        <a class='btn-icon'>
            <i class="fa fa-share-square-o"></i>
        </a>
        <div class="social-media-options">
                <a href="#" @click.prevent="shareFb" class="btn btn-block">
                        <i class="fa fa-facebook"></i>
                </a>
                <a href="#" @click.prevent="shareTwitter" class="btn btn-block btn-outline">
                        <i class="fa fa-twitter"></i>
                </a>
                <a href="#" @click.prevent="shareInstagram" class="btn btn-block btn-outline">
                        <i class="fa fa-instagram"></i>
                </a>
        </div>

  </div>
</template>

<script>
export default {
        props:['link'],
        methods:{
                shareFb(){
                     window.open(`http://www.facebook.com/sharer.php?u=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");
                },
                shareTwitter(){
                     window.open(`https://twitter.com/share?url=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");
                },
                shareInstagram(){
                     window.open(`http://www.facebook.com/sharer.php?u=${this.link}`, "_blank", "scrollbars=yes,resizable=yes,width=400,height=400");
                },
        }
}
</script>

<style lang="scss" scoped >
        .main{
                display:inline-block;
                position: relative;
                // margin-top:10px;

                .btn-icon{
                    font-size:3.2em;
                    color:#fff;
                    transition: all linear .2s;
                    position: relative;
                    top:3px;


                    &:hover{
                        transform: scale(1.1);
                        color:#fff;
                    }
                }

                &:hover{
                        .social-media-options{
                                max-height: 150px;
                                border-radius: 10px;
                                background-color:#fff;
                                a{
                                         display: block;
                                }
                        }
                }

                .social-media-options{
                        position: absolute;
                        padding:1px;
                        z-index: 1;
                        max-height: 0px;
                        transition: max-height 0.4s;
                        right: 0;
                        bottom: 0px;

                        a{
                            border-radius: none;
                            display: none;
                            transition: display 1s;

                            &:hover{
                                    color:#f39c12;
                            }
                        }
                }
        }
</style>
