<template>
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 pl-4 pr-4">
                <div class="filter-box bg-white p-3">
                     
                    <div class="search-box" v-if="!isvenue">
                        <h5>Venu or Location</h5>
                        <p>
                            <geolocation-autocomplete @clear="clearGeolocation" @selected="setGeolocation" styleclass='form-control form-input-sm'></geolocation-autocomplete>
                        </p>
                    </div>
                    <div class="filter-groups"  >
                        <h5>Event Type</h5>
                        <div class="chips main" v-for="event_type in event_types" :key="'event' + event_type.id">
                            <input type="checkbox" :value="event_type.id" :id="event_type.id" @change="event_type.checked = !event_type.checked" v-model="caterTypesCategories" >
                            <label :for="event_type.id"> {{ event_type.name }}</label>
                        </div>
                    </div>
                    
                    <!-- for the types -->
                    <div v-for="event_type in event_types" class="filter-groups" :key="'type' + event_type.id" v-if="event_type.checked">
                        <h5>{{ event_type.name }} Type</h5>
                        <div class="chips" v-for="type in event_type.types" :key="type.id">
                            <input type="checkbox" :value="type.id" :id="type.id" v-model="styleCategories" >
                            <label :for="type.id"> {{ type.name }}</label>
                        </div>
                    </div>

                    <!-- for the setting -->
                    <div v-for="event_type in event_types" class="filter-groups" :key="'setting' + event_type.id" v-if="event_type.checked">
                        <h5>{{ event_type.name }} Settings</h5>
                        <div class="chips" v-for="setting in event_type.settings" :key="setting.id">
                            <input type="checkbox" :value="setting.id" :id="setting.id" v-model="settingCategories" >
                            <label :for="setting.id"> {{ setting.name }}</label>
                        </div>
                    </div>

                    <div class="filter-groups"  >
                        <h5>Colour</h5>
                        <div class="chips" v-for="color in colors" :key="color.id">
                            <input type="checkbox" :value="color.id" :id="color.id" v-model="colorsCategories" >
                            <label :for="color.id"> {{ color.name }}</label>
                        </div>
                    </div>
                </div> 
            </div> 
        
            <div class="col-sm-10">
                       <div class="text-right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="radio" class="d-none" v-model="scope" id="all-scope" value="all">
                                        <label for="all-scope" type="button" class="btn btn-outline-light active text-muted btn-sm">All</label>
                                        <input type="radio" class="d-none" v-model="scope" id="owned" value="owned">
                                        <label type="button" for="owned" class="btn btn-outline-light  text-muted btn-sm">Posted</label>
                                        <input type="radio" class="d-none" v-model="scope" id="tagged" value="tagged">
                                        <label type="button" for="tagged" class="btn btn-outline-light  text-muted btn-sm">Tagged</label>
                                </div>
                        </div>
                <div class="inspiration-grid">
                    <Item :inspiration="inspiration" v-for="inspiration in inspirations" :key="inspiration.id" />
                </div>
                <div class="text-center text-muted mt-5 p-5" v-show="noInspiration">
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                </div>
                <div v-show="loadingContent" class="text-center mt-4">
                    <i class="fa fa-spin fa-spinner" ></i> Loading...
                </div>
                <div class="text-center mt-3 d-block" style="display:block" @click.prevent="loadMore()" v-if="links.next != null">
                    <a href="#" class="text-orange btn btn-outline-warning rounded-0" v-show="!loadingContent">Load More</a>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Item from './Item'
import { createHash } from 'crypto';
export default {
    props:['defaultCategory', 'defaultCategoryParent', 'supplier', 'istagged', 'isvenue'],
    components:{
        Item
    },
    data(){
        return {
            links:{},
            loadingContent:true,
            categories:[],
            inspirations:[],
            selectedEventTypeId:{},
            selectedEventTypeObject:{},
            event_types:[],
            colors:[],
            searchkey:'',
            noInspiration: false,
            defaultSupplier: this.supplier ? this.supplier : null,

            scope: 'all',

        //selected filter items
            caterTypesCategories: [],
            styleCategories: [],
            settingCategories: [],
            colorsCategories: [],

        //for locaiton filterings
            latitude: '',
            longitude: '',
            locationsearch:'',
            distance: 10
            
        }
    },
    created(){
        this.loadEventType();
        this.getColors();
        this.getInspirations()
    },
    watch:{
        categories: _.debounce(function(){
            this.inspirations = []
            this.getInspirations()
        }, 500),

        selectedEventTypeId(){
            this.caterTypesCategories = [],
            this.caterTypesCategories.push(this.selectedEventTypeId)

            var selected = _.find(this.event_types, ['id', this.selectedEventTypeId]);
            this.selectedEventTypeObject = selected

            this.categories = []
            if(this.selectedEventTypeId){
                this.categories.push(this.selectedEventTypeId)
            }
        },
        
        scope(){
           this.getInspirations();     
        },

        caterTypesCategories(){
            this.getInspirations();
        },

        settingCategories(){
            this.getInspirations();
        },

        styleCategories(){
            this.getInspirations();
        },

        colorsCategories(){
            this.getInspirations();
        },

        searchkey: _.debounce(function(){
            this.getInspirations();
        }, 500),

    },
    
    methods:{

        setGeolocation(geolocation){
            this.latitude = geolocation.latitude
            this.longitude = geolocation.longitude
            this.locationsearch = geolocation.formatted_address
            this.inspirations = []
            this.getproducts()
        },

        clearGeolocation(){
            this.latitude = ""
            this.longitude = ""
            this.locationsearch = ""
            this.inspirations = []
            this.getproducts()
        },

        //loading inspirations
        getInspirations(link = null){
            // this.inspirations = []
            this.loadingContent = true
            this.noInspiration = false;
            axios.post(link ? link : '/inspiration/list',{
                    supplier: this.defaultSupplier,
                    event_types: this.caterTypesCategories ? this.caterTypesCategories : '',
                    settings: this.settingCategories ? this.settingCategories : '',
                    styles: this.styleCategories ? this.styleCategories : '',
                    colors: this.colorCategories ? this.colorCategories : '',
                    location: this.searchkey,
                    isTagged: this.istagged,
                    scope: this.scope
                })
                .then( response => {
                    //if load more clicks
                    if(link){
                        response.data.data.map( e => {
                            this.inspirations.push(e)
                        })
                    }else{
                        this.inspirations = response.data.data
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },
         // Load more Button
        loadMore(){
            this.getInspirations(this.links.next);
        },

        getColors(){
            axios.get('/api/category?type=color')
                .then( response => {
                    this.colors = response.data.list
                })
                .catch(error => {
                    console.log(error)
                })
        },
     

        //load event types
        loadEventType(){
            axios.get('/inspiration/filters-categories')
                .then( response => {
                    this.event_types = response.data.events
                    this.colors = response.data.colors

                    //loading default category
                    if(this.defaultCategory != "" && this.defaultCategoryParent != ""){
                        this.categories = [this.defaultCategory]
                        // this.selectedEventTypeId =  this.defaultCategoryParent
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },
    }
}
</script>

<style lang="scss" scoped>
        // .btn-group{
        //         .active{
        //                 background-color:#f39c12 !important;
        //                 color:#fff !important;
        //         }
        // }

        input[type="radio"]:checked+label{ 
                background-color:#f39c12 !important;
                color:#fff !important;
        } 
        .search-input{
                padding:3px;
        }

        .filter-groups{
                padding:20px 0px 20px 0px;
                // border-top: 1px solid #ccc;
                border-bottom: 1px solid #ececec;
                
                h5{
                font: size 16px;
                margin-bottom: 10px;
                }
        }

        .chips{
                display:inline-block;
                margin:0px 3px 3px 0px;
                font-size:12px;

                .main{
                label{
                        font-size:18px;
                }
                }

                input:checked + label {
                border:1px solid #f39c12;
                color:white;
                background-color:#f39c12;
                }

                label{
                border:1px solid #f8e7ce;
                border-radius: 10px; 
                padding: 0px 5px 0px 5px;
                cursor: pointer;
                }

                input{
                display:none;
                }

        }

</style>