<template>
  <div class="container">
        <div class="row">
    
            <div class="col-sm-12">
                <div class="inspiration-grid">
                    <Item :inspiration="inspiration" v-for="inspiration in inspirations" :key="inspiration.id" />
                </div>
                <div class="text-center text-muted mt-5 p-5" v-show="noInspiration">
                    <img src="/images/placeholders/no-data.png"  class="mw-100" alt="">
                </div>
                <div v-show="loadingContent" class="text-center mt-4">
                    <i class="fa fa-spin fa-spinner" ></i> Loading...
                </div>
                <div class="text-center mt-3 d-block" style="display:block" @click.prevent="loadMore()" v-if="links.next != null">
                    <a href="#" class="text-orange btn btn-outline-warning rounded-0" v-show="!loadingContent">Load More</a>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Item from './Item'
export default {
    props:['supplier', 'istagged'],
    components:{
        Item
    },
    data(){
        return {
            links:{},
            loadingContent:true,
            categories:[],
            inspirations:[],
            selectedEventTypeId:{},
            selectedEventTypeObject:{},
            event_types:[],
            colors:[],
            searchkey:'',
            noInspiration: false,
            defaultSupplier: this.supplier ? this.supplier : null,

        //selected filter items
            caterTypesCategories: [],
            styleCategories: [],
            settingCategories: [],
            colorsCategories: []
            
        }
    },
    created(){
       this.getInspirations()
    },
    watch:{
      

    },
    
    methods:{
        //loading inspirations
        getInspirations(link = null){
            // this.inspirations = []
            this.loadingContent = true
            this.noInspiration = false;
            axios.post(link ? link : '/inspiration/tagged',{
                    supplier: this.defaultSupplier,
                    isTagged: this.istagged
                })
                .then( response => {
                    //if load more clicks
                    if(link){
                        response.data.data.map( e => {
                            this.inspirations.push(e)
                        })
                    }else{
                        this.inspirations = response.data.data
                        if(response.data.data.length < 1){
                            this.noInspiration = true;
                        }
                    }

                    this.links = response.data.links
                    this.loadingContent = false
                })
                .catch(error => {
                    console.log(error)
                })
        },
         // Load more Button
        loadMore(){
            this.getInspirations(this.links.next);
        },

     

        //load event types
        loadEventType(){
            axios.get('/inspiration/filters-categories')
                .then( response => {
                    this.event_types = response.data.events
                    this.colors = response.data.colors

                    //loading default category
                    if(this.defaultCategory != "" && this.defaultCategoryParent != ""){
                        this.categories = [this.defaultCategory]
                        // this.selectedEventTypeId =  this.defaultCategoryParent
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },
    }
}
</script>

<style lang="scss" scoped>

    .search-input{
        padding:3px;
    }

    .filter-groups{
        padding:20px 0px 20px 0px;
        // border-top: 1px solid #ccc;
        border-bottom: 1px solid #ececec;
        
        h5{
            font: size 16px;
            margin-bottom: 10px;
        }
    }

    .chips{
        display:inline-block;
        margin:0px 3px 3px 0px;
        font-size:12px;

        .main{
            label{
                font-size:18px;
            }
        }

        input:checked + label {
            border:1px solid #f39c12;
            color:white;
            background-color:#f39c12;
        }

        label{
           border:1px solid #f8e7ce;
           border-radius: 10px; 
           padding: 0px 5px 0px 5px;
           cursor: pointer;
        }

        input{
            display:none;
        }

    }

</style>