<template>
    <div id="inquiry-box">
        <transition name="fade">
            <div class="card" v-show="showCard">
                <div class="card-body">
                    <h5 class="card-title">Need Help or have a Question? </h5>
                    <div class="form-div" v-show="showForm">
                        <form @submit.prevent="submitForm()" id="inquiry-form-data">
                            <p>
                                <small class="card-text">Please fill out the below fields and one our team will be in touch within 24 hours.</small>
                            </p>
                            <p>
                                <input type="text" required name="name" placeholder=" Name" class="form-control form-input-sm">
                            </p>
                            <p>
                                <input type="email" required name="email" placeholder=" Email Address" class="form-control form-input-sm">
                            </p>
                            <p>
                                <input type="text" required  name="contact_number" placeholder=" Contact Number" class="form-control form-input-sm">
                            </p>
                            <p>
                                <textarea name="message" required id="" class="form-control form-input-sm" placeholder=" Your message.." rows="4"></textarea>
                            </p>
                            <button type="submit" :disabled="sending" class="btn btn-warning text-white"><i class="fa fa-spin fa-spinner" v-show="sending"></i> Submit</button>
                        </form>
                    </div>
                    <div class="success-div text-center" v-show="!showForm">
                        <div class="success-checkmark">
                            <div class="check-icon">
                                <span class="icon-line line-tip"></span>
                                <span class="icon-line line-long"></span>
                                <div class="icon-circle"></div>
                                <div class="icon-fix"></div>
                            </div>
                        </div>
                        <h4>Message Sent!</h4>
                        <div>We will be in touch soon.</div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="text-right mt-2">
            <a href="#" @click.prevent="showCard = !showCard" id="open-button">
                <i class="fa fa-comment" v-show="!showCard"></i>
                <i class="fa fa-remove" v-show="showCard"></i>
            </a>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                showForm: true,
                showCard: false,  
                sending: false
            }
        },
        methods:{
            submitForm(){
                this.sending = true
                axios.post('/inquiry', $('#inquiry-form-data').serialize())
                    .then(response => {
                        this.showForm = !this.showForm
                        setTimeout(()=>{
                            this.showForm = !this.showForm
                        }, 5000)

                        $('#inquiry-form-data').trigger('reset')
                        this.sending = false
                    })
                    .catch( error => {
                        console.log(error)
                        this.sending = false
                    })
                
            }
        }
    }
</script>
<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .4s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    #inquiry-box{
        position:fixed;
        bottom:10px;
        right: 30px;
        z-index: 999;
        width: 400px;
    }

    #open-button{
        background-color:#f39c12;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: inline-block;
        position: relative;

        &:active i{
            transform: rotate(360deg)
        }

        i{
            position: absolute;
            left: 21px;
            bottom: 18px;
            font-size: 30px;
            color:#fff;
            transition: opacity .3s, transform .5s;
        }
    }
    
    .form-div{
        height: 390px;
    }

    .success-div{
        height: 390px;
        padding-top: 100px;
        text-align: center;
    }
    
    textarea{
        resize: none;
        overflow: auto;
    }


    .success-checkmark {
        width: 80px;
        height: 115px;
        margin:0 auto;
        
        .check-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid #e0b775;
            
            &::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }
            
            &::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }
            
            &::before, &::after {
                content: '';
                height: 100px;
                position: absolute;
                background: #FFFFFF;
                transform: rotate(-45deg);
            }
            
            .icon-line {
                height: 5px;
                background-color: #e2a543;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;
                
                &.line-tip {
                    top: 46px;
                    left: 14px;
                    width: 25px;
                    transform: rotate(45deg);
                    animation: icon-line-tip 0.75s;
                }
                
                &.line-long {
                    top: 38px;
                    right: 8px;
                    width: 47px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.75s;
                }
            }
            
            .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid #c49346;
            }
            
            .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: #FFFFFF;
            }
        }
    }

    @keyframes rotate-circle {
        0% {
            transform: rotate(-45deg);
        }
        5% {
            transform: rotate(-45deg);
        }
        12% {
            transform: rotate(-405deg);
        }
        100% {
            transform: rotate(-405deg);
        }
    }

    @keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }

    @keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }
</style>