<template>
    <div>
        <form @submit.prevent="submit" method="POST" id="formData">
            <h2>Main Contact</h2>
            <div class="event-box">
                <div class="form-row align-items-center">
                    <div class="col-sm-4 mb-1 text-left">              
                        <input type="text" required class="form-control" v-model="personal_name"  name="gname" placeholder="Guest Name">
                    </div>

                    <div class="col-sm-4 mb-1 text-left">              
                        <input type="email" required class="form-control" v-model="personal_email" name="gemail" placeholder="Guest Email">
                    </div>

                    <div class="col-sm-4 mb-1">              
                        <input type="text" class="form-control" v-model="personal_requirements" placeholder="Dietary Requirements (optional)">
                    </div>
                </div>
            </div>
            <br>
            <br>
    

            <h2>Addition Guest/s</h2>
            <div class="event-box">
                    <div class="form-row align-items-center">
                        <div class="col-sm-3 mb-1 text-left">              
                            <input type="text" class="form-control" v-model="name"  placeholder="Guest Name">
                        </div>

                        <div class="col-sm-3 mb-1 text-left">              
                            <input type="email" class="form-control"  v-model="email" placeholder="Guest Email">
                        </div>

                        <div class="col-sm-3 mb-1">              
                            <input type="text" class="form-control" v-model="requirements" placeholder="Dietary Requirements (optional)">
                        </div>
                        
                        <div class="col-sm- mb-1 mx-2 col-right">
                            <button type="button" @click.prevent="addItem" class="btn btn-add-details" >Add</button>
                        </div>
                    </div>
            </div>
            <div class="col-sm-4 text-left">              
                <input type="hidden" class="form-control" v-model="personal_name"  name="name[]" placeholder="Guest Name">
            </div>

            <div class="col-sm-4 text-left">              
                <input type="hidden" class="form-control" v-model="personal_email" name="email[]" placeholder="Guest Email">
            </div>

            <div class="col-sm-4">              
                <input type="hidden" class="form-control" name="requirements[]" v-model="personal_requirements" placeholder="Dietary Requirements (optional)">
            </div>
            <div class="list-add pl-5 pr-5">
                    <div class="list-box"  v-for="(reciepient, index) in reciepients" :key="index">
                        <div class="row text-left">
                            <div class="col-sm-4 mb-1 ">
                                <a href="#" @click.prevent="remove(index)"><i class="fa fa-times-circle-o check-circle" aria-hidden="true"></i> </a>
                                {{ reciepient.name }}
                                <input type="hidden" name="name[]" :value="reciepient.name">
                            </div>
                            <div class="col-sm-4 mb-1">
                                {{ reciepient.email }}
                                <input type="hidden" name="email[]" :value="reciepient.email">
                                
                            </div>
                            <div class="col-sm-4 mb-1">
                                {{ reciepient.requirements }}
                                <input type="hidden" name="requirements[]" :value="reciepient.requirements">
                            </div>
                        </div>
                    </div>
            </div>
                
            <div class="text-center text-success p-4" v-show="isSent" > Your registration has successfully be submitted.</div>
            <div class="row submit-box" v-if="!isSent">
                <div class="col-sm-12">          
                    <button type="submit"  class="btn btn-add-details">{{ buttonText }}</button>            
                </div>
            </div>
         </form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            reciepients: [],
            isSent: false,
            sending: false,
            buttonText: 'Submit',

            //vars
            name: '',
            email: '',
            requirements: '',

            personal_name: '',
            personal_email: '',
            personal_requirements: ''
        }
    },

    computed:{
        isDisabled(){
             if(this.reciepients.length < 1){
                 if(this.sending){
                     return 0
                 }
                return 1;
             }else{
                 return 0;
             }
                 
        }
    },

    methods:{
        submit(){
            var form = document.getElementById('formData')
            var formData = new FormData(form);
            this.sending = true
            this.buttonText = "Sending..";
            axios.post('/event-registration', formData)
                .then( e => {
                    this.isSent = true
                        this.sending = false
                        this.buttonText = "Submit";
                    setInterval(() => {
                        this.isSent = false
                        this.personal_name = '',
                        this.personal_email = '',
                        this.personal_requirements = ''
                        this.reciepients = []
                    }, 5000);
                })
                .catch( e => {
                    this.sending = false
                    this.buttonText = "Submit";
                    console.log(e)
                })
        },
        addItem(){
            this.reciepients.unshift({
                name: this.name,
                email: this.email,
                requirements : this.requirements != '' ? this.requirements : 'N/A'
            })  

            this.name = ''
            this.email = ''
            this.requirements = ''
        },

        remove(index){
            this.reciepients.splice(index, 1)
        }
    },
        
}
</script>